.img-border {
  height: 150px !important;
}
.list-title {
  font-weight: bolder;
}
.list-info {
  font-size: 18px;
}
.list-info li {
  margin-bottom: 6px;
}
.sector {
  font-size: 18px;
  color: #9aa4ae;
}
.code {
  color: #8babcb;
}
