.hoverText:hover {
 color: red;
 cursor: pointer;
}
.card-avatar {
  width: 30px;
  height: 30px;
}
.text-box-style{
  margin-top: -5%;
  font-family:Roboto, serif;
  font-weight: bolder;
  color: rgb(80, 82, 83);
}
