// colors
$white_color: #fff;

// accordion colors
$accordion_header_text_color: #086788;
$accordion_header_background_color: #f0f3f5;
$accordion_header_background_color_hover: #3b3b3b38;
$accordion_header_background_color_active: #eff0f6;

// button colors
$save_btn_color: #4dbd74;
$save_btn_hover_color: #4dbd74bf;
$back_to_list_btn_color: #20a8d8;
$back_to_list_btn_text_color: gray;
$back_to_list_btn_hover_color: #077aa3;

// footer configuration
$footer_height: 120px;
$nav_height: 120px;
$thin_border_color: #d9d9d9;

// sidebar colors
$sidebar_bg_color: #222850;
$sidebar_bg_active_cell: #313a77;
$sidebar_bg_hover_cell: #37428a;
$sidebar_icon_color: white;

// grid button colors
$primary_grid_btn_color: #20a8d8;

// picture icon close color
$icon-close-picture: #cc2222;
// picture icon camera color
$icon-camera-picture: #cecece;
//fieldset advancedSearch colors
$fieldset_color: #d3d3d3;

//spinner bg color
$spinner_backcolor: #373b8c;
//information icon color
$info-circle-color: #607d8b;

//border color invalid/dirty/touched
$border_color_invalid: red;
//color invalid/dirty/touched
$color_invalid: #dc3545;
//bg color for print
$bg_color_btn_print: #20a8d8;
//bg color for print hover
$bg_color_btn_print_hover: #1c97c2;
//bg color for special btn
$bg_color_btn_special: #ffa502;
$bg_color_btn_special_hover: #e67e22;

$bg_color_btn_search: #478c91;
$bg_color_btn_search_hover: #397074;

$color-suitable-icon: #336699;

//card configuration
$card_border_radius: 10px;
$card_header_color: white;
