<div class="card h-100">
  <!-- card header -->
  <div class="card-header">
    <div class="col-sm-5 mt-1">
      <h3 class="card-title mb-0">{{(isUpdateMode ? 'EDIT_PROGRAM': 'ADD_PROGRAM') | translate}}</h3>
    </div>
  </div>

  <!-- card-body -->
  <div class="card-body">

    <form class="form-horizontal" [formGroup]="mileageFormGroup">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-group row">
          <!-- begin mileage name -->
          <div class="col-lg-6">
            <div class="form-group row">
              <label class="col-lg-12 col-md-12 col-sm-12">{{'MILEAGE_NAME' | translate}}
                <span class="required">*</span></label>
              <div class="col-lg-8">
                <input class="form-control" formControlName="Name" type="text"
                  [ngClass]="{ 'has-error': (mileageFormGroup.controls.Name.touched || mileageFormGroup.controls.Name.dirty) && !mileageFormGroup.controls.Name.valid }">
                <app-control-messages [control]="mileageFormGroup.controls.Name"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>
            </div>
          </div>
          <!-- end mileage name -->
          <!-- begin mileage value -->
          <div class="col-lg-6">
            <div class="form-group row">
              <label class="col-lg-12 col-md-12 col-sm-12">{{'MILEAGE_VALUE' | translate}}
                <span class="required">*</span>
              </label>
              <div class="col-lg-8">
                <input class="form-control" formControlName="MileageValue" type="text"
                  [ngClass]="{ 'has-error': (mileageFormGroup.controls.MileageValue.touched || mileageFormGroup.controls.MileageValue.dirty) && !mileageFormGroup.controls.MileageValue.valid }">
                <app-control-messages [control]="mileageFormGroup.controls.MileageValue"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>
            </div>
          </div>
          <!-- end mileage value -->
        </div>
      </div>
    </form>
 <!-- Search -->
 <div class="row d-flex justify-content-between mt-3">
  <div class="d-flex justify-content-center" style="margin-left: 30px;">
    <!-- Search input -->
    <div class="col-12">
      <div class="form-group row">
        <div class="col-10 pl-1">
          <input type="text" class="form-control" autocomplete="off" placeholder="{{'SEARCH'|translate}}"
            name='value' aria-label="Search" style="width: 160px;" aria-describedby="addon-wrapping"
            [(ngModel)]='filterValue' (keyup)='doFilter()'>
        </div>
        <div class="col-2 p-1">
          <i class="fa fa-search fa-lg" aria-hidden="true" (click)='doFilter()'></i>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Search End-->
    <!-- Grid Start-->
    <kendo-grid [data]="gridSettings.gridData" [pageSize]="gridSettings.state.take" [skip]="gridSettings.state.skip"
      [sort]="gridSettings.state.sort" [sortable]="true" [pageable]="pagerSettings" [reorderable]="true" 
      (dataStateChange)="dataStateChange($event)" [selectable]="selectableSettings" [kendoGridSelectBy]="'Id'" 
      [selectedKeys]="selectedItemsIds" (selectedKeysChange)="onSelectedKeysChange()">

      <!--CheckBox field-->
      <kendo-grid-checkbox-column [width]="20">
        <ng-template kendoGridHeaderTemplate let-dataItem>
          <input class="k-checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox [state]="selectAllState"
            (selectAllChange)="onSelectAllChange($event)">
          <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
        </ng-template>
      </kendo-grid-checkbox-column>
      <!--End CheckBox field-->

      <!--Name Column Start-->
      <kendo-grid-column [field]="gridSettings.columnsConfig[0].field"
        [title]="gridSettings.columnsConfig[0].title |translate" [width]="200">
        <ng-template kendoGridHeaderTemplate>
          <span tooltip="{{gridSettings.columnsConfig[0].tooltip|translate}}"
            theme="light">{{gridSettings.columnsConfig[0].title|translate}}</span>
        </ng-template>
      </kendo-grid-column>
      <!--Name Column End-->

       <!-- ExpectedDuration Start-->
       <kendo-grid-column [field]="gridSettings.columnsConfig[1].field"
       [title]="gridSettings.columnsConfig[1].title |translate" [width]="150">
       <ng-template kendoGridCellTemplate let-dataItem="dataItem">
         <span *ngIf="dataItem && (dataItem.DurationInDays > 0)">
           {{dataItem.DurationInDays}}&nbsp;{{'DAYS' | translate}}
         </span>
         <span *ngIf="dataItem && (dataItem.DurationInHours > 0)">
           {{dataItem.DurationInHours}}&nbsp;{{'HOURS' | translate}}
         </span>
         <span *ngIf="dataItem && (dataItem.DurationInMinutes > 0)">
           {{dataItem.DurationInMinutes}}&nbsp;{{'MINUTES' | translate}}
         </span>
         <span *ngIf="dataItem && (dataItem.DurationInSecondes > 0)">
           {{dataItem.DurationInSecondes}}&nbsp;{{'SECONDS' | translate}}
         </span>
       </ng-template>
     </kendo-grid-column>
      <!--ExpectedDuration End-->

      <!-- Operation type Start -->
      <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
        [title]="gridSettings.columnsConfig[2].title |translate" [width]="150">
        <ng-template kendoGridHeaderTemplate>
          <span tooltip="{{gridSettings.columnsConfig[2].tooltip|translate}}"
            theme="light">{{gridSettings.columnsConfig[2].title|translate}}</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <span *ngIf="dataItem.IdOperationTypeNavigation">{{dataItem.IdOperationTypeNavigation.Name}}</span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem="dataItem">
          <span *ngIf="!dataItem.IdOperationTypeNavigation">---</span>
        </ng-template>
      </kendo-grid-column>
      <!-- Operation type End -->


    </kendo-grid>
    <!-- Grid End-->
  </div>
  <!-- operations proposed list -->

  <!-- card footer -->
  <div class="fixed-card-footer">
    <div class="footerStyle">
      <footer class="app-footer ml-0">
        <div class="w-100">
          <div class="d-flex justify-content-end p-3 footer-content">
            <a [routerLink]="OPERATION_PROPOSED_LIST_URL">
              <span class="btn btn-sm btn-back-to-list btn-primary">
                <i class="fa fa-chevron-circle-left"></i> {{'BACK_TO_LIST'|translate}}
              </span>
            </a>
            <button (click)="save()" class="btn btn-sm btn-save mx-1" type="button" *ngIf="hasUpdatePermission && isUpdateMode || hasAddPermission && !isUpdateMode">
              <i class="fa fa-floppy-o"></i> {{'SAVE'|translate}}
            </button>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>