<div class="card" *ngIf="show">
  <div class="card-header">
    <h3>
      {{'COUNTER_SALES'|translate}}
    </h3>
  </div>
  <div class="card-body">
    <div class="row justify-content-end" style="margin-top: -35px;margin-bottom: 10px;">
      <div class="col-auto mt-1">
        <button class="btn btn-sm" style="border-color: #20a8d8; color: #20a8d8;" type="button" (click)="seeHistory()">
          <i class="fa fa-history fa "></i>
          <span _ngcontent-c20="">&nbsp; {{'SEE_HISTORY' | translate}}</span>
        </button>
        <button (click)="closeSessionCash()" class="btn btn-sm" style="border-color: #20a8d8; color: #20a8d8;" type="button"
           *ngIf="haseCloseSessionCashPermission && editMode">
              <i class="fa fa-minus fa" ></i>
              <span>&nbsp; {{'CLOSE_CASH_REGISTER'|translate}}</span>
           </button>
      </div>
    </div>
    <div class="row col-lg-12 col-md-12 col-sm-12" style="padding-left: 3%;">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <label class="CashRegisterInfo"> {{'CASH_REGISTER_CODE' | translate}}: </label>
        <span class="col-lg-auto"> {{sessionCash?.IdCashRegisterNavigation?.Code}} </span>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <label class="CashRegisterInfo"> {{'OPENING_DATE' | translate}}: </label>
        <span class="col-lg-auto"> {{sessionCash?.OpeningDate | date : dateFormat}}</span>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <label class="CashRegisterInfo">  {{'RESPONSIBLE' | translate}}: </label>
        <span class="col-lg-auto"> {{sessionCash?.IdCashRegisterNavigation?.IdResponsibleNavigation?.FullName}} </span>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <label class="CashRegisterInfo"> {{'CASH_REGISTER_NAME' | translate}}: </label>
        <span class="col-lg-auto"> {{sessionCash?.IdCashRegisterNavigation?.Name}} </span>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <label class="CashRegisterInfo"> {{'WAREHOUSE' | translate}}: </label>
        <span class="col-lg-auto"> {{sessionCash?.IdCashRegisterNavigation?.IdWarehouseNavigation?.WarehouseName}}</span>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <label class="CashRegisterInfo"> {{'CASHIER_SELLER' | translate}}: </label>
        <span class="col-lg-auto"> {{sessionCash?.IdSellerNavigation?.FullName}} </span>
      </div>
    </div>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-12 col-md-12 col-sm-12" #liDiv>
      <ul class="nav nav-tabs nav-tabs-new" id="tabListSales" role="tablist">
        <ng-container #VC_LI></ng-container>
        <ng-template let-option="option" #li_Template>
          <li class="nav-item">
            <a attr.aria-controls="#vente{{option.index}}" aria-selected="true"
            class="nav-link nav-link-new" [ngClass]="{'active': option.index===1}" data-toggle="tab"
             href="#vente{{option.index}}" id="vente{{option.index}}-li" role="tab">Vente {{option.index}}</a>
          </li>
        </ng-template>
      </ul>
    </div>
    <div class="tab-content tab-content-new col-lg-12 col-md-12 col-sm-12" id="tabContentSales" #tabDiv>
      <ng-container #VC_Tab></ng-container>
      <ng-template let-option="option" #Tab_Template>
        <div class="tab-pane fade px-2" [ngClass]="{'show active': option.index===1}"
        id="vente{{option.index}}" role="tabpanel" >
          <app-counter-sales-details
           [index]="option.index"
           [viewReference]="option.viewReference"
           [liAssociatedReference]="option.liAssociatedReference"
           [canCancelSale] = "canCancelSale"
           [sessionCash] = "sessionCash"
           [idTicket] ="idTicket"
           [idDocument] ="idDocument"
           [idWarehouse]="idWarehouse"
           [editMode]="editMode"
           (addTabClicked)="cloneNewTabTemplate($event)"
           (removeContext)="RemoveTabFromContainer($event)"
           (selectNewTab)="selectNewTab($event)" #counterDetails>
          </app-counter-sales-details>
        </div>
      </ng-template>
    </div>
    <!---->
  </div>
</div>
