.MybtnLink{
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #73818f;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 15px;
}
