<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="row">
    <div class="card" style="width:-webkit-fill-available;">
      <div class="card-content">
        <!-- card body-->
        <div class="card-body">
          <!-- Search -->
          <div class="row d-flex justify-content-between mt-2">
            <div class="d-flex justify-content-center" style="margin-left: 30px;">
              <!-- Search input -->
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-10 pl-1">
                    <input type="text" class="form-control" autocomplete="off" placeholder="{{'SEARCH'|translate}}"
                      name='value' aria-label="Search" style="width: 160px;" aria-describedby="addon-wrapping"
                      [(ngModel)]='filterValue' (keyup)='doFilter()'>
                  </div>
                  <div class="col-2 p-1">
                    <i class="fa fa-search fa-lg" aria-hidden="true" (click)='doFilter()'></i>
                  </div>
                </div>
              </div>
            </div>
            <app-btn-grid class="col" [fileName]="'LIST_OF_OPERATION'|translate" [advencedAdd]='true' [addLink]='"add"'
              [cardView]="false" [relativeStyle]='true' [model]="true" [gridSettings]="gridSettings"
              [service]="operationService" [predicate]="predicate" [isExportExcel]="true" *ngIf="hasAddPermission">
            </app-btn-grid>
          </div>
          <kendo-grid [data]="gridSettings.gridData" [pageable]="pagerSettings" [pageSize]="gridSettings.state.take"
            [skip]="gridSettings.state.skip" [sort]="gridSettings.state.sort" [reorderable]="true" [sortable]="true"
            (dataStateChange)="dataStateChange($event)">

            <!--operation name -->
            <kendo-grid-column [width]="300" [field]="columnsConfig[0].field">
              <ng-template kendoGridHeaderTemplate>
                <span tooltip="{{gridSettings.columnsConfig[0].tooltip|translate}}"
                  theme="light">{{gridSettings.columnsConfig[0].title|translate}}</span>
              </ng-template>
            </kendo-grid-column>

            <!--operationType name -->
            <kendo-grid-column [width]="160" [field]="columnsConfig[1].field">
              <ng-template kendoGridHeaderTemplate>
                <span tooltip="{{gridSettings.columnsConfig[1].tooltip|translate}}"
                  theme="light">{{gridSettings.columnsConfig[1].title|translate}}</span>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.IdOperationTypeNavigation ? dataItem.IdOperationTypeNavigation.Name : ''}}
              </ng-template>
            </kendo-grid-column>

            <!-- UnitNumber-->
            <kendo-grid-column [field]="columnsConfig[2].field" [title]="columnsConfig[2].title | translate"
              [width]="160">
              <ng-template kendoGridHeaderTemplate>
                <span tooltip="{{gridSettings.columnsConfig[2].tooltip|translate}}"
                  theme="light">{{gridSettings.columnsConfig[2].title|translate}}</span>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.UnitNumber}}&nbsp;
                ({{(dataItem.IdOperationTypeNavigation && dataItem.IdOperationTypeNavigation.IdUnitNavigation) ?
                dataItem.IdOperationTypeNavigation.IdUnitNavigation.Name: ''}})
              </ng-template>
            </kendo-grid-column>

            <!-- expectedDuration -->
            <kendo-grid-column [field]="columnsConfig[3].field" [width]="190" [filter]="columnsConfig[3].filter"
              [filterable]="true">
              <ng-template kendoGridHeaderTemplate>
                <span tooltip="{{gridSettings.columnsConfig[3].tooltip|translate}}"
                  theme="light">{{gridSettings.columnsConfig[3].title|translate}}</span>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <span *ngIf="dataItem && (dataItem.DurationInDays > 0)">
                  {{dataItem.DurationInDays}}&nbsp;{{'DAYS' | translate}}
                </span>
                <span *ngIf="dataItem && (dataItem.DurationInHours > 0)">
                  {{dataItem.DurationInHours}}&nbsp;{{'HOURS' | translate}}
                </span>
                <span *ngIf="dataItem && (dataItem.DurationInMinutes > 0)">
                  {{dataItem.DurationInMinutes}}&nbsp;{{'MINUTES' | translate}}
                </span>
                <span *ngIf="dataItem && (dataItem.DurationInSecondes > 0)">
                  {{dataItem.DurationInSecondes}}&nbsp;{{'SECONDS' | translate}}
                </span>
              </ng-template>
            </kendo-grid-column>

            <!-- TTCPrice -->
            <kendo-grid-column [field]="columnsConfig[4].field" [width]="200" [style]='{"font-family": "Arial, Helvetica, serif",
            "color": "#505253", "text-align":"right", "padding-right": "9%"}'>
              <ng-template kendoGridHeaderTemplate>
                <span tooltip="{{gridSettings.columnsConfig[4].tooltip|translate}}"
                  theme="light">{{gridSettings.columnsConfig[4].title|translate}}</span>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <span *ngIf="companyCurrency">
                  {{dataItem.Ttcprice.toLocaleString(language,{minimumFractionDigits: companyCurrency.Precision,
                  style: 'currency', currency: companyCurrency.Code, currencyDisplay:'code'})}}
                </span>
                <span *ngIf="!companyCurrency">
                  {{dataItem.Ttcprice}}
                </span>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-command-column [width]="100">
              <ng-template kendoGridHeaderTemplate>
                <span tooltip="{{'ACTIONS' | translate}}" theme="light">{{'ACTIONS' | translate}}</span>
              </ng-template>
              <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                <span tooltip="{{'UPDATE' | translate}}" theme="light">
                  <i class="las la-pen cursor-pointer edit-pencil la-lg ng-star-inserted" *ngIf="hasShowPermission || hasUpdatePermission"
                    (click)="goToAdvancedEdit(dataItem)"></i>
                </span>
                <span tooltip="{{'DELETE' | translate}}" theme="light">
                  <i class="fa fa-trash-o la-lg cursor-pointer text-danger ng-star-inserted" *ngIf="hasDeletePermission"
                    (click)="removeHandler(dataItem)"></i>
                </span>
              </ng-template>
            </kendo-grid-command-column>
          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</div>
