.sum-element-badge {
  text-align: center;
  height: 20px;
  width: 20px;
  font-weight: 900;
  border-radius: 50%;
  padding: 5px;
}
.h-2rem {
  height: 2rem;
}
.text-disabled {
  color: #6f7275;
}

@media (max-width: 480px) {
  .card-content {
    overflow-x: scroll;
  }
  .h-100 {
    margin-left: 50vw;
  }
  .card-body.p-3 {
    min-width: 420px;
  }
  .item-left {
    margin-left: 30vh !important;
  }
}