.btn-block:hover {
  color: #000000;
  background-color: transparent;
}

.btn-block {
  color: #000000;
}
i{
  color: #73818f;
}
.badge-count{
  position: absolute;
  right: 35px;
  color: #fff;
  background-color: #4dbd74;
}
