<div class="card h-100" style="border: 1px solid #c0c0c0 !important;">
  <!-- Card header Start-->
  <div class="card-header">
    <div class="col-sm-5 mt-1">
      <h3 class="card-title mb-0">{{(isUpdateMode ? 'EDIT_MACHINE': 'ADD_MACHINE') | translate}}</h3>
      <div class="small text-muted">
        {{(isUpdateMode ? 'AVANCED_EDIT' : 'ADVENCED_ADD')|translate}}
      </div>
    </div>
  </div>
  <!-- Card Header End-->
  <!-- Card Body Start -->
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="machineFormGroup">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-group row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row">
              <label class="col-lg-12 col-md-12 col-sm-12">{{'NAME_MACHINE' |
                translate}}<span class="required">*</span>
              </label>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <input type="text" class="form-control" formControlName="Name"
                [ngClass]="{ 'has-error': (machineFormGroup.controls.Name.touched
                && !machineFormGroup.controls.Name.value) && !machineFormGroup.controls.Name.valid }" />
                <app-control-messages [control]="machineFormGroup.controls.Name"
                  class="error-msg messages text-left text-danger"></app-control-messages>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row">
              <label class="col-lg-12 col-md-12  col-sm-12">{{'STATE' | translate}}<span
                  class="required">*</span></label>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <app-machine-state-dropdown [form]="machineFormGroup">
                </app-machine-state-dropdown>
                <app-control-messages [control]="machineFormGroup.controls.State"
                  class="error-msg messages text-left text-danger"></app-control-messages>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-group row">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="form-group row">
              <label class="col-lg-12 col-md-12 col-sm-12">{{'CONSTRUCTOR' | translate}}<span
                  class="required">*</span></label>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <input class="form-control" formControlName="Constructor" type="text" name="Constructor" [ngClass]="{ 'has-error': (machineFormGroup.controls.Constructor.touched
                  || machineFormGroup.controls.Constructor.dirty) && !machineFormGroup.controls.Constructor.valid }" />
                <app-control-messages [control]="machineFormGroup.controls.Constructor"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-group row">
              <label class="col-lg-12 col-md-12 col-sm-12">{{'MODEL' | translate}}<span
                  class="required">*</span></label>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <input class="form-control" formControlName="Model" type="text" name="Model" [ngClass]="{ 'has-error': (machineFormGroup.controls.Model.touched
                  || machineFormGroup.controls.Model.dirty) && !machineFormGroup.controls.Model.valid }" />
                <app-control-messages [control]="machineFormGroup.controls.Model"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin accordion -->
      <p-accordion [multiple]="true" class="w-100">
        <!-- Operations grid Start -->
        <p-accordionTab header="{{'OPERATIONS'| translate}}"
          (selectedChange)="openOperationFirstCollapse = !openOperationFirstCollapse"
          [selected]="openOperationFirstCollapse">
          <div class="row">
            <app-grid-operation *ngIf="!isUpdateMode || (isUpdateMode && machineToUpdate)"
              [hasUpdatePermission]="hasUpdatePermission && isUpdateMode || hasAddPermission && !isUpdateMode" [listOperation]="operationsAssociated" [listOperationIdsToIgnore]="operationIdsToIgnore">
            </app-grid-operation>
          </div>
        </p-accordionTab>
      </p-accordion>
    </form>
  </div>
  <!-- Card Body End -->
  <!--Begin Card footer Start-->
  <div class="fixed-card-footer">
    <div class="footerStyle">
      <footer class="app-footer" style="margin-left: 0;">
        <div class="w-100">
          <div class="d-flex justify-content-end p-3 footer-content">
            <a [routerLink]="listUrl">
              <span class="btn btn-sm btn-back-to-list btn-primary">
                <i class="fa fa-chevron-circle-left"></i> {{'BACK_TO_LIST'|translate}}
              </span>
            </a>
            <button (click)="save()" class="btn btn-sm btn-save mx-1" type="button" *ngIf="hasUpdatePermission && isUpdateMode || hasAddPermission && !isUpdateMode">
              <i class="fa fa-floppy-o"></i> {{'SAVE'|translate}}
            </button>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--Begin Card footer End-->
</div>
