<app-spinner *ngIf="spinner" class="spinner"></app-spinner>

<div *ngIf='canExportModel || export || canImport'   class="ml-1" content-type="template">
  <i class="las la-ellipsis-v la-2x mt-1" aria-hidden="true"
     id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
     aria-expanded="false"></i>
  <div  class="dropdown-menu dpMenu" id="action_grid_toggle" aria-labelledby="dropdownMenuButton">
    <a *ngIf='canExportModel' class="dropdown-item dpItem"kendoGridExcelCommand (click)="exportModel()">{{'EXPORT_MODEL_FOR_IMPORT'|translate}}</a>
    <label *ngIf='canImport' class="list-item">
      <a class="dropdown-item dpItem k-button k-grid-excel">{{'IMPORT_ACCOUNTS_FROM_EXCEL'|translate}}</a>
      <input type="file" (change)=uploadFile($event) (click)="reset()" id="currentFile" style="display:none">
    </label>
    <a *ngIf='export' class="dropdown-item dpItem" kendoGridExcelCommand (click)="exportAccounts()">{{'EXPORT_ACCOUNTS_TO_EXCEL'|translate}}</a>
  </div>
</div>

<ng-template #import>
  <span>{{(canImport? 'IMPORT_EXPORT_EXCEL':'EXPORT_EXCEL')|translate}}</span>
</ng-template>
