<form class="form-horizontal">
  <kendo-grid (add)="addHandler($event)" (cancel)="cancelHandler($event)" (dataStateChange)="dataStateChange($event)"
              (edit)="editHandler($event)" (remove)="removeHandler($event)" (save)="saveHandler($event)" (sortChange)="sortChange($event)"
              [data]="gridSettings.gridData" [filter]="gridSettings.state.filter" [navigable]="true"
              [pageSize]="gridSettings.state.take" [pageable]="pagerSettings" [reorderable]="true"
              [skip]="gridSettings.state.skip" [sort]="gridSettings.state.sort" [sortable]="true">

    <!-- Head Start-->
    <ng-template *ngIf="!isCurrentRecruitmentCompleted()" kendoGridToolbarTemplate>
      <div class="row" style="float :right; margin-right: 40px;">
        <app-btn-grid [add]='hasFullRecuitmentPermission || hasAddOrUpdateRecruitmentPermission' [advencedAdd]='false'
                      [export]='true'
                      style="margin-top: -5%;    display: inline-flex;"></app-btn-grid>
      </div>
    </ng-template>
    <!-- Head end-->
    <!--Full Name-->
    <kendo-grid-column [field]="gridSettings.columnsConfig[0].field"
                       [filter]="gridSettings.columnsConfig[0].filter"
                       [filterable]="gridSettings.columnsConfig[0].filterable"
                       [format]="gridSettings.columnsConfig[0].format"
                       [title]="gridSettings.columnsConfig[0].title | translate"
                       [width]="gridSettings.columnsConfig[0]._width">

      <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
        <app-candidate-combobox (addCandidate)="addCandidate($event)" (selected)="receiveCandidateName($event)"
                                [group]="formGroup" [isFromStepper]="true"></app-candidate-combobox>
        <i #anchor></i>
        <app-control-message-grid-cell [anchor]="anchor" [group]="formGroup" controlName="IdCandidate">
        </app-control-message-grid-cell>

      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <a [routerLink]="['/main/rh/candidate/edit/', dataItem.IdCandidate]" class="candidate-link"
           target="_blank">
          <span *ngIf="dataItem.IdCandidateNavigation">
            {{dataItem.IdCandidateNavigation.FullName}}
          </span>
        </a>
      </ng-template>
    </kendo-grid-column>


    <!--DepositDate-->
    <kendo-grid-column [field]="gridSettings.columnsConfig[1].field"
                       [filter]="gridSettings.columnsConfig[1].filter"
                       [filterable]="gridSettings.columnsConfig[1].filterable"
                       [format]="gridSettings.columnsConfig[1].format"
                       [title]="gridSettings.columnsConfig[1].title | translate"
                       [width]="gridSettings.columnsConfig[1]._width">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        {{dataItem.DepositDate|date: 'dd/MM/yyyy'}}
      </ng-template>
      <ng-template kendoGridEditTemplate let-formGroup="formGroup">
        <div [formGroup]="formGroup">
          <kendo-datepicker [format]="formatDate" class="form-control" formControlName="DepositDate"
                            onkeydown="return false;">
            <kendo-datepicker-messages today="{{ 'TODAY' | translate}}"
                                       toggle="Cambiar calendario"></kendo-datepicker-messages>
          </kendo-datepicker>
        </div>
        <i #anchor></i>
        <app-control-message-grid-cell [anchor]="anchor" [group]="formGroup" controlName="DepositDate">
        </app-control-message-grid-cell>
      </ng-template>
    </kendo-grid-column>
    <!--Email-->
    <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
                       [filter]="gridSettings.columnsConfig[2].filter"
                       [filterable]="gridSettings.columnsConfig[2].filterable"
                       [format]="gridSettings.columnsConfig[2].format"
                       [title]="gridSettings.columnsConfig[2].title | translate"
                       [width]="gridSettings.columnsConfig[2]._width">
      <ng-template kendoGridCellTemplate let-dataItem let-formGroup="formGroup">
        <span *ngIf="dataItem.IdCandidateNavigation">
            <a href="mailto:{{dataItem.Email}}">{{dataItem.IdCandidateNavigation.Email}}</a>
        </span>
      </ng-template>
      <ng-template kendoGridEditTemplate let-formGroup="formGroup">
        <div [formGroup]="formGroup" style="border: 1px solid #e4e7ea !important;">
          <input class="form-control" disabled="disabled" formControlName="Email" type="text">
        </div>
      </ng-template>
    </kendo-grid-column>
    <!-- Command-->
    <kendo-grid-command-column [width]="130">
      <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-isNew="isNew">

        <!-- edit command directive-->
        <button *ngIf="showActions(dataItem) && (hasAddOrUpdateRecruitmentPermission || hasFullRecuitmentPermission)" class="noPadding btn-Add k-button"
                kendoGridEditCommand>
          <i aria-hidden="true" class="fa fa-pencil text-primary"></i>
        </button>
        <!-- remove command directive-->
        <button *ngIf="showActions(dataItem) && (hasAddOrUpdateRecruitmentPermission || hasFullRecuitmentPermission)" class="noPadding btn-Add k-button" kendoGridRemoveCommand
                style="margin-left:-4px!important">
          <i class="fa fa-close fa-lg AddIcon text-danger"></i>
        </button>
        <!-- save command directive, will be visible when in edit mode -->
        <button class="btnKendoGrid" kendoGridSaveCommand style="background-color: transparent;"><span class="fa fa-save"></span></button>
        <!-- cancel command directive, will be visible when in edit mode -->
        <button class="btnKendoGrid" kendoGridCancelCommand style="background-color: transparent;"><span class="fa fa-close"></span></button>
      </ng-template>
    </kendo-grid-command-column>

  </kendo-grid>
</form>
