<div class="row form-group" [formGroup]="permissionForm">
  <div class="col-lg-9 col-sm-12 col-md-12 col-xs-12 offset-3">
    <fieldset [disabled]="readOnly">
    <div class="row form-group">
      <div class="col-lg-12 col-md-6 col-sm-12 contact100-form-checkbox">
        <input class="input-checkbox100" [id]="uuid + 'ckb1'" type="radio" formControlName="allPermission"
               [checked]="checkedAllPermission"
               (click)="selectedEvent(allPermission)">
        <label class="label-checkbox100 " [for]="uuid + 'ckb1'"
               style="margin-top: 2%!important;text-align:start; ">
          {{ 'PERMISSION_COLLAPASE.ALL' | translate}}&nbsp;
        </label>
      </div>
    </div>
    <div class="row form-group" *ngIf="isShowedTeamPermission">
      <div class="col-lg-12 col-md-6 col-sm-12 contact100-form-checkbox">
        <input class="input-checkbox100" [id]="uuid + 'ckb3'" type="radio" formControlName="teamPermission"
               [checked]="checkedTeamPermission" (click)="selectedEvent(teamPermission)">
        <label class="label-checkbox100 " [for]="uuid + 'ckb3'"
               style="margin-top: 2%!important;text-align:start; ">
          {{ 'PERMISSION_COLLAPASE.TEAM' | translate}}&nbsp;
        </label>
      </div>
    </div>
    <div class="row form-group" *ngIf="showTeamList && isShowedTeamPermission">
      <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
        <kendo-multiselect [data]="listTeams" formControlName="teamPermittedTo" [(ngModel)]="selectedTeams"
                           [valuePrimitive]="true" (valueChange)="onValueChangeTeam($event)"
                           [textField]="'Name'" [readonly]="readOnly"
                           [valueField]="'Id'"
                           style="width: 100%;">
        </kendo-multiselect>
        <app-control-messages [control]="teamPermittedTo" class="error-msg messages text-left text-danger">
        </app-control-messages>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-lg-12 col-md-6 col-sm-12 contact100-form-checkbox">
        <input class="input-checkbox100" [id]="uuid + 'ckb4'" type="radio" formControlName="individualPermission"
               [checked]="checkedIndividualPermission" (click)="selectedEvent(individualPermission)">
        <label class="label-checkbox100 " [for]="uuid + 'ckb4'"
               style="margin-top: 2%!important;text-align:start; ">
          {{'PERMISSION_COLLAPASE.INDIVIDUAL' | translate}}&nbsp;
        </label>
      </div>
    </div>
    <div class="row form-group" *ngIf="showIndividualList">
      <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
        <kendo-multiselect [data]="listUsers" formControlName="employeesPermittedTo" [(ngModel)]="selectedUsers"
                           [filterable]="true" (filterChange)="handleResponsablesFilter($event)"
                           [valuePrimitive]="false" (valueChange)="onValueChangeResponsableUser($event)"
                           textField="FullName" valueField="Id" [readonly]="readOnly"
                           style="width: 100%;">
        </kendo-multiselect>
        <app-control-messages [control]="employeesPermittedTo" class="error-msg messages text-left text-danger">
        </app-control-messages>
      </div>
    </div>
    </fieldset>
  </div>
</div>
