.grid-buttons{
  background: none;
  border: none;
}
.grid-buttons:hover{
  background: none;
  border: none;
}

.btn-add[_ngcontent-c44] {
  background-color: white;
  border-color: #4c9aae !important;
  color: #4c9aae !important;
  font-size: small;
}
.btn-add {
  background-color: white;
  border-color: #4c9aae;
  color: #4c9aae !important;
  font-size: small;
}
.k-button {
  font-size: small;
  padding-bottom: 4px;
  padding-top: 4px;
}

