.typesLabels{
    font-size: 12px;
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
  border: 2px solid hsl(184, 32%, 53%) !important;
  line-height: 35px;
  padding:3px
 }
