<div class="col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="form-group row">

      <div class=" col-lg-4 col-md-12 col-sm-12 border-style">
          <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 ">
              <p>{{'ROLE_CONFIG'|translate}}</p>
            </div>
            <br />
            <div class="col-lg-8 col-md-12 col-sm-12" [ngStyle]="{'height': '500px', 'overflow-y': 'auto'}">
              <kendo-treeview [nodes]="roleConfigData" [children]="fetchChildren.bind(this)"
                              childrenField="ChildrenModule" kendoTreeViewExpandable kendoTreeViewSelectable
                              kendoTreeViewHierarchyBinding textField="RoleName"
                              [hasChildren]="hasChildren" (selectionChange)="handleSelectionRoleConfig($event)"
                              [(selectedKeys)]="selectedKeyForRoleConfig">
    
                <ng-template kendoTreeViewNodeTemplate let-dataItem>
                  <span>
                    <input class="k-checkbox" id="{{dataItem.Id}}"
                           type="checkbox" checked="{{dataItem.IsToCheckModule}}" indeterminate="{{dataItem.IsIndeterminate}}" (change)="checkRoleConfigValue($event.target, dataItem)">
                    <label class="k-checkbox-label" for="{{dataItem.Id}}"></label>
                  </span>
                  <span class="icon-note"></span>
                  &nbsp; {{dataItem.RoleName}}
                </ng-template>
              </kendo-treeview>
            </div>
          </div>
        </div>
        
    <div class=" col-lg-1"></div>

  </div>
</div>
