<div [formGroup]="group">
  <kendo-combobox [data]="timeFiltredDataSource" class="form-control HistoryCommandMargin" name="EndTime"
    formControlName="EndTime" textField="Key" valueField="Value" [valuePrimitive]="true"
    (valueChange)="onSelectTime($event)" [filterable]="true" [disabled]="disabled">
    <!--No data template-->
    <ng-template kendoDropDownListNoDataTemplate>
      <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
    </ng-template>
    <kendo-combobox-messages clearTitle="{{'CLEAR'|translate}}"> </kendo-combobox-messages>
    <!--end No data template-->
  </kendo-combobox>
</div>