<div class="row">

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><svg width="15" height="18">
      <rect width="300" height="200" style="fill:#fe9797" />
    </svg>&nbsp;{{'INSTOCK'|translate}}</div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><svg width="15" height="18">
      <rect width="300" height="200" style="fill:#ffd2a5" />
    </svg>&nbsp;{{'INPROGRESS'|translate}}</div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><svg width="15" height="18">
      <rect width="300" height="200" style="fill:#913175" />
    </svg>&nbsp; {{'DELEVRED'|translate}}</div>

  <!--/.row-->
</div>
<!--/.row-->