<div class="row">
  <div class="card col-lg-12 col-md-12 col-sm-12 col-12">
    <div [ngStyle]="{'height':'75px','margin-left': '-15px','margin-right': '-10px'}" class="card-header">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <button (click)="hideCardBody=!hideCardBody;" class="noPadding btn-Add k-button"
                style=" background: no-repeat!important;border: none!important;">
          <i [ngClass]="{'cui-chevron-bottom':hideCardBody,'cui-chevron-top':!hideCardBody}" aria-hidden="true"
             style="color: #4c9aae!important;"></i>
        </button>
        <span [ngStyle]="{'font-size': 'x-large'}" class="card-title mb-0">
          {{'EXIT_REQUEST'|translate}}
        </span>
        <div [ngStyle]="{'text-align': 'right', 'margin-top': '-30px'}">
          <h4 *ngIf="employeeExit && employeeExit.Status=== statusCode.Waiting" class="statusAlignment">
            <span class="badge badge-warning">{{'WAITING'|translate}}</span>
          </h4>
          <h4 *ngIf="employeeExit && employeeExit.Status === statusCode.Refused" class="statusAlignment">
            <span class="badge badge-danger">{{'REFUSED'|translate}}</span>
          </h4>
          <h4 *ngIf="employeeExit && employeeExit.Status === statusCode.Accepted" class="statusAlignment">
            <span class="badge badge-success">{{'ACCEPTED'|translate}}</span>
          </h4>
          <h4 *ngIf="employeeExit && employeeExit.Status === statusCode.Draft" class="statusAlignment">
            <span class="badge badge-primary">{{'DRAFT'|translate}}</span>
          </h4>
        </div>
      </div>
    </div>
    <div *ngIf="!hideCardBody" class="card-body">
      <form [formGroup]="LeaveEmployeeFormGroup" class="form-horizontal">
        <!-- Begin principal menu  part-->
        <div class="card-body">
          <div class="form-group row">
            <div class="col-lg-12 col-sm-12 col-md-12 mr-5">
              <div class="form-group row">
                <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:15px">
                  <label class="col-lg-12 col-md-12 col-sm-12"> {{'EMPLOYEE'|translate}}<span
                    class="required">*</span></label>
                  <app-employee-dropdown (Selected)="getSelectedEmployee($event)" [disabled]="isUpdateMode"
                                         [form]="LeaveEmployeeFormGroup"
                                         [idEmployeeCollaborator]="selectedEmployee" [isFromExitEmployee]="true"
                                         [showAddButton]="true"></app-employee-dropdown>
                  <app-control-messages [control]="IdEmployee"
                                        class="error-msg messages text-left text-danger"></app-control-messages>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:15px">
                  <label class="col-lg-12 col-md-12 col-sm-12"> {{'DEPOSIT_DATE'|translate}}<span
                    class="required">
                    *</span></label>
                  <kendo-datepicker (valueChange)="buildExitEmployeeValidators()" class="form-control"
                                    formControlName="ExitDepositDate">
                    <kendo-datepicker-messages today="{{ 'TODAY' | translate}}" toggle="Cambiar calendario">
                    </kendo-datepicker-messages>
                  </kendo-datepicker>
                  <app-control-messages [control]="ExitDepositDate" class="error-msg messages text-left text-danger">
                  </app-control-messages>
                </div>
                <div *ngIf="connectedEmployee" class="col-lg-4 col-md-4 col-sm-12">
                  <label class="col-lg-12 col-md-12 col-sm-12"> {{'EXIT_REASON'|translate}}<span
                    class="required">*</span></label>
                  <app-exit-reason-dropdown [group]="LeaveEmployeeFormGroup"
                                            [isConnectedEmployee]="connectedEmployee.Id === IdEmployee.value">
                  </app-exit-reason-dropdown>
                  <app-control-messages [control]="IdExitReason"
                                        class="error-msg messages text-left text-danger">
                  </app-control-messages>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom:15px">
                  <label class="col-lg-12 col-md-12 col-sm-12"> {{'RELEASE_DATE'|translate}}<span
                    class="required">*</span></label>
                  <kendo-datepicker (valueChange)="buildExitEmployeeValidators()" class="form-control"
                                    formControlName="ReleaseDate">
                    <kendo-datepicker-messages today="{{ 'TODAY' | translate}}" toggle="Cambiar calendario">
                    </kendo-datepicker-messages>
                  </kendo-datepicker>
                  <app-control-messages [control]="ReleaseDate" class="error-msg messages text-left text-danger">
                  </app-control-messages>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <label class="col-lg-12 col-md-12 col-sm-12">{{ 'VOUCHERS' | translate }}</label>
                  <app-upload-file [canUpdateFile]="leaveAlreadyValidate" [fileToUpload]="exitEmployeeAttachementFileInfo"
                                   [service]="exitEmployeeService"></app-upload-file>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="col-lg-12 col-md-12 col-sm-12">{{'REASON_OF_EXIT'|translate}}<span
                    class="required">*</span></label>
                  <textarea class="col-lg-12 col-md-12 col-sm-12 form-control" formControlName="CommentRh" maxlength="255"
                            name="CommentRh" rows="3"></textarea>
                  <app-control-messages [control]="CommentRh"
                                        class="error-msg messages text-left text-danger"></app-control-messages>
                </div>
              </div>
            </div>
            <!-- Comment Section Start -->
            <div *ngIf="isUpdateMode" class="col-lg-12 col-sm-12 col-md-12 mr-5" style="margin-top: 30px">
              <h4 class="card-title mb-0">{{'COMMENT'|translate}}</h4>
              <div [ngStyle]="{'max-height': '400px', 'overflow-y': 'auto'}" class="col-lg-12 col-md-12 col-sm-12">
                <app-comment (deletedComment)="deletecomment($event)" (editedComment)="editcomment($event)"
                             [comments-data]="commentsData"></app-comment>
              </div>
              <hr/>
              <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <textarea class="k-input" formControlName="Message" placeholder="{{'TYPE_COMMENT'|translate}}"
                          rows="2"></textarea>
                <button (click)="addComment()" [disabled]="validCommentary()" class="k-button k-flat k-button-icon k-button-send"
                        type="button">
                  <i class="fa fa-send-o"></i>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </div>
            <!-- Comment Section end -->
            <!---->
          </div>
        </div>
      </form>
      <!---->
    </div>
    <!--Begin Card footer-->
    <div *ngIf="!isUpdateMode || (employeeExit && employeeExit.Status === statusCode.Draft)" [ngStyle]="{'margin-left': '-15px','margin-right': '-15px'}"
         class="card-footer">
      <div class="fixed-card-footer">
        <div class="footerStyle">
            <div class="w-100">
              <div class="d-flex justify-content-end p-3 footer-content">
                <a routerLink="/main/payroll/exit-employee">
                  <span class="btn btn-sm btn-back-to-list btn-primary">
                    <i class="fa fa-chevron-circle-left"></i> {{'BACK_TO_LIST'|translate}}
                  </span>
                </a>
                <button (click)="preparesave()" class="btn btn-sm btn-save mx-1">
                  <i class="fa fa-floppy-o"></i> {{'SAVE'|translate}}
                </button>
                <button (click)="showStepper()" *ngIf="showStartBtn" class="btn btn-sm btn-success">
                  <i class="fa fa-check-square-o"></i> {{'START'|translate}}
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!--End Card footer-->
  </div>
