.my-class * {
  font-size: 1.1em;
  color: black;
  background: white;
}
kendo-combobox{
  width: 100% !important;
}
kendo-datepicker,kendo-timepicker{
  width: 100% !important;
}


.filter-class {
  margin-left: 0px;
  padding: 3px;
}
