<div *ngIf='canExportCharts || canImportCharts || canExportModelCharts' content-type="template"  >
  <i class="las la-ellipsis-v la-2x mt-1" aria-hidden="true"
     id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
     aria-expanded="false"></i>
  <div class="dropdown-menu dpMenu" id="action_grid_toggle" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item dpItem cursor-pointer" *ngIf='canExportModelCharts' (click)="exportModel()">{{'EXPORT_MODEL_FOR_IMPORT'|translate}}</a>

    <label class="list-item" *ngIf='canImportCharts'>
      <a class="dropdown-item dpItem cursor-pointer">
        {{'IMPORT_CHARTS_FROM_EXCEL'|translate}}
      </a>
      <input type="file" (change)=uploadFile($event) (click)="reset()" id="currentFile"  style="display:none">
    </label>

    <a class="dropdown-item dpItem cursor-pointer" *ngIf='canExportCharts' (click)="exportChartAccounts()"
       >{{'EXPORT_CHARTS_IN_EXCEL'|translate}}</a>
  </div>
</div>
