<app-current-fiscal-year-header [currentFiscalYearId]="this.currentFiscalYearId"></app-current-fiscal-year-header>
<nav class="navbar navbar-expand-lg" style="background-color: white !important; height: 50px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class=" las la-chevron-down fa-lg suitable-color-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ng-container>
      <div class="dropdown">
        <a class="nav-link nav-style dropbtn" [routerLink]="['/main/accounting/reporting/journals/StateOfAuxiliaryJournals']"
           routerLinkActive="active-link">{{'AUXILIARY_JOURNALS'|translate}}</a>
      </div>
    </ng-container>

    <ng-container>
      <div class="dropdown">
        <a class="nav-link nav-style dropbtn" [routerLink]="['/main/accounting/reporting/journals/centralisationOfJournals']"
           routerLinkActive="active-link">{{'CENTRALISATION_OF_JOURNALS'|translate}}</a>
      </div>
    </ng-container>

    <ng-container>
      <div class="dropdown">
        <a class="nav-link nav-style dropbtn" [routerLink]="['/main/accounting/reporting/journals/stateOfJournals']"
           routerLinkActive="active-link">{{'STATE_OF_JOURNALS'|translate}}</a>
      </div>
    </ng-container>
  </div>
</nav>
