<div [formGroup]="group">
  <kendo-combobox [data]="paymentMethodFiltredDataSource" [textField]="'MethodName'" [valueField]="'Id'"
    [valuePrimitive]="true" name="IdPaymentMethod" [allowCustom]="allowCustom" formControlName="IdPaymentMethod"
    class="form-control" [filterable]="true" (filterChange)="handleFilter($event)" (valueChange)="onSelect($event)"
    (open)="open()">
    <!--footer template-->
    <ng-template kendoDropDownListFooterTemplate *ngIf="!hideAddBtn">
      <app-drop-down-footer [addNew]="addNew.bind(this)"></app-drop-down-footer>
    </ng-template>
    <!--end footer template-->
    <!--No data template-->
    <ng-template kendoDropDownListNoDataTemplate>
      <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
    </ng-template>
    <kendo-combobox-messages clearTitle="{{'CLEAR'|translate}}"> </kendo-combobox-messages>
    <!--end No data template-->
  </kendo-combobox>
</div>