<kendo-grid #grid [pageSize]="gridSettings.state.take" [skip]="gridSettings.state.skip"
            [data]="gridSettings.gridData" [pageable]="true"
            (selectionChange)="onRowClick($event)" [rowSelected]="isRowSelected" [selectable]="true"
            (dataStateChange)="onStateChange($event)" (remove)="removeHandler($event)">

  <!--Code & Description & photo -->
  <kendo-grid-column [width]="gridSettings.columnsConfig[1]._width"
                     [filter]="gridSettings.columnsConfig[1].filter"
                     [filterable]="gridSettings.columnsConfig[1].filterable"
                     [format]="gridSettings.columnsConfig[1].format"
                     [headerStyle]="{'line-height': '1em'}">
    <!--tooltip-->
    <ng-template kendoGridHeaderTemplate>
      <span tooltip="{{'ITEM'|translate}}"
            theme="light">{{'ITEM'|translate}}</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="row d-flex align-items-center"  [ngStyle]="getStyle(dataItem)">
        <div class="col-3 pl-1">
          <img id="blah" class="rounded-circle card-avatar"
               [src]="dataItem.image" alt="avatar"/>
        </div>
        <div class="col-9 pl-1">
          <div class="row">
            <b>{{dataItem.Description}}</b>
          </div>
          <div class="row mt-1">
            <span class="small"> {{dataItem.Code ? dataItem.Code : dataItem.Reference}}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>

  <!-- Product Brand -->
  <kendo-grid-column *ngIf="isToOnlyShowBrand"
                     [field]="'IdProductItemNavigation'"
                     [title]="'PRODUCT_BAND' | translate"
                     [width]="160">
    <ng-template kendoGridHeaderTemplate>
      <span tooltip=" {{gridSettings.columnsConfig[8].title|translate}}"
            theme="light">{{gridSettings.columnsConfig[8].title|translate}}</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="container">
        <div class="row grid-cell" *ngIf="dataItem.LabelProduct">
          {{dataItem.LabelProduct}}
        </div>
        <div class="row grid-cell" *ngIf="!dataItem.LabelProduct">
          -
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>

  <!-- Supplier -->
  <kendo-grid-column *ngIf="!isEquivalenceGroupInterface && !isToOnlyShowBrand"
                     [field]="gridSettings.columnsConfig[0].field"
                     [title]="gridSettings.columnsConfig[0].title | translate"
                     [width]="gridSettings.columnsConfig[0]._width"
                     [filter]="gridSettings.columnsConfig[0].filter"
                     [filterable]="gridSettings.columnsConfig[0].filterable"
                     [format]="gridSettings.columnsConfig[0].format" [headerStyle]="{'line-height': '1em'}">
    <!--tooltip-->
    <ng-template kendoGridHeaderTemplate>
      <span tooltip="{{gridSettings.columnsConfig[0].title|translate}}"
            theme="light">{{gridSettings.columnsConfig[0].title|translate}}</span>
    </ng-template>

    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="row ml-1" *ngIf="dataItem.NamesTiers" style="overflow: initial;">
        <span *ngIf="dataItem.NamesTiers[0]" tooltip="{{dataItem.NamesTiers[0]}}"
              class="rounded-element-cell">
          {{dataItem.NamesTiers[0]}}
        </span>
        <span *ngIf="dataItem.NamesTiers[1]" tooltip="{{dataItem.NamesTiers[1]}}"
              class="rounded-element-cell">
          {{dataItem.NamesTiers[1]}}
        </span>
        <span *ngIf="dataItem.NamesTiers && dataItem.NamesTiers.length > 2" class="dropdown">
          <div class="show-more" type="button" id="testOfSupplier" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
            +{{dataItem.NamesTiers.length - 2}}
          </div>
          <div class="dropdown-menu border" aria-labelledby="testOfSupplier">
            <button class="dropdown-item disabled" *ngFor="let tier of dataItem.NamesTiers.slice(2)"
                    type="button">
              {{tier}}
            </button>
          </div>
        </span>
      </div>

      <div class="container grid-cell" *ngIf="!dataItem.NamesTiers">
        -
      </div>
    </ng-template>
  </kendo-grid-column>

  <!--AllAvailableQuantity-->
  <kendo-grid-column [field]="gridSettings.columnsConfig[3].field" *ngIf="!isEquivalenceGroupInterface && !isToOnlyShowBrand"
                     [title]="gridSettings.columnsConfig[3].title | translate"
                     [width]="gridSettings.columnsConfig[3]._width"
                     [filter]="gridSettings.columnsConfig[3].filter"
                     [filterable]="gridSettings.columnsConfig[3].filterable"
                     [format]="gridSettings.columnsConfig[3].format" [headerStyle]="{'line-height': '1em'}">
    <!--tooltip-->
    <ng-template kendoGridHeaderTemplate>
      <span tooltip="{{'ALLQUANTITY'|translate}}" theme="light">{{gridSettings.columnsConfig[3].title|translate}}</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
      <div>
        <div class="container"
             *ngIf="!dataItem.IsStockManeged">
          <div class="row grid-cell"> N/A</div>
        </div>
        <kendo-numerictextbox *ngIf="dataItem.IsStockManeged"
                              [spinners]="false" [format]="FormatNumber" [step]="1"
                              class="form-control inputEnabled as-label numeric-style"
                              [value]="dataItem.AllAvailableQuantity?dataItem.AllAvailableQuantity:'0'" [disabled]="true">
        </kendo-numerictextbox>
      </div>
    </ng-template>
  </kendo-grid-column>


  <!--Marque produit-->
  <kendo-grid-column *ngIf="!itemService.isPurchase && !isToOnlyShowBrand" [field]="gridSettings.columnsConfig[4].field"
                     [title]="gridSettings.columnsConfig[4].title | translate"
                     [width]="gridSettings.columnsConfig[4]._width"
                     [filter]="gridSettings.columnsConfig[4].filter"
                     [filterable]="gridSettings.columnsConfig[4].filterable"
                     [format]="gridSettings.columnsConfig[4].format" [headerStyle]="{'line-height': '1em'}">
    <!--tooltip-->
    <ng-template kendoGridHeaderTemplate>
      <span tooltip="{{gridSettings.columnsConfig[4].title|translate}}"
            theme="light">{{gridSettings.columnsConfig[4].title|translate}}</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="container">
        <div class="row grid-cell" *ngIf="dataItem.LabelProduct">
          {{dataItem.LabelProduct}}
        </div>
        <div class="row grid-cell" *ngIf="!dataItem.LabelProduct">
          -
        </div>
      </div>
    </ng-template>
  </kendo-grid-column>

  <!-- show the claim button -->
  <kendo-grid-command-column [width]="60">
    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
      <ng-container *ngIf="hasClaimListPermission && dataItem.HaveClaims === true">
        <a class="btn" [routerLink]="['/main/helpdesk/claims/claimItem/', dataItem.Id]"
           target="_blank"
           style="color: #b34545; padding-top: 0 !important; padding-bottom: 0 !important;">
          <i class="fa fa-exclamation-triangle fa-sm" aria-hidden="true"></i>
        </a>
      </ng-container>
    </ng-template>
  </kendo-grid-command-column>

  <kendo-grid-column *ngIf="isAutoVersion" field="Tecdoc" [width]='40' [class]="{'tec-doc': true}"
                     [headerStyle]="{'padding': '0','flex-wrap': 'wrap','align-content': 'center','vertical-align': 'middle'}">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
      <img src="../../../../assets/image/TecDoc.png" width="23px"/>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
      <i
        *ngIf="(FromApi&&(dataItem.TecDocRef && dataItem.TecDocIdSupplier)) || (!FromApi && dataItem.TecDocId) || (dataItem.IsInDb === false)"
        aria-hidden="true" class="fa fa-info-circle fa-lg" style="cursor: pointer;" (click)='openTecdocModal(dataItem)'
        data-toggle="modal" data-target="#tecdocdetails"></i>


    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column *ngIf="isAutoVersion" [width]='20' [class]="{'tec-doc': true}">

    <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
      <i
        ngbTooltip="{{(isForKit ? 'APPLY_ELIMINATION_KIT' : (isReplacementInterface ? 'APPLY_ELIMINATION_REPLACEMENT' : 'APPLY_ELIMINATION_EQUIVALENT'))|translate}}"
        placement="left" aria-hidden="true" class="fa fa-close fa-lg AddIcon text-danger"
        (click)='eliminateItem(dataItem)'
        *ngIf="!isTecDocEquivalence && addItem"></i>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-command-column [width]="140" *ngIf='!isModal && !sendToDocument'>
    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
      <!--Open advanced edit form -->
      <div class="row py-1" *ngIf='searchItemService.isFromSearchItem_supplierInetrface'>
        <div class="col-auto px-0">
          <kendo-numerictextbox  *ngIf="(hasAddBLPermission && !searchItemService.code) || (hasUpdateBLPermission && searchItemService.code)"
            [min]="0" [(ngModel)]="dataItem.QuantityForDocumentLine"
            [style.width]="'80px'" [decimals]="3" [style.height]="'26px'"
            name='QuantityForDocumentLine' class="numeric-style" [spinners]="false">
          </kendo-numerictextbox>
          <label *ngIf="!hasAddBLPermission && !hasUpdateBLPermission"> {{dataItem.QuantityForDocumentLine}} </label>
        </div>
        <div *ngIf="((hasAddBLPermission && !searchItemService.code) || (hasUpdateBLPermission && searchItemService.code))
          && !(searchItemService.idDocument && searchItemService.searchItemDocumentType=='Q-SA')" class="col-auto px-2">
          <button  [disabled]="!searchItemService.idSupplier > 0"
            type="button" class="btn btn-warning btn-sm font-weight-bold" id="generateDocumentbl"
            (click)='addDocument(dataItem.Id,"D-SA",dataItem.QuantityForDocumentLine)' data-toggle="modal"
            data-target=".generateDocumentEquiv"> {{'Delivery' | translate}}
          </button>
        </div>
      </div>
    </ng-template>
  </kendo-grid-command-column>
  <kendo-grid-command-column title="" width="120" *ngIf='isModal && openedFromGarageAddCar'>

    <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
      <div class="row py-1">
        <div class="col-auto px-0">
          <kendo-numerictextbox [step]="1" [min]="0" [(ngModel)]="dataItem.QuantityForDocumentLine"
                                [style.width]="'100px'" [decimals]="3" [style.height]="'26px'"
                                name='QuantityForDocumentLine' class="numeric-style"
                                [spinners]="false">
          </kendo-numerictextbox>
        </div>
        <div class="col-auto px-2">
          <ng-container *starkPermissionsOnly="['ADD-SALESDELIVERY']">
            <button *ngIf="!(searchItemService.idDocument && searchItemService.searchItemDocumentType=='Q-SA') "
                    type="button" class="btn btn-warning btn-sm font-weight-bold" id="generateDocumentbl"
                    data-toggle="modal"
                    data-target=".generateDocumentEquiv">
              BS
            </button>
          </ng-container>
          <!--(click)='addDocument(dataItem.Id,"D-SA",dataItem.QuantityForDocumentLine)'-->

          <ng-container *starkPermissionsOnly="['ADD-SALESQUOTATION']">
            <button *ngIf="!(searchItemService.idDocument && searchItemService.searchItemDocumentType=='D-SA') "
                    type="button" class="btn btn-info btn-sm font-weight-bold" id="generateDocumentqt"
                    data-toggle="modal"
                    data-target=".generateDocumentEquiv">
              {{'COMMANDE' | translate}}
            </button>
          </ng-container>
          <!--(click)='addDocument(dataItem.Id,"Q-SA",dataItem.QuantityForDocumentLine)'-->
        </div>
      </div>
    </ng-template>
  </kendo-grid-command-column>
  <kendo-grid-column width="130" *ngIf="(!searchItemService.isForPurchase || (searchItemService.isForPurchase && searchItemService.searchItemDocumentType=='BE-PU' ))
                     && (isModal || sendToDocument  && !openedFromGarageAddCar) && !modalOptions.data.isFroSerach"
                     title="">
    <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
      <div
        *ngIf="(isModal  || sendToDocument) && !(modalOptions.data.isForItemReplacement) && !modalOptions.data.isFroSerach">
        <kendo-numerictextbox [step]="1" [min]="0" [(ngModel)]="dataItem.QuantityForDocumentLine" [style.width]="'83px'"
                              class="numeric-style"
                              [decimals]="3" [style.height]="'26px'" name='QuantityForDocumentLine' [spinners]="false">
        </kendo-numerictextbox>
        <button *ngIf="!isForGarage" class="btn btn-primary btn-sm font-weight-bold my-1" type="button"
                style="border: none !important; background-color: #4c9aae !important;width: 26px;"
                (click)='addDocument(dataItem.Id,documentType,dataItem.QuantityForDocumentLine)'>
          <i class="fa fa-send-o"></i>
        </button>
        <button *ngIf="isForGarage" class="btn btn-primary btn-sm font-weight-bold my-1" type="button"
                style="border: none !important; background-color: #4c9aae !important;width: 26px;"
                (click)='addItemToIntervention(dataItem.Id, dataItem.UnitHtsalePrice,
                dataItem.QuantityForDocumentLine, dataItem.Description, dataItem.Code)'>
          <i class="fa fa-send-o"></i>
        </button>
      </div>
      <div *ngIf="modalOptions.data.isForItemReplacement || modalOptions.data.isFroSerach">
        <button class="btn btn-primary btn-sm font-weight-bold my-1" type="button"
                style="border: none !important; background-color: #4c9aae !important;" (click)="getItemId(dataItem)">
          <i class="fa fa-send-o"></i>
        </button>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>


<!--------------------------------------Modals ------------------------------------------------------------------->

<div class="modal fade" id="modalOfOnOrderQuantity1" tabindex="-1" role="dialog"
     aria-labelledby="modalOfOnOrderQuantityTitle" aria-hidden="true" *ngIf='selectedRowOfOnOrderQuantity'
     style="z-index: 9999999">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{'DETAILS_ON_ORDER_QUANTITY'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- keys -->
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
          <div class="row pb-2 d-flex justify-content-around">
            <div class="col-auto">
              <span class="fa fa-square text-danger"></span> {{'ORDER_PROJECT'|translate}}
            </div>
            <div class="col-auto">
              <span class="fa fa-square text-warning"></span> {{'COMMANDE'|translate}}
            </div>
            <div class="col-auto">
              <span class="fa fa-square text-success"></span> {{'FINAL_ORDER'|translate}}
            </div>
            <div class="col-auto">
              <span class="fa fa-square text-info"></span> {{'RECEIVED_ORDER'|translate}}
            </div>
          </div>
        </div>
        <!-- End of keys -->

        <kendo-grid [data]="dataDetailsOnOrderQuantity" [rowClass]="rowCallbackModal" [pageable]="pagerSettings"
                    (pageChange)="pageChangeOnOrderQuantity($event)" [pageSize]="pageSizeOnOrderQuantity"
                    [skip]="skipOnOrderQuantity">


          <kendo-grid-column field="Reference" title="{{'REFERENCE'|translate}}" [width]='200'>

            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              <a class="grid-cell-link"
                 (click)="onClickGoToDocument(dataItem.DocumentTypeCode, dataItem.IdDocumentStatus, dataItem.IdDocument, dataItem.IsOrderProject)">
                {{dataItem.Reference}}
              </a>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="DateDoc" title="{{'DATE'|translate}}" [width]='200'>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              <div class="row">
                <div class="col-6">
                  {{dataItem.DateDoc | date: formatDate}}
                </div>
              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="Quantity" title="{{'QUANTITY'|translate}}" [width]='200' editor="numeric">
          </kendo-grid-column>

          <kendo-grid-column field="IdDocumentStatus" title="{{'STATUS'|translate}}" [width]='200'>
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              <div *ngIf="dataItem.IdDocumentStatus === statusCode.Provisional">
                <span class="badge badge-warning">{{'PROVISOIRE'|translate}}</span>
              </div>
              <div *ngIf="dataItem.IdDocumentStatus === statusCode.Valid">
                <span class="badge badge-success">{{'VALID'|translate}}</span>
              </div>
              <div *ngIf="dataItem.IdDocumentStatus === statusCode.PartiallySatisfied">
                <span class="badge" style="color: #ffffff; background-color: #20a8d8;"
                      *ngIf='dataItem.DocumentTypeCode == documentEnumerator.PurchaseFinalOrder'>
                  {{'PARTIALLY_DELIVERED'|translate}}
                </span>

                <span class="badge" style="color: #ffffff; background-color: #20a8d8;"
                      *ngIf='dataItem.DocumentTypeCode == documentEnumerator.PurchaseOrder'>
                  {{'PARTIALLY_ORDRED'|translate}}
                </span>

              </div>

            </ng-template>
          </kendo-grid-column>

        </kendo-grid>

      </div>

      <br/>

    </div>
  </div>
</div>
<div class="modal fade" id="tradedQuantityModal" tabindex="-1" role="dialog" aria-labelledby="tradedQuantityModalTitle"
     aria-hidden="true" *ngIf='selectedRow' style="z-index: 9999999">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{'DETAILS_QANTITY_TRADED'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>
            <strong class="sizeStyle">{{'QUANTITY_TO_TRANSFER' | translate}} : </strong>
            {{selectedRow.OutTransferedQuantity}}
          </p>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>
            <strong class="sizeStyle">
              {{'QUANTITY_TO_RECEIVE' | translate}} :
            </strong>{{selectedRow.InTransferedQuantity}}
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" *ngIf='selectedRow' style="z-index: 9999999">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{'DETAILS_QANTITY_SALES'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>
            <strong class="sizeStyle">{{'TO_ORDER_QUANTITY' | translate}} : </strong>
            {{selectedRow.ToOrderQuantity}}
          </p>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <p>
            <strong class="sizeStyle">
              {{'RESERVEDQUANTITY' | translate}} :
            </strong>{{selectedRow.ReservedQuantity}}
          </p>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- tecdoc Modal -->
<div class="modal " id="tecdocdetails" tabindex="-1" role="dialog" aria-labelledby="tecdocdetails" aria-hidden="true"
     data-backdrop="static" data-keyboard="false" *ngIf='opentecdocdetails'>
  <div class="modal-dialog modal-dialog modal-xlg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tecdocdetails">{{'TEC_DOC_DETAILS' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='closeTecdocModal()'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-tecdoc-details [isModal]="true" [selectedItem]="SelectedForDetails" *ngIf="!FromApi"></app-tecdoc-details>
        <app-tecdoc-details-api [isModal]="true" [selectedItem]="SelectedForDetails" *ngIf="FromApi">
        </app-tecdoc-details-api>
      </div>
    </div>
  </div>
</div>
