.dropdown-item-active {
  display: block !important;
  width: 100% !important;
  padding: 0.25rem 1.5rem !important;
  clear: both !important;
  font-weight: 400 !important;
  text-align: inherit !important;
  white-space: nowrap !important;
  border: 0 !important;
  position: relative !important;
  padding: 10px 20px !important;
  border-bottom: 1px solid #c8ced3 !important;
  color: #fff !important;
  text-decoration: none !important;
  background-color: #4c9aae !important;
}
.btnColor {
  background-color: #4c9aae !important;
}

.tooltip-dropdown {
  border: 1px solid #c8ced3 !important;
  position: absolute;
  transform: translate3d(15px, 33px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.pointer {
  cursor: pointer;
}

.doc-code {
  color: rgb(76, 154, 174);
  text-decoration: underline;
}

.card-avatar {
  width: 50px;
  height: 50px;
}
img#ThumbnailSupplier {
  height: 100%;
}
.customer-photo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: 32px 35px;
  background-position: center center;
  vertical-align: middle;
  line-height: 32px;
  box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
