
:host ::ng-deep .k-grid-filter{
  padding:0 !important;
  width:1px !important;
}
.k-numerictextbox{
  width:auto !important;
  transform: translateX(2rem);
}
.spinner {
  padding-top: 20%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000052;
  z-index: 9999;
}
