<div class="card">
  <div style="margin-left: 40px; margin-top: 20px;">
    <h3 class="card-title mb-0">{{ 'MOBILITY_REQUEST_LIST' |translate }}</h3>
  </div>
  <form class="form-horizontal">
    <div class="card-body">
      <kendo-grid (dataStateChange)="dataStateChange($event)"
                  (remove)="removeHandler($event)"
                  [columnMenu]="true"
                  [data]="gridSettings.gridData"
                  [filter]="gridSettings.state.filter"
                  [groupable]='false'
                  [kendoGridSelectBy]="'Id'"
                  [pageSize]="gridSettings.state.take"
                  [pageable]="pagerSettings"
                  [reorderable]="true"
                  [selectable]="{enabled: true, checkboxOnly: true }"
                  [skip]="gridSettings.state.skip"
                  [sort]="gridSettings.state.sort"
                  [sortable]="true"
                  filterable="menu">
        <ng-template kendoGridToolbarTemplate>
          <div class="row" style="float :right; margin-right: 40px;">
            <app-btn-grid [addLink]='"add"' [add]='false' [advencedAdd]='true' [export]='true'
                          style="margin-top: -5%;    display: inline-flex;"></app-btn-grid>
          </div>
        </ng-template>
        <!-- Recruitment list-->
        <!--Job-->
        <kendo-grid-column [field]="gridSettings.columnsConfig[0].field"
                           [filterable]="gridSettings.columnsConfig[0].filterable"
                           [title]="gridSettings.columnsConfig[0].title | translate"
                           [width]="gridSettings.columnsConfig[0]._width">
          <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
            {{dataItem.IdEmployeeNavigation.FullName}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [field]="gridSettings.columnsConfig[1].field"
                           [filterable]="gridSettings.columnsConfig[1].filterable"
                           [title]="gridSettings.columnsConfig[1].title | translate"
                           [width]="gridSettings.columnsConfig[1]._width">
          <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
            {{dataItem.IdCurrentOfficeNavigation.OfficeName | translate}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
                           [filterable]="gridSettings.columnsConfig[2].filterable"
                           [title]="gridSettings.columnsConfig[2].title | translate"
                           [width]="gridSettings.columnsConfig[2]._width">
          <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
            {{dataItem.IdDestinationOfficeNavigation.OfficeName | translate}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [field]="gridSettings.columnsConfig[3].field"
                           [filterable]="gridSettings.columnsConfig[3].filterable"
                           [title]="gridSettings.columnsConfig[3].title | translate"
                           [width]="gridSettings.columnsConfig[3]._width">
          <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
            {{dataItem.DesiredMobilityDate | date:formatDate}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [field]="gridSettings.columnsConfig[4].field"
                           [filterable]="gridSettings.columnsConfig[4].filterable"
                           [title]="gridSettings.columnsConfig[4].title | translate"
                           [width]="gridSettings.columnsConfig[4]._width">
          <ng-template kendoGridCellTemplate let-dataItem='dataItem'>
            {{dataItem.EffectifMobilityDate | date:formatDate}}
          </ng-template>
        </kendo-grid-column>


        <!--Status-->
        <!--<kendo-grid-column [field]="gridSettings.columnsConfig[5].field" [width]="gridSettings.columnsConfig[5]._width"
                           [title]="gridSettings.columnsConfig[5].title | translate" [filter]="gridSettings.columnsConfig[5].filter"
                           [filterable]="gridSettings.columnsConfig[5].filterable" [format]="gridSettings.columnsConfig[5].format">
          <ng-template kendoGridCellTemplate let-dataItem='dataItem'>


            <div class="progress mb-4" style="width: 80%!important;">
              <div class="progress-bar progress-bar-striped progress-bar-animated"
                   style="background-color: #4c9aae"
                   role="progressbar"
                   aria-valuenow="dataItem.State"
                   aria-valuemin="1"
                   aria-valuemax="9"
                   [style.width]="(dataItem.State / 9)*100  + '%'"
                   style="display: block;"></div>
            </div>
            <div *ngIf="dataItem.State == 1" style="margin-top:-25px!important;">
              <span class="badge"> {{'DRAFT'|translate}} (1/9)</span>
            </div>
            <div *ngIf="dataItem.State == 2" style="margin-top:-25px!important;">
              <span class="badge">{{'CANDIDACY'|translate}} (2/9)</span>
            </div>
            <div *ngIf="dataItem.State == 3" style="margin-top:-25px!important;">
              <span class="badge">{{'PRE_SELECTION'|translate}} (3/9)</span>
            </div>
            <div *ngIf="dataItem.State == 4" style="margin-top:-25px!important;">
              <span class="badge">{{'INTERVIEW'|translate}} (4/9)</span>
            </div>
            <div *ngIf="dataItem.State == 5" style="margin-top:-25px!important;">
              <span class="badge">{{'EVALUATION'|translate}} (5/9)</span>
            </div>
            <div *ngIf="dataItem.State == 6" style="margin-top:-25px!important;">
              <span class="badge">{{'SELECTION'|translate}} (6/9)</span>
            </div>
            <div *ngIf="dataItem.State == 7" style="margin-top:-25px!important;">
              <span class="badge">{{'OFFER'|translate}} (7/9)</span>
            </div>
            <div *ngIf="dataItem.State == 8" style="margin-top:-25px!important;">
              <span class="badge">{{'HIRING'|translate}} (8/9)</span>
            </div>
            <div *ngIf="dataItem.State == 9" style="margin-top:-25px!important;">
              <span class="badge">{{'CLOSED'|translate}} (9/9)</span>
            </div>
          </ng-template>
        </kendo-grid-column>-->
        <!-- End Recruitment list-->
        <!-- Action-->
        <kendo-grid-command-column [width]="110">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-isNew="isNew">
            <!--Open advanced edit form -->
            <button (click)="goToAdvancedEdit(dataItem)"
                    class="k-button btnKendoGrid">
              <i class="fa fa-chevron-circle-right"></i>
            </button>
            <!-- remove command directive, will be visible when not in edit mode -->
            <button class="btnKendoGrid" kendoGridRemoveCommand>
              <i class="fa fa-trash-o"></i>
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
  </form>
</div>
