fieldset {
    border          : 1px solid #ddd !important;
    margin          : 0;
    min-width       : 0;
    padding         : 5px;
    position        : relative;
    border-radius   : 4px;
    background-color: #FFF;
    padding-left    : 10px !important;
}

legend {
    font-size       : 14px;
    margin-bottom   : 0px;
    margin-right    : 0px;
    min-width       : 5%;
    width           : auto;
    padding         : 2px 10px 2px 10px;
    background-color: #ffffff;
}

fieldset legend {
    font-size: 16px;
}