<div [formGroup]="group">
  <kendo-combobox [data]="teamTypeFiltredDataSource" class="form-control HistoryCommandMargin" name="IdTeamType"
    formControlName="IdTeamType" textField="Label" valueField="Id" [disabled]="disabled" [valuePrimitive]="true"
    [allowCustom]="allowCustom" [filterable]="true" (filterChange)="handleFilter($event)">
    <!--footer template-->
    <ng-template kendoDropDownListFooterTemplate>
      <app-drop-down-footer [addNew]="addNew.bind(this)"></app-drop-down-footer>
    </ng-template>
    <!--end footer template-->
  </kendo-combobox>
</div>