.interview_menu {
  font-size: smaller;
}

.up_space {
  margin-top: 10px;
}

.bottom_space {
  margin-bottom: 10px;
}

.refuse_button {
  margin-left: -4px !important;
}

.right_side {
  float: right !important;
}

.lang_drop_btn {
  float: right !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  margin-bottom: 10px !important;
}

.toolbar_template {
  float: right;
  margin-right: 40px;
  margin-bottom: 50px;
}

.header_template {
  background-color: white;
  border: none
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.noInterview {
  color: red;
}

.invite-space {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.confirm_btn {
  padding-bottom: 5px;
  height: 26px;
  margin-bottom: 5px;
}
