
    .show-more {
        font-size: 12px;
        border-radius: 100px 100px 100px 100px;
        -moz-border-radius: 100px 100px 100px 100px;
        -webkit-border-radius: 100px 100px 100px 100px;
        border: 2px solid var(--green) !important;
        padding: 3px;
        width: 28px;
        margin-right: 2px;
        margin-bottom: 1px;
      }
     