<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <!--Begin card body-->
        <div class="card-body">
          <div class="row d-flex justify-content-between mt-3">
            <!-- search div-->
            <div class="d-flex justify-content-center col-lg-4 col-md-6 col-sm-12">
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-10">
                    <input type="text" class="form-control"
                           placeholder="{{'SUB_FAMILY_SEARCH'|translate}}"
                           aria-describedby="addon-wrapping"
                           [(ngModel)]='subfamilyFilter' (keyup)='filter()'>
                  </div>
                  <div class="col-2 p-1">
                    <i class="fa fa-search fa-lg" aria-hidden="true" (click)='filter()'></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- End search div-->
            <app-btn-grid class="col" [advencedAdd]='hasAddSubFamilyPermission' [addLink]='"AdvancedAdd"'
                          [model]='true' [relativeStyle]='true'
                          [fileName]="'SUB_FAMILY_LIST'|translate"
                          [gridSettings]="gridSettings"
                          [service]="subFamilyService"
                          [predicate]="predicate"
                          [isExportExcel]="true">
            </app-btn-grid>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 px-0">
            <div class="mb-3" style="float: left;width: 100%">
              <div class="tab-pane active show" id="home1" role="tabpanel">
                <kendo-grid [data]="gridSettings.gridData" [pageSize]="gridSettings.state.take"
                            [skip]="gridSettings.state.skip" [sort]="gridSettings.state.sort"
                            [filter]="gridSettings.state.filter"
                            (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)"
                            (remove)="removeHandler($event)" (dataStateChange)="dataStateChange($event)"
                            [sortable]="true"
                            [pageable]="pagerSettings" [filterable]="true" [groupable]='false' [reorderable]="true"
                            [columnMenu]="false">
                  <!--Code-->
                  <kendo-grid-column [field]="gridSettings.columnsConfig[0].field"
                                     [title]="gridSettings.columnsConfig[0].title | translate"
                                     [width]="gridSettings.columnsConfig[0]._width"
                                     [filter]="gridSettings.columnsConfig[0].filter"
                                     [filterable]="gridSettings.columnsConfig[0].filterable">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div class="row d-flex align-items-center">
                        <div class="col-auto">
                          <img id="blah" class="rounded-circle card-avatar"
                          [src]="dataItem.image"
                               alt="avatar"/>
                        </div>
                        <div class="col pl-0">
                          <span class="tiers-title"> {{dataItem.Code}} </span>
                        </div>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <!--Designation-->
                  <kendo-grid-column [field]="gridSettings.columnsConfig[1].field"
                                     [title]="gridSettings.columnsConfig[1].title| translate"
                                     [width]="gridSettings.columnsConfig[1]._width"
                                     [filter]="gridSettings.columnsConfig[1].filter"
                                     [filterable]="gridSettings.columnsConfig[1].filterable">
                  </kendo-grid-column>

                  <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
                                     [title]="gridSettings.columnsConfig[2].title | translate"
                                     [width]="gridSettings.columnsConfig[2]._width"
                                     [filter]="gridSettings.columnsConfig[2].filter"
                                     [filterable]="gridSettings.columnsConfig[2].filterable">
                  </kendo-grid-column>
                  <!--Description-->
                  <kendo-grid-command-column [width]="columnActionsWidth" [title]="'ACTIONS' | translate">
                    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                      <!-- edit command directive, will be visible when not in edit mode -->
                      <i class="las la-pen cursor-pointer edit-pencil la-lg mx-3" aria-hidden="true"
                         (click)="goToAdvancedEdit(dataItem)" *ngIf="hasShowSubFamilyPermission || hasUpdateSubFamilyPermission"></i>
                      <!-- remove command directive, will be visible when not in edit mode -->
                      <i  class="fa fa-trash-o la-lg text-danger cursor-pointer" aria-hidden="true"
                         (click)="removeHandler(dataItem)" *ngIf="hasDeleteSubFamilyPermission"></i>
                         <span *ngIf="!dataItem.IdSubCategoryEcommerce">
                          </span>
                    </ng-template>
                  </kendo-grid-command-column>
                </kendo-grid>
              </div>
              <!--End card body-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
