<div class="period-filter card-header" style="background-color: white;  border: none">
  <div class="period-filter row justify-content-between pt-2">
    <div class="col-sm-6">
      <h4 class="card-title mb-0">{{'LEAVE_BY_EMPLOYEE'|translate}} </h4>
      <div *ngIf="hasPurchasesSalesVolumeData" class="small text-muted">
        {{'DU'|translate}} {{purchasesSalesVolumeStartDate|date: dateformat}}
        {{'AU'|translate}} {{purchasesSalesVolumeEndDate|date: dateformat}}
      </div>
      <div *ngIf="!hasPurchasesSalesVolumeData" class="small text-muted" style="height: 16px;">
      </div>
    </div>
    <div class="period-filter mx-3">

      <div class="period-filter dropdown">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{salePurchasesSalesVolumePeriod | translate}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item pointer-cursor"
            (click)="ChangePurchasesSalesVolumeChart(1)">{{'CURRENT_MONTH' | translate}}</a>
          <a class="dropdown-item pointer-cursor"
            (click)="ChangePurchasesSalesVolumeChart(2)">{{'LAST_MONTH' | translate}}</a>
          <a class="dropdown-item pointer-cursor"
            (click)="ChangePurchasesSalesVolumeChart(3)">{{'LAST_SIX_MONTH' | translate}}</a>
          <a class="dropdown-item pointer-cursor"
            (click)="ChangePurchasesSalesVolumeChart(4)">{{'CURRENT_YEAR' | translate}}</a>
          <a class="dropdown-item pointer-cursor"
            (click)="ChangePurchasesSalesVolumeChart(5)">{{'LAST_YEAR' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-body">
  <canvas *ngIf="hasPurchasesSalesVolumeData && salesAndPurchaseChart" baseChart
    [datasets]="salesAndPurchaseChart.barChartData" [labels]="salesAndPurchaseChart.barChartLabels"
    [colors]="salesAndPurchaseChart.barChartColors" [options]="salesAndPurchaseChart.barChartOptions"
    [legend]="salesAndPurchaseChart.barChartLegend" [chartType]="salesAndPurchaseChart.barChartType"
    #canvasSalePurchase></canvas>
  <div *ngIf="!hasPurchasesSalesVolumeData && !PurchasesSalesVolumeDataLoading" #canvasDivSalePurchase>
    <img src="../../../../assets/image/no_datafound.png" style="
                              position: absolute;
                              opacity: 0.2;
                              width: 60%;
                              margin-left: 15%;">
    <h5 style="font-size: 35px; text-align: center; padding: 10%;"> {{'NO_INVOICE' | translate}} </h5>
  </div>
  <div *ngIf="PurchasesSalesVolumeDataLoading && !hasPurchasesSalesVolumeData" #canvasDivSalePurchase>
    <app-spinner></app-spinner>
  </div>
</div>
