// .active-link{
//     color: #4c9aae !important;
// }
.nav-item{
  width: 20%;
  z-index: 9999999;
  background: white;
  width: 100%;
  padding-top: 10px;
  margin-bottom: -1px;
  border-bottom: 1px solid #c8ced3;
}
a.nav-link.nav-style {
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.navbar{background:#222222;}
// .nav-item::after{content:'' ;display:block;width:0px;height:2px;background:#4c9aae !important;transition: 0.2s;}
// .nav-item:hover::after{width:100%;}
// .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active,
//  .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show >
//  .nav-link,.navbar-dark .navbar-nav .nav-link:focus,
//  .navbar-dark .navbar-nav .nav-link:hover{color:#4c9aae !important; }
.nav-link{transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#212529;}
// .dropdown-item:focus, .dropdown-item:hover{background:#4c9aae !important;}
a.nav-link.nav-style.active-link{
  border: 1px solid black;
  color: #23282c;
  background-color: #fff;
  border-color: #c8ced3 #c8ced3 #fff;
  background: #4c9aae36;
}
