  .pointer {
    cursor: pointer;
  }

  .doc-code {
    color: rgb(76, 154, 174);
    text-decoration: underline;
  }

  .disposal-btn {
    vertical-align: middle;
    margin: 0 0.16em;
    height: 20px;
    // border-radius: 8px;
    cursor: pointer;
  }
  .multi-select-style{
    border: 2px double #4c9aae78;
  }
  .margin {
    margin-bottom: 15px;
  }

  .icon-replacement-style {
   width: 11px;
   height: 11px;
   margin-top: 3px;
  }

  .justify-quickSearch {
    padding-right: 45px;
  }

  .multi-check {
    width: 400px;
  }
