.margin {
    margin-bottom: 15px;
}

fieldset {
    padding: 20px;
}

legend {
    color    : #13688c;
    width    : fit-content !important;
    font-size: medium;
}

.la-angle-color {
    color: #13688c;
}

kendo-dropdownbutton.k-widget.k-dropdown-button .k-button {
    background-color: #20a8d8;
    color           : white;
    height          : 1.85em;
}