<div class="col-lg-12 col-md-12 col-sm-12">
  <!-- Operations grid -->
  <kendo-grid #grid [data]="gridSettings.gridData" [pageable]="pagerSettings" [pageSize]="gridSettings.state.take"
   [skip]="gridSettings.state.skip" [reorderable]="true" [sortable]="true" (dataStateChange)="dataStateChange($event)"
    (add)="addHandler($event)" (edit)="editHandler($event)" (save)="saveHandler($event)"
    (cancel)="cancelHandler($event)" (remove)="removeHandler($event)" >
    <!-- Add operation button start -->
    <ng-template kendoGridToolbarTemplate *ngIf="!isModal">
      <app-btn-grid class="col" [add]='hasUpdatePermission' [relativeStyle]="false">
      </app-btn-grid>
    </ng-template>
    <!-- Add operation button End -->
    <!-- Operation -->
    <kendo-grid-column [field]="columnsConfig[0].field" [width]="200">
      <ng-template kendoGridHeaderTemplate>
        <span tooltip="{{columnsConfig[0].tooltip|translate}}" theme="light">{{columnsConfig[0].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup" let-isNew="isNew">
        <div class="row col-lg-12 col-md-12 col-sm-12" *ngIf="isNew">
          <div class="col-lg-10 col-md-10 col-sm-10">
            <app-operation-dropdown [group]="formGroup" [operationListIdsToIgnore]="operationListIdsToIgnore"
              (Selected)="onSelectOperation($event)">
            </app-operation-dropdown>
            <i #anchor></i>
            <app-control-message-grid-cell [group]="formGroup" [anchor]="anchor" controlName="IdOperation">
            </app-control-message-grid-cell>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2" *ngIf="isShortcutAddbuttonVisible">
            <i #searchButton class="fa fa-search fa-lg m-2" (click)="onSearchClicked()"></i>
          </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-sm-12" *ngIf="!isNew">
          {{dataItem && dataItem.IdOperationNavigation ? dataItem.IdOperationNavigation.Name : ''}}
        </div>
      </ng-template>
    </kendo-grid-column>
    <!-- Duration -->
    <kendo-grid-column [field]="columnsConfig[1].field" [width]="150">
      <ng-template kendoGridHeaderTemplate>
        <span tooltip="{{'DURATION' | translate}}" theme="light">{{ 'DURATION' |translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <span *ngIf="dataItem && dataItem.IdOperationNavigation && (dataItem.IdOperationNavigation.DurationInDays > 0)">
          {{dataItem.IdOperationNavigation.DurationInDays}}&nbsp;{{'DAYS' | translate}}
        </span>
        <span
          *ngIf="dataItem && dataItem.IdOperationNavigation && (dataItem.IdOperationNavigation.DurationInHours > 0)">
          {{dataItem.IdOperationNavigation.DurationInHours}}&nbsp;{{'HOURS' | translate}}
        </span>
        <span
          *ngIf="dataItem && dataItem.IdOperationNavigation && (dataItem.IdOperationNavigation.DurationInMinutes > 0)">
          {{dataItem.IdOperationNavigation.DurationInMinutes}}&nbsp;{{'MINUTES' | translate}}
        </span>
        <span
          *ngIf="dataItem && dataItem.IdOperationNavigation && (dataItem.IdOperationNavigation.DurationInSecondes > 0)">
          {{dataItem.IdOperationNavigation.DurationInSecondes}}&nbsp;{{'SECONDS' | translate}}
        </span>
        <span *ngIf="!(dataItem && dataItem.IdOperationNavigation)">
          0
        </span>  
      </ng-template>
      <ng-template kendoGridEditTemplate let-formGroup="formGroup"> 
        <span *ngIf="formGroup.controls.Duration.value > 0">
          {{formGroup.controls.Duration.value}}&nbsp;
        </span>  
        <span *ngIf="!formGroup.controls.Duration.value">
          0&nbsp;{{'MINUTES' | translate}}
        </span>
      </ng-template> 
    </kendo-grid-column>
    <!-- Htprice -->
    <kendo-grid-column [field]="columnsConfig[2].field" [width]="200"
      [style]='{"font-family": "Arial, Helvetica, serif", "color": "#505253", "text-align":"right", "padding-right": "9%"}'>
      <ng-template kendoGridHeaderTemplate>
        <span tooltip="{{columnsConfig[2].tooltip|translate}}" theme="light">{{columnsConfig[2].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <span *ngIf="companyCurrency && dataItem.Htprice > 0">
          {{dataItem.Htprice.toLocaleString(language,{minimumFractionDigits: companyCurrency.Precision,
          style: 'currency', currency: companyCurrency.Code, currencyDisplay:'code'})
          }}
        </span>
        <span *ngIf="!companyCurrency">
          {{dataItem.Htprice}}
        </span>
        <span *ngIf="companyCurrency && !dataItem.Htprice">
          0&nbsp;{{companyCurrency.Code}}
        </span> 
      </ng-template>
      <ng-template kendoGridEditTemplate let-formGroup="formGroup">
        <span *ngIf="companyCurrency && formGroup.controls.Htprice.value > 0">
          {{formGroup.controls.Htprice.value.toLocaleString(language,{minimumFractionDigits: companyCurrency.Precision,
          style: 'currency', currency: companyCurrency.Code, currencyDisplay:'code'})
          }}
        </span>
        <span *ngIf="!companyCurrency">
          {{formGroup.controls.Htprice.value}}
        </span>
        <span *ngIf="companyCurrency && !formGroup.controls.Htprice.value">
          0&nbsp;{{companyCurrency.Code}} 
        </span> 
      </ng-template>
    </kendo-grid-column>
    <!-- Command-->
    <kendo-grid-command-column [width]="100" [title]="'ACTIONS' | translate" *ngIf="!isModal">
      <ng-template kendoGridHeaderTemplate>
        <span tooltip="{{'ACTIONS' | translate}}" theme="light">{{'ACTIONS' | translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
        <button kendoGridEditCommand  *ngIf="isNew && hasUpdatePermission" tooltip="{{'UPDATE' | translate}}" class='noPadding btn-Add' type="button">
          <i class="las la-pen cursor-pointer edit-pencil la-lg ng-star-inserted" aria-hidden="true"></i>
        </button>
        <button kendoGridSaveCommand *ngIf="isNew && hasUpdatePermission" tooltip="{{'SAVE' | translate}}" class='noPadding btn-Add' type="button">
          <i class="fa fa-check fa-lg AddIcon" aria-hidden="true"></i>
        </button>
        <button kendoGridCancelCommand tooltip="{{'CANCEL' | translate}}" class="noPadding btn-Add k-button" *ngIf="hasUpdatePermission"
          type="button">
          <i class="fa fa-ban fa-lg" style="color: #E91E63;" aria-hidden="true"></i>
        </button>
        <button kendoGridRemoveCommand tooltip="{{'DELETE' | translate}}" class="noPadding btn-Add k-button" dir="ltr" *ngIf="hasUpdatePermission"
          style="border: none; color: #E91E63 !important;" type="button">
          <i class="fa fa-times fa-lg"></i>
        </button>

      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>