.matable > tbody, .matable > tbody > tr > td {
  border: 1px solid #d9dee4;
}

.form-training {
  padding: 8px;
}

.add-btn {
  cursor: pointer;
  margin-left: 10px;
  width: 40%;
}

.label-day {
  width: 60%;
  margin-left: 10px;
}

.lines-td {
  background-color: rgba(30, 156, 133, 0.075);
}
