<!--grid pdf-->
<kendo-grid-pdf [fileName]="fileName +'-'+ (dateTime | date:'full') + '.pdf'"
                [allPages]="true"
                paperSize="A4"
                [repeatHeaders]="true"
                [landscape]="true"
                [scale]="0.8"
                [margin]="{ top: '2cm', left: '1cm', right: '1cm', bottom: '2cm' }"
                *ngIf="pdf">
  <!--columns to export-->
  <kendo-grid-column *ngFor="let column of gridSettings.columnsConfig"
                     [field]="column.field"
                     title="{{column.title | translate}}">
                     <ng-template  *ngIf="column.field === 'DocumentDate'" kendoGridCellTemplate let-dataItem="dataItem">
                      {{dataItem.DocumentDate|date: column.format}}
                     </ng-template>
                     <ng-template *ngIf="column.field === 'TiersPriceRequest'" kendoGridCellTemplate let-dataItem>
                      | <span *ngFor="let tiersPriceRequest of dataItem.TiersPriceRequest;" >
                       {{tiersPriceRequest.IdTiersNavigation.Name}} |
                      </span>
                    </ng-template>
  </kendo-grid-column>
  <!--end columns to export-->
  <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
    <div class="page-template">
      <div class="header">
        {{fileName}}
      </div>
      <div class="footer">
        {{'EXPORT_PDF_PAGE' | translate}} {{ pageNum }} / {{ totalPages }}
      </div>
    </div>
  </ng-template>
</kendo-grid-pdf>
<!--end grid pdf-->

<!--grid excel-->
<kendo-grid-excel [fileName]="fileName +'-'+ (dateTime | date:'full') + '.xlsx'"
                  [fetchData]="allData"
                  *ngIf="excel">
  <!--columns to export-->
  <kendo-grid-column *ngFor="let column of gridSettings.columnsConfig"
                     [field]="column.field"
                     title="{{column.title | translate}}">
  </kendo-grid-column>
  <!--end columns to export-->
</kendo-grid-excel>
<!--end grid excel-->
