p.description {
  color: #9aa4ae;
}
.tick {
  background-color: #b3d6f9;
  padding: 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #2f477a;
}
.symbol-icon {
  color: #336699;
}
.important-number {
  font-size: x-large;
}
.left-to-pay {
  border-radius: 30px !important;
  i {
    font-size: xxx-large;
  }
}
.contact-message {
  color: cornflowerblue;
  font-size: medium
}
