.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #3e98b3 !important;
}

.mat-focused .mat-form-field-label {
  color: #3e98b3 !important;
}

.mat-form-field-underline {
  position: absolute;
  height: 1px;
  width: 100%;
  color: #3e98b3 !important;
}

.mat-form-field-ripple {
  color: #3e98b3 !important;
}
