<div class="card">
  <!-- Begin card header -->
  <div class="card-header" style="height: 75px;">
    <div class="row">
      <div class="col-1 primaryColor mt-1">
        <i class="fa fa-bar-chart fa-3x"></i>
      </div>
      <h2 class="col-lg-10 mt-2 TitleSize primaryColor">
        {{ 'RH_REPORTING' | translate }}
      </h2>
    </div>
  </div>
  <!-- End card header -->
  <!-- Begin card body -->
  <div class="card-body">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <!-- Begin tab headers -->
          <ul class="nav nav-tabs" role="tablist">
            <!-- Begin Age range header -->
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#AGERANGE" role="tab" aria-controls="home"
                aria-selected="false">
                <i class="fa fa-sitemap"></i> {{'AGE_RANGE'|translate}}
              </a>
            </li>
            <!-- End Age range header -->
            <!-- Begin Femal man ratio header -->
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#FEMALEMANRATIO" role="tab" aria-controls="home"
                aria-selected="false">
                <i class="fa fa-o fa-venus-mars fa-lg"></i> {{'FEMALE_MAN_RATIO'|translate}}
              </a>
            </li>
            <!-- End Femal man ratio -->
            <!-- Begin Seniority header -->
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#SENIORITY" role="tab" aria-controls="home"
                aria-selected="false">
                <i class="fa fa-level-up"></i> {{'SENIORITY'|translate}}
              </a>
            </li>
            <!-- End Seniority-->
          </ul>
          <!-- End tab headers -->
          <!-- Begin tab contents -->
          <div class="tab-content" style="display: flex;">
            <!-- Begin Age range -->
            <div class="col-lg-12 tab-pane active show" id="AGERANGE" role="tabpanel" [ngStyle]="{'min-height': '400px', 'max-height': '400px', 'overflow-y': 'auto'}">
              <app-age-range></app-age-range>
            </div>
            <!-- End Age range -->
            <!-- Begin Femal man ration  -->
            <div class="col-lg-12 tab-pane show" id="FEMALEMANRATIO" role="tabpanel" [ngStyle]="{'min-height': '400px', 'max-height': '400px', 'overflow-y': 'auto'}">

            </div>
            <!-- End Femal man ration  -->
            <!-- Begin Seniority -->
            <div class="col-lg-12 tab-pane show" id="SENIORITY" role="tabpanel" [ngStyle]="{'min-height': '400px', 'max-height': '400px', 'overflow-y': 'auto'}">

            </div>
            <!-- End Seniority  -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>