<div [formGroup]="itemForm">
  <kendo-combobox formControlName="IdNature" [data]="natureFiltredDataSource" [textField]="'Label'" [valueField]="'Id'"
    [allowCustom]="allowCustom" [valuePrimitive]="true" class="form-control" [filterable]="true"
    (valueChange)="typeSelected($event)" [(value)]="selectedValue" (filterChange)="handleFilter($event)"
    [disabled]="disabled">
    <!--footer template-->
    <ng-template *ngIf="isForAddNewItem && addNewPermission" kendoDropDownListFooterTemplate>
      <app-drop-down-footer [addNew]="addNew.bind(this)"></app-drop-down-footer>
    </ng-template>
    <!--end footer template-->
    <!--No data template-->
    <ng-template kendoDropDownListNoDataTemplate>
      <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
    </ng-template>
    <kendo-combobox-messages clearTitle="{{'CLEAR'|translate}}"> </kendo-combobox-messages>
    <!--end No data template-->
  </kendo-combobox>
</div>