<div class="card h-100" style="border: 1px solid #c0c0c0 !important;">
  <!--Begin Card eader-->
  <div class="card-header ng-star-inserted" style="background-color: white">
    <div class="row" style="float: right">
      <div class="col-lg-auto col-md-1 col-sm-12 primaryColor" style="float: right">
        <div class="row pl-3">
          <i class=" fa fa-line-chart fa-3x"></i>
          <div class="col-auto d-flex align-items-end" style="width: 220px">
            <input class="form-control InvoiceNumber pb-0" [value]="documentForm.controls['Code']?.value" [readOnly]="true">
          </div>
        </div>
      </div>
      <app-document-header [documentForm]="documentForm" style="float: right"
        class="col-lg-auto col-md-3 col-sm-12 d-flex align-items-center">
      </app-document-header>
    </div>
  </div>
  <!--End Card header-->
  <!--Begin add form-->
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="documentForm">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="form-group row">
          <div class="col-lg-12 col-sm-12 col-md-12 ">
            <div class="form-group row">
              <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="col-lg-12 col-md-12 col-sm-12">
                  <span tooltip="Devise: {{formatOptions? formatOptions.currency : '--'}}" theme="light">
                    {{'SUPPLIER'|translate}} <span class="required">*</span>
                  </span>
                </label>
                <app-supplier-dropdown [type]=2 [itemForm]="documentForm" (Selected)="receiveSupplier($event)"
                  class="error-msg messages text-left text-danger" [showDetails]='showSupplierDetails'
                  [hideAddBtn]='!hideSupplierAddBtn'>
                </app-supplier-dropdown>
                <app-control-messages [control]="documentForm.controls.IdTiers"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'DATE'|translate}}<span class="required">*</span></label>
                <kendo-datepicker [format]="formatDate()" formatPlaceholder="narrow" class="form-control"
                  formControlName="DocumentDate" (focusout)='changeData()'>
                  <kendo-datepicker-messages today="{{ 'TODAY' | translate}}"
                    toggle="{{ 'CALENDAR.MENU_TITLE' | translate}}">
                  </kendo-datepicker-messages>
                </kendo-datepicker>
                <app-control-messages [control]="documentForm.controls.DocumentDate"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'CONTACT'|translate}} </label>
                <app-contact-dropdown class="error-msg messages text-left text-danger" [itemForm]="documentForm"
                  (selectedContact)='selectedContact($event)' [showAddNew]='hideSupplierAddBtn'>
                </app-contact-dropdown>
              </div>
              <!-- <div class="row justify-content-between"> -->
              <div class="col-lg-3 col-md-6 col-sm-12">
                <label class="col-lg-12 col-md-12 col-sm-12">
                  {{'COEFF'|translate}}
                </label>
                <input type="number" formControlName='Coefficient' (focusout)='changeData()' class="ml-1 form-control">
                <app-control-messages [control]="documentForm.controls.Coefficient"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
        <div class="row justify-content-between">


          <div class="col-sm-12 col-md-6 col-lg-3">
            <label class="col-lg-12 col-md-12 col-sm-12">{{'NOTE'|translate}}</label>
            <input class="form-control" formControlName="Reference" type="text" name="Reference"
              (focusout)="changeData()">
          </div>
          <div class="offset-9 col-lg-3 col-md-3 col-sm-3">

            <app-upload-file [fileToUpload]="attachmentFilesToUpload"
              [canUpdateFile]="isDisabledForm() || (isUpdateMode && !hasUpdatePermission)" [service]="documentService"
              (selectedFiles)='selectedFiles($event)'>
            </app-upload-file>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item" (click)='orderTabSelect()'>
                <a class="nav-link active pb-0 pt-1 show" data-toggle="tab" href="#home3" role="tab"
                  aria-controls="home" aria-selected="true">
                  <i class="icon-calculator"></i> {{'ORDER'|translate}}
                </a>
              </li>
              <li class="nav-item" *ngIf='documentForm.controls["Id"].value>0' (click)='verifyChangeToLoadQuotation()'>
                <a class="nav-link pb-0 pt-1" data-toggle="tab" href="#quotation" role="tab" aria-controls="info"
                  aria-selected="false">
                  <i class="fa fa-files-o"></i> &nbsp;{{'QUOTATION'|translate}}
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active pt-0 show" id="home3" role="tabpanel">
                <app-purchase-order-grid [itemForm]='documentForm' (reloadSignal)='ngOnInit()'
                  [isEditedGrid]='isDisabledForm() || (isUpdateMode && !hasUpdatePermission)'
                  [documentType]="documentType" [formatOption]="formatOptions"
                  [updateValidDocumentRole]='updateValidDocumentRole'
                  [DocumentLineNegotiationOptions]='DocumentLineNegotiationOptions'
                  (changeDocumentFormValue)='changeDocumentFormValue($event)'
                  (isChangedDocumentLine)="changeLineOfPurchaseOrder()" (selectedLine)="checkIfItemsHasProducts($event)"
                  [documentTaxeResume]="documentTaxeResume">
                  <!-- (callLoadQuotion)="refreshQuotations($event)" -->
                </app-purchase-order-grid>
                <div class="row" *ngIf='guidItem && showEquiv'>
                  <div class="col-sm-5 mb-2">
                    <div class="row mb-0">
                      <h5 style="color: #336699">{{'EQUIVALENT_PRODUCT_FOR_ORDER' | translate}}</h5> &nbsp; <label
                        class="text-warning">{{guidItem.Description}}</label>
                    </div>
                  </div>
                </div>
                <div class="card-body py-0" *ngIf='guidItem && showEquiv'>
                  <app-list-item [gridSettings]="gridEquivalenceSettings" [item]='guidItem'
                    [grpList]="equivalenceGrpList">
                  </app-list-item>
                </div>
                <div class="col-12" style="text-align: center" *ngIf="!isItemSelectedHasProducts && isItemLineSelected">
                  <label style="color: #336699  !important;font: inherit;">{{noProductsInfo | translate}}</label>
                </div>
                <div class="row">

                  <div class="col-lg-6 col-md-6 col-sm-12 px-0">
                    <hr style="margin-bottom: 0rem;">
                    <div class="col-12 table-responsive" style="margin-bottom: -1rem;"
                      *ngIf="documentTaxeResume.length">
                      <table class="table table-sm" style="width: 60%;">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">{{'TAXE'|translate}}</th>
                            <th scope="col" style="text-align: center">{{'BASE_TVA'|translate}}</th>
                            <th scope="col" style="text-align: center">{{'AMOUNT'|translate}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let taxeResume of documentTaxeResume">
                            <td style="width: 10%;">
                              <span tooltip="{{taxeResume.IdTaxNavigation.Label}}" theme="light">
                                {{taxeResume.IdTaxNavigation.Label}}
                              </span>
                            </td>
                            <td style="width: 33%;" class="tva-base-amount">
                              <span
                                tooltip="{{taxeResume.HtAmountWithCurrency.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                                theme="light">
                                <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                  [value]="taxeResume.HtAmountWithCurrency" class="form-control inputEnabled" style="float: right; font-family: Arial,
                                  Helvetica; color: rgb(80, 82, 83); font-weight: bolder" [disabled]="true">
                                </kendo-numerictextbox>
                              </span>
                            </td>
                            <td style="width: 33%;" class="tva-base-amount">
                              <span
                                tooltip="{{taxeResume.TaxAmountWithCurrency.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                                theme="light">
                                <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                  [value]="taxeResume.TaxAmountWithCurrency" class="form-control inputEnabled" style="float: right; font-family: Arial,
                                  Helvetica; color: rgb(80, 82, 83);font-weight: bolder " [disabled]="true">
                                </kendo-numerictextbox>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 px-0 total-div">
                    <hr style="margin-bottom: 0rem;">
                    <div class="col-12 total-amount-position" style="margin-bottom: -1rem;">
                      <div class="row">
                        <div class="col-9  num-key">
                          <div style="font-weight: bold; font-size:0.8rem;float: right;">
                            {{'DISCOUNT'|translate}} </div>
                        </div>
                        <div class="col-3 num-value">
                          <span
                            tooltip="{{documentForm.controls['DocumentTotalDiscountWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                            theme="light">
                            <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                              formControlName="DocumentTotalDiscountWithCurrency"
                              class="num-field form-control disabledInput">
                            </kendo-numerictextbox>
                          </span>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-9 num-key">
                          <div style=" font-weight: bolder;
                                                    font-size: 15px;
                                                    font-style: normal;
                                                    color: black;float: right;">
                            {{'AMOUNT'|translate}} HT
                          </div>
                        </div>
                        <div class="col-3 num-value-large num-value">
                          <span
                            tooltip="{{documentForm.controls['DocumentHtpriceWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                            theme="light">
                            <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                              formControlName="DocumentHtpriceWithCurrency"
                              class="num-field important-amount form-control disabledInput" style="margin-top: -5%; font-family:
                                                                Arial, Helvetica, serif;font-weight: bloder;
                                                                    color: black"></kendo-numerictextbox>
                          </span>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-9 num-key">
                          <div style="font-weight: bold; font-size:0.8rem;float: right;">
                            {{'EXCLUDING_TVA'|translate}} </div>
                        </div>
                        <div class="col-3 num-value">
                          <span
                            tooltip="{{documentForm.controls['DocumentTotalExcVatTaxesWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                            theme="light">
                            <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                              formControlName="DocumentTotalExcVatTaxesWithCurrency"
                              class="num-field form-control disabledInput" style="margin-top: -5%; font-family: Arial, Helvetica;
                                                                 color: rgb(80, 82, 83); border-bottom: black;">
                            </kendo-numerictextbox>
                          </span>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-9 num-key">
                          <div style="font-weight: bold; font-size:0.8rem;float: right;">
                            {{'TVA'|translate}} </div>
                        </div>
                        <div class="col-3 num-value">
                          <span
                            tooltip="{{documentForm.controls['DocumentTotalVatTaxesWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                            theme="light">
                            <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                              formControlName="DocumentTotalVatTaxesWithCurrency"
                              class="num-field form-control disabledInput" style="margin-top: -5%; font-family: Arial,
                                                                Helvetica; color: rgb(80, 82, 83); ">
                            </kendo-numerictextbox>
                          </span>
                        </div>
                      </div>

                      <hr style="border-color: black;
                              border-bottom: 1px solid;width: 39%;float: right;
                              margin-bottom: 0rem;margin-top: 0rem;">
                      <br />

                      <div class="row" style="margin-top: -15px">
                        <div class="col-9 num-key">
                          <div style="font-weight: bolder;
                                                    font-size: 15px;
                                                    font-style: normal;
                                                    color: black;float: right;">
                            {{'AMOUNT'|translate}} TTC
                          </div>
                        </div>
                        <div class="col-3 num-value-large num-value">
                          <span
                            tooltip="{{documentForm.controls['DocumentTtcpriceWithCurrency'].value?.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                            theme="light">
                            <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                              formControlName="DocumentTtcpriceWithCurrency"
                              class="important-amount num-field form-control disabledInput"
                              style="margin-top: -5%;
                                             font-family: Arial, Helvetica; font-weight: bloder; color: rgb(80, 82, 83);">
                            </kendo-numerictextbox>
                          </span>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

              </div>
              <div class="tab-pane" id="quotation" role="tabpanel" style="min-height: 400px;">
                <button [hidden]='!((!isUpdateMode && hasAddPermission) || (isUpdateMode && hasUpdatePermission))
                  || showQuotation || (documentForm.controls["IdDocumentStatus"].value!=1)'
                  class="noPadding btn-Add k-button" type="button" dir="ltr" style="border: none"
                  (click)='loadQuotation()' style="margin:20px">
                  <i class="fa fa-plus-circle fa-lg AddIcon"></i>
                  <span>&nbsp; {{'DEVIS'|translate}}</span>
                </button>
                <app-add-devis [hidden]='!showQuotation' [documentForm]='documentForm'
                  (isDeleteQuotation)="deleteQuotation()" [formatOptionBudget]="formatOptions"
                  (reloadDataAfterReplaceEvent)="reloadDataAfterReplace()"
                  [isDisabled]='isDisabledForm() || (isUpdateMode && !hasUpdatePermission)'>
                </app-add-devis>
              </div>

              <div class="tab-pane" id="profile4" role="tabpanel"
                style="min-height: 400px;    max-height: 400px !important; overflow-y: scroll;">
                <app-history></app-history>
              </div>

            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
  <div class="fixed-card-footer">
    <div class="footerStyle">

      <footer class="app-footer" style="margin-left: 0;">
        <div class="w-100">
          <div class="d-flex justify-content-end p-3 footer-content">
            <a [routerLink]="'/main/purchase/purchaseorder'" style="margin-right: 4px;">
              <span class="btn btn-sm btn-back-to-list btn-primary">
                <i class="fa fa-chevron-circle-left"></i> {{'BACK_TO_LIST'|translate}}
              </span>
            </a>
            <span *ngIf='!isDisabledForm() && isSubmitBtnDisplay && isGridEmpty()'>
              <button type="button" (click)="onClickGetOverview()" class="btn btn-primary btn-sm"
                style="margin-right: 4px;">
                <span>
                  <i class="fa fa-eye"></i> {{'OVERVIEW'|translate}}
                </span>
              </button>
            </span>
            <span *ngIf='!isDisabledForm() && isSubmited && validateOrderPermission_PU' style="margin-right: 4px;">
              <button type="button" (click)="onClickValidate()" class="btn btn-sm btn-save mx-1"
                [disabled]='documentLineGrid.isInEditingMode' style="margin-right: 4px;">
                <span>
                  <i class="fa fa-floppy-o"></i> {{'VALIDATE'|translate}}
                </span>
              </button>
            </span>
            <span *ngIf='((!isUpdateMode && hasAddPermission) || (isUpdateMode && hasUpdatePermission))
              && !isDisabledForm() && isSubmitBtnDisplay() && isGridEmpty()' style="margin-right: 4px;">
              <button type="button" (click)="saveDocumentMessageNotification()" class="btn btn-sm badge-warning">
                <span>
                  <i class="fa fa-paper-plane-o"></i> {{'SUBMIT'|translate}}
                </span>
              </button>
            </span>

            <span *ngIf='printOrderPermission_PU && isDisabledForm() && isSubmited && documentForm.value.IdDocumentStatus != statusCode.Provisional' style="margin-right: 4px;">
              <kendo-dropdownbutton [data]="dataReportTemplate" (itemClick)="onJasperPrintClick($event)"
                [primary]="true" *ngIf='isMultiReportTemplate'>
                <i class="fa fa-print"></i> &nbsp;{{'PRINT'|translate}}
              </kendo-dropdownbutton>
              <button (click)='onJasperPrintClick()' type="button" class="btn btn-primary btn-sm"
                *ngIf='!isMultiReportTemplate && documentForm.value.IdDocumentStatus != statusCode.Provisional'>
                <i class="fa fa-print"></i> &nbsp;{{'PRINT'|translate}}
              </button>
            </span>

            <button *ngIf="hasSendEmailPriceRequestPermission" class="btn btn-sm"
              style="color: #ffffff; margin-right: 4px; background: gray;" (click)="sendMail()" type="button">
              <i class="fa fa-envelope-o"></i> {{'SEND_MAIL_PRICE_REQUEST'|translate}}
            </button>

            <button class="btn btn-sm btn-warning" (click)='printNegotiation()'
              *ngIf='DocumentLineNegotiationOptions && documentForm.controls["IsNegotitated"].value'><i
                class="fa fa-print"></i> &nbsp;{{'PRINT_NEGOTIATION'|translate}}</button>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>

<div id="myNav" class="overlay">

  <div class="container-fluid d-flex h-100">
    <div class="row justify-content-center align-self-center" style="width: 100%; overflow-x: auto;
    overflow-y: hidden;">
      <div class="col-12 mx-auto" *ngIf='isClosed==false'>
        <div>
          <a class="closebtn" (click)="closePopup()">&times;</a>
        </div>
        <app-add-devis [documentForm]='documentForm' [formatOptionBudget]="formatOptions"></app-add-devis>
        <div class="card-footer" style="margin-top: -27px">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='saveQuotation()'
            *ngIf='!hideSave'>
            {{'SAVE'|translate}}
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
