<div *ngIf='parentForm'>
  <div [formGroup]="parentForm">
    <kendo-combobox class="form-control HistoryCommandMargin" [data]="policies" valueField="value" textField="text"
      formControlName="IdPolicyValorization" [valuePrimitive]="true" [allowCustom]="allowCustom" tabindex="0" [readonly]="readonly"
      name='IdPolicyValorization' (valueChange)="onSelect($event)">

      <!--No data template-->
      <ng-template kendoDropDownListNoDataTemplate>
        <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
      </ng-template>
      <kendo-combobox-messages clearTitle="{{'CLEAR'|translate}}"> </kendo-combobox-messages>
      <!--end No data template-->
    </kendo-combobox>
  </div>
</div>

<div *ngIf='!parentForm'>
  <kendo-combobox class="form-control" [data]="policies" valueField="value" textField="text" name="PolicyValorization"
                  [readonly]="readonly"
    [valuePrimitive]="true" [(ngModel)]="selectedPolicy" (valueChange)="onSelect($event)" [allowCustom]="allowCustom">

    <!--No data template-->
    <ng-template kendoDropDownListNoDataTemplate>
      <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
    </ng-template>
    <kendo-combobox-messages clearTitle="{{'CLEAR'|translate}}"> </kendo-combobox-messages>
    <!--end No data template-->
  </kendo-combobox>
</div>
