.modal-body-scrolable {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }
  .disabledInput {
    background: transparent;
    border: none;
  }
  .pointer {
    cursor: pointer;
  }
  .modal.show .modal-dialog{
    max-width: 100% !important;
    max-height: 100% !important;
    margin-right: auto;
    margin-left: auto;
  }