input[type="file"] {
  display: none;
}

.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .picture-details
  > .p-grid {
  // border: 1px solid #b3c2ca;
  border-radius: 3px;
  margin: 0.3em;
  text-align: center;
  padding: 2em 0 2.25em 0;
}

.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .picture-data
  .picture-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
}

.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .picture-data
  .picture-subtitle {
  margin: 0.25em 0 2em 0;
}

.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .picture-data
  button {
  margin-left: 0.5em;
}

.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .picture-data
  button:first-child {
  margin-left: 0;
}

.carousel-demo .ui-carousel.custom-carousel .ui-carousel-dot-icon {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
  display: none !important;
}

.carousel-demo
  .ui-carousel.ui-carousel-horizontal
  .ui-carousel-content
  .ui-carousel-item.ui-carousel-item-start
  .picture-details
  > .p-grid {
  margin-left: 0.6em;
}

.carousel-demo
  .ui-carousel.ui-carousel-horizontal
  .ui-carousel-content
  .ui-carousel-item.ui-carousel-item-end
  .picture-details
  > .p-grid {
  margin-right: 0.6em;
}

.modal {
  display: block !important;
}

.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  height: 250px;
  overflow-y: auto;
}

.codeTiers {
  background: transparent !important;
  border: none !important;
  font-size: 1.3125rem !important;
  color: #4c9aae !important;
}

i.fa.fa-camera.fa-lg {
  bottom: 5px;
  left: 5px;
  position: absolute;
  color: #cecece;
}

.imgSize {
  height: 100%;
}
textarea {
  overflow: scroll;
  overflow-x: hidden;
  resize: none;
}

.disabled-label-checkbox100 {
  font-family: Raleway-Regular;
  font-size: 16px;
  color: #6c757d;
  line-height: 1.2;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.disabled-label-checkbox100:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #c0c0c0;
  left: 0;
  top: 48%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.label-checkbox {
  font-family: Raleway-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: relative;
    cursor: pointer;
}
