.validate-by-user-icon {
    color    : #4c9aae;
    font-size: 1.5em;
}

.validate-by-phone-icon {
    color    : #bd1f1f;
    font-size: 1.5em;
}

.badge-completed {
    color           : #fff;
    background-color: #563d7c;
}