.k-grid-toolbar,
.k-toolbar,
.k-editor .k-editor-toolbar,
.k-gantt-toolbar {
  color: #292b2c;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}

.k-button:hover,
.k-button.k-state-hover {
  color: #ffffff !important;
  background-color: #3e98b3 !important;
  border-color: #c7cdd5 !important;
}
