<div class="modal-body">
  <div class="" style="border: none">
    <div class="">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="row">
          <input (click)="getExising()" *ngIf='isTypeSelected' class="input-checkbox100" id="all" name="remember-me"
            type="checkbox" [(ngModel)]='isSelected'>
          <label class="label-checkbox100" for="all" *ngIf='isTypeSelected'>
            {{'NEW_DOCUMENT'|translate}}&nbsp;
          </label>
        </div>
      </div>
      <kendo-combobox [disabled]="!selectExistingDocument" [data]="docuemntFilterDataSource" [textField]="'Code'"
        [valueField]="'Id'" [valuePrimitive]="true" class="form-control" [filterable]="true"
        (filterChange)="handleFilter($event)" (valueChange)="handleChange($event)" [(ngModel)]="idDocument"
        [placeholder]="'DOCUMENT'|translate">

        <!--No data template-->
        <ng-template kendoDropDownListNoDataTemplate>
          <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
        </ng-template>
        <kendo-combobox-messages clearTitle="{{'CLEAR'|translate}}"> </kendo-combobox-messages>
        <!--end No data template-->
      </kendo-combobox>
    </div>
  </div>
</div>
<div class="modal-footer py-1">
  <button class="btn btn-success" data-dismiss="modal" aria-label="Close" (click)='generateDocument()'
    id="btnSarveSaerch" style="
    background: #4d9baf;
    color: white;" *ngIf='selectedType' #searchItemRef type="button">{{'ADD'|translate}}</button>
</div>