<div class="card" style="border: 1px solid #c0c0c0 !important;">
  <!--Begin Card body-->
  <div class="card-body">
    <div class="col-sm-5 mt-1">
      <h3 class="card-title mb-0">{{'USER_PROFIL'|translate}}</h3>
    </div>
    <br/>
    <div class="card">
      <div class="card-body p-2" style="min-height: fit-content; min-height: -moz-min-content;">
        <div class="row mr-4 mt-4" style="float:right" *ngIf="ShowGoToEmployeeProfile">
          <i class="las la-external-link-alt cursor-pointer la-lg" style="color: #4dbd74;"
          (click)="goToEmployeeProfile()" tooltip="{{'GO_TO_EMPLOYEE_PROFILE'|translate}}"></i>
        </div>
        <div class="row">
          <div class="col-auto pl-5 pr-0" style="max-width: 198px;">
            <label class="img-border  d-flex justify-content-center" for="file-input" #fileInput>
              <img id="picture" class="img-upload" alt="Illustration des problèmes de suddation" border="0"
                   [src]="pictureSrc || 'assets/image/placeholder-logo.png'"/>
              <i class="fa fa-camera fa-lg"></i>
              <i *ngIf="pictureSrc" class="fa fa-close fa-xs" (click)="removeProfilePicture($event)"></i>
            </label>
            <input id="file-input" type='file' (change)="onSelectFile($event)" accept="image/*">
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 pt-lg-5 pl-5 mr-auto" *ngIf="currentUser">
            <div class="row px-3">
              <div class="col-lg-auto col-md-auto pl-0 h3">
                {{currentUser.LastName}} {{currentUser.FirstName}}
              </div>
            </div>
            <div class="row px-3">
              <p class="email">{{currentUser.Email}}</p>
            </div>

            <div class="row px-3" *ngIf="currentEmployee && currentEmployee.JobEmployee">
              <div>
                <i *ngFor="let jobEmployee of currentEmployee.JobEmployee; let i = index; let l = count">
                  {{jobEmployee.IdJobNavigation.Designation}}
                  <i *ngIf="i+1 != l">,&nbsp;</i>
                </i>
              </div>
            </div>
            <div class="row px-3" *ngIf="userRoles">
              <div>
                <i class="role" *ngFor="let userRole of userRoles; let i = index; let l = count">
                  {{userRole.Label}}
                  <i class="role" *ngIf="i+1 != l">,&nbsp;</i>
                </i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 pt-lg-5 px-5">
            <div class="row pl-3" *ngIf="currentEmployee">
              <ul class="fa-ul m-0 list-info">
                <li>
                  <i class="las la-lg la-phone"></i> +{{currentEmployee.ProfessionalPhone}}
                </li>
                <li><i class=" las la-lg la-envelope"></i>{{currentEmployee.Email}}</li>
                <li *ngIf="currentEmployee && currentEmployee.IdCountryNavigation"><i
                  class="las la-lg la-map-marker-alt"></i>
                  <span>
                    <span *ngIf="language=='fr'">{{currentEmployee.IdCountryNavigation.NameFr}} </span>
                    <span *ngIf="language!='fr'">{{currentEmployee.IdCountryNavigation.NameEn}} </span>
                    <span *ngIf="currentEmployee.IdCityNavigation">{{currentEmployee.IdCityNavigation.Label}}</span>
                  </span>
                </li>
              </ul>
            </div>
            <div class="row pl-3 d-flex justify-content">
              <div class="col-auto px-1">
                <button (click)="gotoLink('fb')" target="_blank" class="btn btn-lg btn-pill btn-brand btn-facebook"
                        [disabled]="true" type="button">
                  <i class="fa btn-pill rounded-circle fa-facebook"></i>
                </button>
              </div>
              <div class="col-auto px-1">
                <button (click)="gotoLink('tw')" class="btn btn-pill btn-lg btn-brand btn-twitter" [disabled]="true"
                        type="button">
                  <i class="fa btn-pill rounded-circle fa-twitter"></i>
                </button>
              </div>
              <div class="col-auto px-1">
                <button (click)="gotoLink('li')" class="btn btn-pill btn-brand btn-lg btn-linkedin" [disabled]="true"
                        type="button">
                  <i class="fa btn-pill rounded-circle fa-linkedin"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="my-3">
      <ul class="nav nav-tabs nav-tabs-new" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link nav-link-new active" id="generalInfo-tab" data-toggle="tab" href="#generalInfo" role="tab"
             aria-controls="generalInfo" aria-selected="true">{{"GENERAL_INFORMATIONS"|translate}}</a>
        </li>
        <li class="nav-item" *ngIf="isExternalProfile">
          <a class="nav-link nav-link-new" id="history-tab" data-toggle="tab" href="#history" role="tab"
             aria-controls="history" aria-selected="false">{{'HISTORY'|translate}}</a>
        </li>
      </ul>
      <div class="tab-content tab-content-new" id="myTabContent">

        <!--GENERAL_INFORMATIONS-->
        <div class="tab-pane fade show active px-0" id="generalInfo" role="tabpanel" aria-labelledby="generalInfo-tab">

          <form [formGroup]="userFormGroup" disabled="!isEditMode" class="form-horizontal">
            <div class="col-lg-12 col-sm-12 col-md-12 card">
              <div class="form-group row mt-4">
                <div class="col-lg-12 col-sm-12 col-md-12">
                  <div class="col-lg col-sm-12 col-md-12 " style="text-align:right" *ngIf="!isEditMode">
                    <i class="las la-pen cursor-pointer edit-pencil la-lg" aria-hidden="true"
                       (click)="setEditMode()"></i>
                  </div>
                  <!-- begin-->
                  <div class="form-group row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'LAST_NAME'|translate}}<span
                        class="required">*</span></label>
                      <input class="form-control" formControlName="LastName" type="text" name="LastName"
                             [value]="userFormGroup.value.LastName"
                             [ngClass]="{ 'has-error': (userFormGroup.controls.LastName.touched || userFormGroup.controls.LastName.dirty)
                                && (!userFormGroup.controls.LastName.valid && !userFormGroup.controls.LastName.disabled) }">
                      <app-control-messages [control]="userFormGroup.controls.LastName"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'FIRST_NAME'|translate}}<span
                        class="required">*</span></label>
                      <input class="form-control" formControlName="FirstName" type="text" name="FirstName"
                             [value]="userFormGroup.value.FirstName"
                             [ngClass]="{ 'has-error': (userFormGroup.controls.FirstName.touched || userFormGroup.controls.FirstName.dirty)
                             && (!userFormGroup.controls.FirstName.valid && !userFormGroup.controls.FirstName.disabled) }">
                      <app-control-messages [control]="userFormGroup.controls.FirstName"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>


                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <label class="col-lg-12 col-md-12 col-sm-12"> {{'DATE_OF_BIRTH'|translate}}<span
                        class="required">*</span></label>
                      <kendo-datepicker [format]="formatDate" formControlName="Birthday" class="form-control">
                        <kendo-datepicker-messages today="{{ 'TODAY' | translate}}"
                                                   toggle="{{ 'CALENDAR.MENU_TITLE' | translate}}">
                        </kendo-datepicker-messages>
                      </kendo-datepicker>
                      <app-control-messages [control]="userFormGroup.controls.Birthday"
                                            class="error-msg messages text-left text-danger">
                      </app-control-messages>
                    </div>

                    <!-- begin language -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'LANGUAGE'|translate}}</label>
                      <kendo-combobox class="form-control" formControlName="Language" [valueField]="'value'"
                                      [data]="languages" [valuePrimitive]="true" [filterable]="true" name="Language"
                                      [textField]="'name'" (valueChange)="changeLanguage($event)">

                        <ng-template kendoComboBoxItemTemplate let-dataItem>
                          <div class="container">
                            <div class="row">
                              <span class="small">
                                <img src="{{dataItem.src}}" width="25px">
                                {{dataItem.name}}</span>
                            </div>
                          </div>
                        </ng-template>

                      </kendo-combobox>
                    </div>
                    <!-- end language -->

                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3" formGroupName="IdPhoneNavigation">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'PHONE'|translate}}</label>
                      <div class="input-group" *ngIf="currentUser">
                        <input ng2TelInput type="text" class="form-control w-100" formControlName="Number"
                               oninput="value = value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                               [ng2TelInputOptions]="{initialCountry:countryCode,
                          preferredCountries:[defaultPhoneCountryTn,defaultPhoneCountryFr,defaultPhoneCountryGb]}"
                               (hasError)="isValidPhone($event)" (countryChange)="onCountryPhoneChange($event)"
                               [ngClass]="{'has-error':isPhoneHasError}"/>
                        <app-control-messages [control]="PhoneNavigation.controls.Number"
                                              class="error-msg messages text-left text-danger"></app-control-messages>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'FAX'|translate}}</label>
                      <div class="input-group">
                        <input class="form-control" type="number" formControlName="Fax"
                               [value]="userFormGroup.value.Fax">
                        <div class="input-group-append">
                          <span class="input-group-text" style="background-color: white;">
                            <i class="fa fa-fax"></i>
                          </span>
                        </div>
                      </div>
                      <app-control-messages [control]="userFormGroup.controls.Fax"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'FACEBOOK'|translate}}</label>
                      <div class="input-group">
                        <input class="form-control" type="email" formControlName="Facebook"
                               [value]="userFormGroup.value.Facebook">
                        <div class="input-group-append">
                          <span class="input-group-text" style="background-color: white;">
                            <i class="fa fa-facebook"></i>
                          </span>
                        </div>
                      </div>
                      <app-control-messages [control]="userFormGroup.controls.Facebook"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'TWITTER'|translate}}</label>
                      <div class="input-group">
                        <input class="form-control" type="text" formControlName="Twitter"
                               [value]="userFormGroup.value.Twitter">
                        <div class="input-group-append">
                          <span class="input-group-text" style="background-color: white;">
                            <i class="fa fa-twitter"></i>
                          </span>
                        </div>
                      </div>
                      <app-control-messages [control]="userFormGroup.controls.Twitter"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'LINKEDIN'|translate}}</label>
                      <div class="input-group">
                        <input class="form-control" type="text" formControlName="Linkedin"
                               [value]="userFormGroup.value.Linkedin">
                        <div class="input-group-append">
                          <span class="input-group-text" style="background-color: white;">
                            <i class="fa fa-linkedin"></i>
                          </span>
                        </div>
                      </div>
                      <app-control-messages [control]="userFormGroup.controls.Linkedin"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>


                    <!--send to mail-->
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                      <div class="col-lg-12 col-md-12 col-sm-12 mt-1" style="padding-left: 0">
                        <input class="input-checkbox100" id="ckb007" type="checkbox"
                               formControlName="IsWithEmailNotification" name="IsWithEmailNotification"/>
                        <label class="label-checkbox100" for="ckb007">{{'SEND_NOTIF_WITH_MAIL'|translate}}</label>
                      </div>
                    </div>
                  </div>
                  <!--end-->

                </div>
              </div>


              <div class="w-100" *ngIf="isEditMode">
                <div class="d-flex justify-content-end p-3">
                  <button (click)="cancel()" class="btn btn-sm btn-danger mx-1" type="button">
                    <i class="fa fa-close"></i> {{'CANCEL'|translate}}
                  </button>
                  <button (click)="save()" class="btn btn-sm btn-save mx-1" type="button">
                    <i class="fa fa-floppy-o"></i> {{'SAVE'|translate}}
                  </button>
                </div>
              </div>
            </div>

          </form>
          <form [formGroup]="changePasswordFormGroup" class="form-horizontal">
            <!-- change password-->
            <div class="cursor-pointer init-pwd" (click)="changedPwdShowed = !changedPwdShowed">
              {{'INIT_PWD' |translate}}
            </div>

            <div class="col-lg-12 col-sm-12 col-md-12 card" *ngIf="changedPwdShowed">
              <div class="form-group row mt-4">
                <div class="col-lg-12 col-sm-12 col-md-12">
                  <div>
                    <div class="form-group row">
                      <!--old pwd-->
                      <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="form-group" *ngIf="Showoldpwd"
                             [ngClass]="{'has-error':isValidProfileField('Password')}">
                          <div class="input-group">
                            <label class="col-lg-12 col-md-12 col-sm-12 mt-3">{{'oldPassword'|translate}}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" style="width: 80%" type="password" formControlName="Password"
                                   [ngClass]="{ 'has-error': (changePasswordFormGroup.controls.Password.touched ||
                          changePasswordFormGroup.controls.Password.dirty) && !changePasswordFormGroup.controls.Password.valid }"/>
                          </div>
                          <app-control-messages [control]="changePasswordFormGroup.controls.Password"
                                                class="error-msg messages text-left text-danger"></app-control-messages>
                          <div>
                            <span class="help-block" *ngIf=" isValidProfileField('Password')">
                              <span *ngIf="changePasswordFormGroup.get('Password').errors.minlength"
                                    style="color: #dd4b39;">
                                minimum 8 {{ 'character' | translate}}.</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!--new pwd-->
                      <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error':isValidProfileField('NewPassword')}">
                          <div class="input-group">
                            <label class="col-lg-12 col-md-12 col-sm-12 mt-3">{{'newPassword'|translate}}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" style="width: 80%" type="password" formControlName="NewPassword"
                                   [ngClass]="{ 'has-error': (changePasswordFormGroup.controls.NewPassword.touched || changePasswordFormGroup.controls.NewPassword.dirty) && !changePasswordFormGroup.controls.NewPassword.valid }"/>
                          </div>
                          <app-control-messages [control]="changePasswordFormGroup.controls.NewPassword"
                                                class="error-msg messages text-left text-danger"></app-control-messages>
                          <span class="help-block" *ngIf="isValidProfileField('NewPassword')">
                            <span *ngIf="changePasswordFormGroup.get('NewPassword').errors.minlength"
                                  style="color: #dd4b39;">
                              {{ 'MIN_EIGHT' | translate }}
                              {{ 'character' | translate }}.</span>
                          </span>
                        </div>
                      </div>

                      <!-- confirm new pwd-->
                      <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="form-group" [ngClass]="{'has-error':isValidProfileField('ConfirmNewPassword')}">
                          <div class="input-group">
                            <label class="col-lg-12 col-md-12 col-sm-12 mt-3">{{'confirmPassword'|translate}}</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input class="form-control" style="width: 400px" type="password"
                                   formControlName="ConfirmNewPassword"
                                   [ngClass]="{ 'has-error': (changePasswordFormGroup.controls.ConfirmNewPassword.touched ||
                            changePasswordFormGroup.controls.ConfirmNewPassword.dirty) && !changePasswordFormGroup.controls.ConfirmNewPassword.valid }"/>
                          </div>
                          <div>
                            <span class="help-block" *ngIf=" isValidProfileField('ConfirmNewPassword')">
                              <span *ngIf="changePasswordFormGroup.get('ConfirmNewPassword')?.errors?.notEquivalent"
                                    style="color: #dd4b39;">{{ 'passwordsMatch' | translate }}</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="col-lg-12 col-md-12 col-sm-12"><span>&nbsp;</span></label>
                        <label class="col-lg-12 col-md-12 col-sm-12"><span>&nbsp;</span></label>
                        <i (click)="saveChangePassword()" tooltip="{{'SAVE' | translate}}"
                           class="zoom save-icon fa fa-check fa-lg cursor-pointer"></i>
                        <i (click)="cancelChangePassword()" style="color: #E91E63;" tooltip="{{'CANCEL' | translate}}"
                           class="fa fa-ban fa-lg mx-3 cursor-pointer"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--GENERAL_INFORMATIONS-->

        <!--HISTORY-->
        <div class="tab-pane fade px-0" id="history" role="tabpanel" aria-labelledby="history-tab">

          <div class="col-lg-12 col-sm-12 col-md-12 card">
            <!--HISTORY content here-->
          </div>
        </div>
        <!--HISTORY-->
      </div>
    </div>
  </div>
  <!--End Card body-->
</div>
