input[type="file"] {
  display: none;
}

.Error-Form-tab {
  border-top: 1px solid red !important;
  border-left: 1px solid red !important;
  border-right: 1px solid red !important;
  border-bottom: none;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.Error-Form-tab-text {
  color: red !important;
}
.close {
  right: 8px;
  z-index: 100;
  padding: 4px 3px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  color:#E91E63;
}
.code{
  font-size: 12px;
    color: grey;
    margin-left: 10px;
    margin-right: 0;
    font-weight: bold;
}


.buttomSpace {
  margin-bottom:15px;
}

