<div role="tabpanel" style="width: 100%;" *ngIf="checkActionUpdate(historicItem)">
  <kendo-grid [data]="getListFromDataHistoric(historicItem.historicList)"
              [pageSize]="gridSettingsDocumentAccount.state.take"
              [skip]="gridSettingsDocumentAccount.state.skip"
              [pageable]="true"
              [sort]="gridSettingsDocumentAccount.state.sort"
              [filter]="gridSettingsDocumentAccount.state.filter"
              (pageChange)="onPageChangeDocument($event, historicItem.historicList)"
              [columnMenu]="false" [resizable]="false" style="width: 100%;height:100%;">

    <kendo-grid-column  [field]="gridSettings.columnsConfig[0].field"
                        [title]="gridSettings.columnsConfig[0].title | translate"
                        [width]="gridSettings.columnsConfig[0]._width"
                        [filter]="gridSettings.columnsConfig[0].filter"
                        [filterable]="gridSettings.columnsConfig[0].filterable"
                        [format]="gridSettings.columnsConfig[0].format">
      <ng-template kendoGridHeaderTemplate let-dataItem="dataItem">
          <span tooltip="{{gridSettings.columnsConfig[0].title |translate}}" theme="light">
            {{gridSettings.columnsConfig[0].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <span tooltip="{{dataItem.entityField | translate}}">{{dataItem.entityField | translate }}</span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [field]="gridSettings.columnsConfig[1].field"
                       [title]="gridSettings.columnsConfig[1].title | translate"
                       [width]="gridSettings.columnsConfig[1]._width"
                       [filter]="gridSettings.columnsConfig[1].filter"
                       [filterable]="gridSettings.columnsConfig[1].filterable"
                       [sortable]="false">
      <ng-template kendoGridHeaderTemplate
                   let-dataItem="dataItem">
        <span tooltip="{{gridSettings.columnsConfig[1].title |translate}}"
              theme="light">
          {{gridSettings.columnsConfig[1].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate
                   let-dataItem="dataItem">
        <span style="white-space: pre-line"
              tooltip="{{dataItem.fieldOldValue | translate}}"
              *ngIf="dataItem.fieldOldValue !== null && (dataItem.entityField === 'DOCUMENT_LINE_DATE' || dataItem.entityField === 'DOCUMENT_DATE');else notDate">{{dataItem.fieldOldValue
          | date : formatDateTime}}</span>
        <ng-template #notDate>
          <span *ngIf="dataItem.fieldOldValue !== null">
            {{dataItem.fieldOldValue | kendoNumber : formatNumberOptions}}
          </span>
        </ng-template>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
                       [title]="gridSettings.columnsConfig[2].title | translate"
                       [width]="gridSettings.columnsConfig[2]._width"
                       [filter]="gridSettings.columnsConfig[2].filter"
                       [filterable]="gridSettings.columnsConfig[2].filterable"
                       [sortable]="false">
      <ng-template kendoGridHeaderTemplate
                   let-dataItem="dataItem">
        <span tooltip="{{gridSettings.columnsConfig[2].title |translate}}"
              theme="light">
          {{gridSettings.columnsConfig[2].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate
                   let-dataItem="dataItem">
        <span style="white-space: pre-line"
              tooltip="{{dataItem.fieldNewValue | translate}}"
              *ngIf="dataItem.fieldNewValue !== null && (dataItem.entityField === 'DOCUMENT_LINE_DATE' || dataItem.entityField === 'DOCUMENT_DATE');else notDate">{{dataItem.fieldNewValue
          | date : formatDateTime}}</span>
        <ng-template #notDate>
          <span *ngIf="dataItem.fieldNewValue !== null">
            {{dataItem.fieldNewValue | kendoNumber : formatNumberOptions}}
          </span>
        </ng-template>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
<div role="tabpanel" style="width: 100%;" *ngIf="checkEntityDocumentAccountLine(historicItem)">
  <kendo-grid #grid [data]="getListFromData(historicItem.documentAccountLineAffected)"
              [pageSize]="gridSettingsDocumentAccountLine.state.take"
              [skip]="gridSettingsDocumentAccountLine.state.skip"
              [pageable]="true"
              [sort]="gridSettingsDocumentAccountLine.state.sort"
              [filter]="gridSettingsDocumentAccountLine.state.filter"
              (pageChange)="onPageChangeDocumentLine($event, historicItem.documentAccountLineAffected)"
              [columnMenu]="false" [resizable]="false" style="width: 100%;height:100%;">
    <!-- accountId -->
    <kendo-grid-column [field]="gridSettingsDocumentAccountLine.columnsConfig[0].field"
                       [title]="gridSettingsDocumentAccountLine.columnsConfig[0].title | translate"
                       width="130"
                       [footerStyle]="{'font-weight': 'bolder','background': 'white'}"
                       [headerStyle]="{'padding' : '0.75rem 0'}">
      <ng-template kendoGridHeaderTemplate>
                  <span tooltip="{{gridSettingsDocumentAccountLine.columnsConfig[0].tooltip|translate}}"
                        theme="light">{{gridSettingsDocumentAccountLine.columnsConfig[0].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>{{dataItem.codeAccount}}</ng-template>
    </kendo-grid-column>

    <!-- nameAccount -->
    <kendo-grid-column [field]="gridSettingsDocumentAccountLine.columnsConfig[1].field"
                       [title]="gridSettingsDocumentAccountLine.columnsConfig[1].title | translate"
                       width="250"
                       [footerStyle]="{'font-weight': 'bolder','background': 'white'}"
                       [headerStyle]="{'padding' : '0.75rem 0'}">
      <ng-template kendoGridHeaderTemplate>
                  <span tooltip="{{gridSettingsDocumentAccountLine.columnsConfig[1].tooltip|translate}}"
                        theme="light">{{gridSettingsDocumentAccountLine.columnsConfig[1].title|translate}}</span>
      </ng-template>
    </kendo-grid-column>

    <!-- documentLineDate -->
    <kendo-grid-column width="135" [field]="gridSettingsDocumentAccountLine.columnsConfig[2].field"
                       [title]="gridSettingsDocumentAccountLine.columnsConfig[2].title | translate"
                       [footerStyle]="{'font-weight': 'bolder','background': 'white'}"
                       [headerStyle]="{'padding' : '0.75rem 0'}">
      <ng-template kendoGridHeaderTemplate>
                  <span tooltip="{{gridSettingsDocumentAccountLine.columnsConfig[2].tooltip|translate}}"
                        theme="light">{{gridSettingsDocumentAccountLine.columnsConfig[2].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.documentLineDate | date: formatDate}}
      </ng-template>
    </kendo-grid-column>

    <!-- reference -->
    <kendo-grid-column [field]="gridSettingsDocumentAccountLine.columnsConfig[3].field"
                       [title]="gridSettingsDocumentAccountLine.columnsConfig[3].title | translate"
                       width="115"
                       [footerStyle]="{'font-weight': 'bolder','background': 'white'}"
                       [headerStyle]="{'padding' : '0.75rem 0'}">
      <ng-template kendoGridHeaderTemplate>
                  <span tooltip="{{gridSettingsDocumentAccountLine.columnsConfig[3].tooltip|translate}}"
                        theme="light">{{gridSettingsDocumentAccountLine.columnsConfig[3].title|translate}}</span>
      </ng-template>
    </kendo-grid-column>

    <!-- label -->
    <kendo-grid-column [field]="gridSettingsDocumentAccountLine.columnsConfig[4].field"
                       [title]="gridSettingsDocumentAccountLine.columnsConfig[4].title | translate"
                       width="250"
                       [footerStyle]="{'font-weight': 'bolder','background': 'white'}"
                       [headerStyle]="{'padding' : '0.75rem 0'}">
      <ng-template kendoGridHeaderTemplate>
                  <span tooltip="{{gridSettingsDocumentAccountLine.columnsConfig[4].tooltip|translate}}"
                        theme="light">{{gridSettingsDocumentAccountLine.columnsConfig[4].title|translate}}</span>
      </ng-template>
    </kendo-grid-column>

    <!-- debitAmount -->
    <kendo-grid-column [field]="gridSettingsDocumentAccountLine.columnsConfig[5].field" [format]="formatNumberOptions"
                       [title]="gridSettingsDocumentAccountLine.columnsConfig[5].title | translate"
                       width="150">
      <ng-template kendoGridHeaderTemplate>
                  <span tooltip="{{gridSettingsDocumentAccountLine.columnsConfig[5].tooltip|translate}}"
                        theme="light">{{gridSettingsDocumentAccountLine.columnsConfig[5].title|translate}}</span>
      </ng-template>
    </kendo-grid-column>

    <!-- creditAmount -->
    <kendo-grid-column [field]="gridSettingsDocumentAccountLine.columnsConfig[6].field" [format]="formatNumberOptions"
                       [title]="gridSettingsDocumentAccountLine.columnsConfig[6].title | translate"
                       width="150">
      <ng-template kendoGridHeaderTemplate>
                  <span tooltip="{{gridSettingsDocumentAccountLine.columnsConfig[6].tooltip|translate}}"
                        theme="light">{{gridSettingsDocumentAccountLine.columnsConfig[6].title|translate}}</span>
      </ng-template>
    </kendo-grid-column>
    <div  *ngIf="checkLine(historicItem)">
      <ng-template kendoGridDetailTemplate let-dataItem="dataItem">
        <div role="tabpanel" style="width: 100%;">
          <kendo-grid [data]="getListFromLineDataHistoric(historicItem.historicList, dataItem.id)"
                      [columnMenu]="false" [resizable]="false" style="width: 100%;height:100%;">

            <kendo-grid-column [field]="gridSettings.columnsConfig[0].field"
                               [title]="gridSettings.columnsConfig[0].title | translate"
                               [width]="gridSettings.columnsConfig[0]._width"
                               [filter]="gridSettings.columnsConfig[0].filter"
                               [filterable]="gridSettings.columnsConfig[0].filterable"
                               [format]="gridSettings.columnsConfig[0].format">
              <ng-template kendoGridHeaderTemplate let-dataItem="dataItem">
          <span tooltip="{{gridSettings.columnsConfig[0].title |translate}}" theme="light">
            {{gridSettings.columnsConfig[0].title|translate}}</span>
              </ng-template>
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <span tooltip="{{dataItem.entityField | translate}}">{{dataItem.entityField | translate }}</span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [field]="gridSettings.columnsConfig[1].field"
                               [title]="gridSettings.columnsConfig[1].title | translate"
                               [width]="gridSettings.columnsConfig[1]._width"
                               [filter]="gridSettings.columnsConfig[1].filter"
                               [filterable]="gridSettings.columnsConfig[1].filterable"
                               [sortable]="false">
              <ng-template kendoGridHeaderTemplate
                           let-dataItem="dataItem">
                <span tooltip="{{gridSettings.columnsConfig[1].title |translate}}"
                      theme="light">
                  {{gridSettings.columnsConfig[1].title|translate}}</span>
              </ng-template>
              <ng-template kendoGridCellTemplate
                           let-dataItem="dataItem">
                <span style="white-space: pre-line"
                      tooltip="{{dataItem.fieldOldValue | translate}}"
                      *ngIf="dataItem.fieldOldValue !== null && (dataItem.entityField === 'DOCUMENT_LINE_DATE' || dataItem.entityField === 'DOCUMENT_DATE');else notDate">{{dataItem.fieldOldValue
                  | date : formatDateTime}}</span>
                <ng-template #notDate>
                  <span *ngIf="dataItem.fieldOldValue !== null">
                    {{dataItem.fieldOldValue | kendoNumber : formatNumberOptions}} 
                  </span>
                </ng-template>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
                               [title]="gridSettings.columnsConfig[2].title | translate"
                               [width]="gridSettings.columnsConfig[2]._width"
                               [filter]="gridSettings.columnsConfig[2].filter"
                               [filterable]="gridSettings.columnsConfig[2].filterable"
                               [sortable]="false">
              <ng-template kendoGridHeaderTemplate
                           let-dataItem="dataItem">
                <span tooltip="{{gridSettings.columnsConfig[2].title |translate}}"
                      theme="light">
                  {{gridSettings.columnsConfig[2].title|translate}}</span>
              </ng-template>
              <ng-template kendoGridCellTemplate
                           let-dataItem="dataItem">
                <span style="white-space: pre-line"
                      tooltip="{{dataItem.fieldNewValue | translate}}"
                      *ngIf="dataItem.fieldNewValue !== null && (dataItem.entityField === 'DOCUMENT_LINE_DATE' || dataItem.entityField === 'DOCUMENT_DATE');else notDate">{{dataItem.fieldNewValue
                  | date : formatDateTime}}</span>
                <ng-template #notDate>
                  <span *ngIf="dataItem.fieldNewValue !== null">
                    {{dataItem.fieldNewValue | kendoNumber : formatNumberOptions}}
                  </span>
                </ng-template>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </ng-template>
    </div>
  </kendo-grid>
</div>
