/* modal style */

.modaltitle {
    text-align: center;
    margin: auto;
    padding-left : 40px;
  }
  
  .modalbody {
    text-align: center;
    margin: auto;
  }
  
  .modalfooter {
  margin: auto;
  }