.Error-Form-tab {
  border-top: 1px solid red !important;
  border-left: 1px solid red !important;
  border-right: 1px solid red !important;
  border-bottom: none;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.Error-Form-tab-text {
  color: red !important;
}
