<div class="card h-100" style="border: 1px solid #c0c0c0 !important;">
  <!--Begin Card header-->
  <div class="card-header ng-star-inserted" style="background-color: white">
    <div class="row float-left" *ngIf="idDocFromSearchItem">
      <div class="col-lg-auto col-md-1 col-sm-12 primaryColor" style="float: right">
        <div class="row pl-3">
          <i class=" fa fa-line-chart fa-3x"></i>
          <div class="card-title col-auto d-flex align-items-start mt-2">{{'DELIVERY_FORM'|translate}}</div>
        </div>
      </div>
    </div>
    <div class="row float-right">
      <div class="col-lg-auto col-md-1 col-sm-12 primaryColor" style="float: right">
        <div class="row pl-3">
          <i *ngIf="!idDocFromSearchItem" class=" fa fa-line-chart fa-3x"></i>
          <div class="col-auto d-flex align-items-end" style="width: 220px">
            <input class="form-control InvoiceNumber pb-0" [value]="documentForm.controls['Code']?.value" [readOnly]="true">
          </div>
        </div>
      </div>
      <app-document-header [documentForm]="documentForm" style="float: right"
                           class="col-lg-auto col-md-3 col-sm-12 d-flex align-items-center">
      </app-document-header>
    </div>
  </div>
  <!--End Card header-->
  <!--Begin add form-->
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="documentForm">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="form-group row">
          <div class="col-lg-12 col-sm-12 col-md-12 ">
            <div class="form-group row">

              <div class="col-sm-12 col-md-6 col-lg-3">
                <span tooltip="Devise: {{formatOptions? formatOptions.currency : '--'}}" theme="light">
                  <label class="col-lg-12 col-md-12 col-sm-12">
                    {{'CUSTOMER'|translate}} <span class="required">*</span>
                  </label>
                </span>
                <app-supplier-dropdown [type]=1 [itemForm]="documentForm" (Selected)="receiveSupplier($event)"
                                       [getRelationCurrency]='true' class="error-msg messages text-left text-danger"
                                       [showDetails]='showCustomerDetails' [placeholder]="'CHOOSE_CUSTOMER_PLACEHOLDER' | translate"
                                       [hideAddBtn]='!hideCustomerAddBtn' #tiersDropDown>
                </app-supplier-dropdown>

                <span tooltip="{{'FORK_BL'| translate}}" theme="light"
                      style="position: absolute; margin-top:-34px;  cursor: pointer;  margin-left:100%;" *ngIf="isAbledToMerge==true
                      && documentForm.value.IdDocumentStatus === statusCode.Provisional && !documentForm.controls['haveReservedLines'].value
                      && fusionDeliveryPermission_SA">
                  <span *ngIf="isAbledToMerge==true && documentForm.value.IdDocumentStatus === statusCode.Provisional &&
                        !documentForm.controls['haveReservedLines'].value" (click)='getProvisionalBl()'
                        style="position: absolute;  cursor: pointer;  margin-left:100%;  color: #5cb3bb;">
                    <i class="fa fa-code-fork fa-2x" aria-hidden="true"></i>
                  </span>
                </span>

                <app-control-messages [control]="documentForm.controls.IdTiers"
                                      class="error-msg messages text-left text-danger">
                </app-control-messages>

              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'DATE'|translate}}<span class="required">*</span></label>
                <kendo-datepicker [format]="formatDate()" formatPlaceholder="narrow" class="form-control"
                                  formControlName="DocumentDate" (focusout)='changeData()'>
                  <kendo-datepicker-messages today="{{ 'TODAY' | translate}}"
                                             toggle="{{ 'CALENDAR.MENU_TITLE' | translate}}">
                  </kendo-datepicker-messages>
                </kendo-datepicker>
                <app-control-messages [control]="documentForm.controls.DocumentDate"
                                      class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>


              <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'DELIVERY_TYPE'|translate}}</label>
                <app-delivery-type-dropdown (Selected)="recieveDeliveryType($event)"
                                            class="error-msg messages text-left text-danger" [itemForm]="documentForm">
                </app-delivery-type-dropdown>
                <app-control-messages [control]="documentForm.controls.IdDeliveryType"
                                      class="error-msg messages text-left text-danger">
                </app-control-messages>

              </div>
            </div>

            <div class="form-group row">

              <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'NOTE'|translate}}</label>
                <input class="form-control" formControlName="Reference" type="text" name="Reference"
                       (focusout)="changeData()">
                <app-control-messages [control]="documentForm.controls.Reference"
                                      class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'CONTACT'|translate}} </label>
                <app-contact-dropdown class="error-msg messages text-left text-danger" [itemForm]="documentForm"
                                      (selectedContact)='selectedContact($event)' [showAddNew]='hideCustomerAddBtn'>
                </app-contact-dropdown>
              </div>

              

              <div class="col-sm-12 col-md-6 col-lg-3">
                <label class="col-lg-12 col-md-12 col-sm-12"><span> &nbsp;</span></label>
                <input class="input-checkbox100" id="ckb2" type="checkbox" formControlName="IsTermBilling"
                       name="IsTermBilling" (change)="changeData()">
                <label class="label-checkbox100 mt-2" for="ckb2">
                  {{'TERM_BILLING' | translate}}
                </label>
              </div>
              <!--upload file -->
              <div class="col-lg-auto col-md-6 col-sm-12">
                <div class="row" style="margin-top: 30px;">
                  <app-upload-file [fileToUpload]="attachmentFilesToUpload"
                                   [canUpdateFile]="isDisabledForm() || (isUpdateMode && !hasUpdatePermission)"
                                   [service]="documentService" (selectedFiles)='selectedFiles($event)'></app-upload-file>
                </div>
                <!-- Upload file end -->
              </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
              <p-accordion class="w-100">
                <p-accordionTab header="{{'CLIENT_INFORMATION'| translate}}"
                                (selectedChange)="openTiersDetailsCollapse = !openTiersDetailsCollapse"
                                [selected]="openTiersDetailsCollapse">
                  <div class="form-group row">
                    <!-- Name client -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'CUSTOMER_NAME'|translate}}</label>
                      <div class="input-group">
                        <input class="form-control" formControlName="Name" type="text"
                               [disabled]="documentForm.controls['IdDocumentStatus'].value != DocumentStatusCode.Provisional && documentForm.controls['IdDocumentStatus'].value != DocumentStatusCode.DRAFT" (focusout)="changeData()">
                      </div>
                      <app-control-messages [control]="documentForm.controls.Name"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'IDENTITY'|translate}}</label>
                      <div class="input-group">
                        <input class="form-control" formControlName="MatriculeFiscale"
                               [disabled]="documentForm.controls['IdDocumentStatus'].value != DocumentStatusCode.Provisional && documentForm.controls['IdDocumentStatus'].value != DocumentStatusCode.DRAFT" (focusout)="changeData()">
                      </div>
                      <app-control-messages [control]="documentForm.controls.MatriculeFiscale"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'PHONE'|translate}}</label>
                      <div class="input-group">
                        <input class="form-control" formControlName="Tel1"
                               [disabled]="documentForm.controls['IdDocumentStatus'].value != DocumentStatusCode.Provisional && documentForm.controls['IdDocumentStatus'].value != DocumentStatusCode.DRAFT" (focusout)="changeData()">
                      </div>
                      <app-control-messages [control]="documentForm.controls.Tel1"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>
                    </div>
                    <div class="form-group row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'ADDRESS'|translate}}</label>
                      <div class="input-group">
                        <input class="form-control" formControlName="Adress"
                               [disabled]="documentForm.controls['IdDocumentStatus'].value != DocumentStatusCode.Provisional && documentForm.controls['IdDocumentStatus'].value != DocumentStatusCode.DRAFT" (focusout)="changeData()">
                      </div>
                      <app-control-messages [control]="documentForm.controls.Adress"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3" *ngIf="showVehicleDropdown">
                      <label class="col-lg-12 col-md-12 col-sm-12">{{'VEHICLE'|translate}} </label>
                      <app-vehicle-dropdown class="error-msg messages text-left text-danger" [formGroup]="documentForm" [idTier]="idSelectedTier"
                                            (selected)="vehicleSelected($event)" #vehicleDropDown>
                      </app-vehicle-dropdown>
                    </div>

                  </div>
                </p-accordionTab>

              </p-accordion>
            </div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active pb-0 pt-1 show" data-toggle="tab" href="#home3" role="tab" aria-controls="home"
                 aria-selected="true">
                {{'DOCUMENT_LINE'|translate}}
              </a>
            </li>
            <li class="nav-item" *ngIf='LastBLItemPrice'>
              <a class="nav-link active show" data-toggle="tab" href="#home3" role="tab" aria-controls="home"
                 aria-selected="true" style=" line-height: 1px;">
                <div style="display: inline-flex;     padding-top: 10px;    border-bottom: 1px solid #e0e3e5;">
                  <p style="    font-weight: bold; margin-right:0%;">{{'CODE'|translate}} </p> <b>:</b><input type="text" disabled class="form-control disabledInput" value="{{LastBLItemPrice.DocumentRef}}"
                                                                                                              style="margin-top: -18px;">
                  <p style="    font-weight: bold; margin-right:0%">P.U </p> <b>:</b><input type="text" disabled
                                                                                            class="form-control disabledInput" value="{{LastBLItemPrice.ItemPrice}}"
                                                                                            style="margin-top: -18px; font-weight: bold; color: black;">
                  <p style="    font-weight: bold; margin-right:0%">{{'DISCOUNT'|translate}} </p> <b>:</b><input type="text" disabled
                                                                                            class="form-control disabledInput" value="{{LastBLItemPrice.Discount}} %"
                                                                                            style="margin-top: -18px; font-weight: bold; color: black;">
                  <p style="    font-weight: bold; margin-right:0%">{{'DATE'|translate}} </p> <b>:</b><input type="text"
                                                                                                             disabled class="form-control disabledInput"
                                                                                                             value="{{LastBLItemPrice.DocumentDate | date:'dd/MM/yyyy hh:mm'}}" style="margin-top: -18px;">
                  <p style="    font-weight: bold; margin-right:0%">{{'QTE'|translate}}</p> <b>:</b><input type="text"
                                                                                                           disabled class="form-control disabledInput" value="{{LastBLItemPrice.ItemQte}}"
                                                                                                           style="margin-top: -18px;">

                  <ng-container>
                    <a class="form-control disabledInput" (click)="onClickGoToDetails(LastBLItemPrice.idItem)"
                       style="margin-top: -18px; font-weight: bold; color: black;">
                      <i class="fa fa-history fa-lg AddIcon"></i>
                      &nbsp;{{'SEE_HISTORY' | translate}}
                    </a>
                  </ng-container>
                </div>
              </a>
            </li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane active pt-0 show" id="home3" role="tabpanel">
              <app-grid-sales-invoice-assests [itemForm]='documentForm'
                                              [isEditedGrid]="isDisabledForm() || (isUpdateMode && !hasUpdatePermission) || (documentForm && documentForm.controls && documentForm.controls['IsForPos']
                && documentForm.controls['IsForPos'].value)"
                                              [documentType]="documentType" [formatOption]="formatOptions"
                                              [updateValidDocumentRole]="updateValidDocumentRole"
                                              [isFromSearchItem]='isFromSearchItemInterfce' (reloadSignal)='ngOnInit()'
                                              (ShowLastItemInBL)='ShowLastItemInBL($event)' [documentTaxeResume]="documentTaxeResume"
                                              [isToImport]="documentForm.controls['IsForPos'] && documentForm.controls['IsForPos'].value">
              </app-grid-sales-invoice-assests>

              <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 px-0">
                  <hr style="margin-bottom: 0rem;">
                  <div class="col-12 table-responsive" style="margin-bottom: -1rem;" *ngIf="documentTaxeResume.length">
                    <table class="table table-sm" style="width: 60%;">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">{{'TAXE'|translate}}</th>
                          <th scope="col" style="text-align: center">{{'BASE_TVA'|translate}}</th>
                          <th scope="col" style="text-align: center">{{'AMOUNT'|translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let taxeResume of documentTaxeResume">
                          <td style="width: 10%;">

                            <span tooltip="{{taxeResume.IdTaxNavigation.Label}}" theme="light">
                              {{taxeResume.IdTaxNavigation.Label}}
                            </span>

                          </td>
                          <td style="width: 33%;" class="tva-base-amount">

                            <span tooltip="{{taxeResume.HtAmountWithCurrency.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                                  theme="light">

                              <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                                    [value]="taxeResume.HtAmountWithCurrency" class="form-control inputEnabled"
                                                    style="float: right; font-family: Arial,
                                                                    Helvetica; color: rgb(80, 82, 83); font-weight: bolder" [disabled]="true">
                              </kendo-numerictextbox>

                            </span>


                          </td>
                          <td style="width: 33%;" class="tva-base-amount">

                            <span tooltip="{{taxeResume.TaxAmountWithCurrency.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                                  theme="light">
                              <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                                    [value]="taxeResume.TaxAmountWithCurrency" class="form-control inputEnabled"
                                                    style="float: right; font-family: Arial,
                                                                    Helvetica; color: rgb(80, 82, 83);font-weight: bolder " [disabled]="true">
                              </kendo-numerictextbox>
                            </span>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 px-0 total-div">
                  <hr style="margin-bottom: 0rem;">
                  <div class="col-12 total-amount-position" style="margin-bottom: -1rem;">



                    <div class="row">
                      <div class="col-9  num-key">
                        <div style="font-weight: bold; font-size:0.8rem;float: right;">
                          {{'DISCOUNT'|translate}}
                        </div>
                      </div>
                      <div class="col-3 num-value">
                        <span tooltip="{{documentForm.controls['DocumentTotalDiscountWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                              theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                                formControlName="DocumentTotalDiscountWithCurrency"
                                                class="num-field form-control disabledInput">
                          </kendo-numerictextbox>
                        </span>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-9 num-key">
                        <div style=" font-weight: bolder;
                                                    font-size: 15px;
                                                    font-style: normal;
                                                    color: black;float: right;">
                          {{'AMOUNT'|translate}} HT
                        </div>
                      </div>
                      <div class="col-3 num-value-large num-value">
                        <span tooltip="{{documentForm.controls['DocumentHtpriceWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                              theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                                formControlName="DocumentHtpriceWithCurrency"
                                                class="num-field important-amount form-control disabledInput" style="margin-top: -5%; font-family:
                                                                Arial, Helvetica, serif;font-weight: bloder;
                                                                    color: black"></kendo-numerictextbox>
                        </span>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-9 num-key">
                        <div style="font-weight: bold; font-size:0.8rem;float: right;">
                          {{'EXCLUDING_TVA'|translate}}
                        </div>
                      </div>
                      <div class="col-3 num-value">
                        <span tooltip="{{documentForm.controls['DocumentTotalExcVatTaxesWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                              theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                                formControlName="DocumentTotalExcVatTaxesWithCurrency"
                                                class="num-field form-control disabledInput" style="margin-top: -5%; font-family: Arial, Helvetica;
                                                                 color: rgb(80, 82, 83); border-bottom: black;">
                          </kendo-numerictextbox>
                        </span>
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-9 num-key">
                        <div style="font-weight: bold; font-size:0.8rem;float: right;">
                          {{'TVA'|translate}}
                        </div>
                      </div>
                      <div class="col-3 num-value">
                        <span tooltip="{{documentForm.controls['DocumentTotalVatTaxesWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                              theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                                formControlName="DocumentTotalVatTaxesWithCurrency"
                                                class="num-field form-control disabledInput" style="margin-top: -5%; font-family: Arial,
                                                                Helvetica; color: rgb(80, 82, 83); ">
                          </kendo-numerictextbox>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9 num-key">
                        <div style="font-weight: bold; font-size:0.8rem;float: right;">
                          {{'TAX_STAMP'|translate}}
                        </div>
                      </div>
                      <div class=" col-3 num-value">
                        <app-sales-setting-combo [itemForm]=documentForm class="num-field"
                                                 (otherTaxeValueChange)='changeOtherTaxValue($event)' [formatOptions]='formatOptions'
                                                 [type]='documentForm.value.IdDocumentStatus === statusCode.Provisional'
                                                 [isSalesDocumment]="isSalesDocumment" [documentType]="documentType">
                        </app-sales-setting-combo>
                      </div>
                    </div>
                    <hr style="border-color: black;
                              border-bottom: 1px solid;width: 39%;float: right;
                              margin-bottom: 0rem;margin-top: 0rem;">
                    <br />

                    <div class="row" style="margin-top: -15px">
                      <div class="col-9 num-key">
                        <div style="font-weight: bolder;
                                                    font-size: 15px;
                                                    font-style: normal;
                                                    color: black;float: right;">
                          {{'AMOUNT'|translate}} TTC
                        </div>
                      </div>
                      <div class="col-3 num-value-large num-value">
                        <span tooltip="{{documentForm.controls['DocumentTtcpriceWithCurrency'].value?.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                              theme="light">
                          <kendo-numerictextbox #documentTtc [spinners]="false" [format]="formatOptions" [step]="1"
                                                formControlName="DocumentTtcpriceWithCurrency" (focusout)='changeTtcPrice()' (keydown.enter)='documentTtc.blur()'
                                                class="important-amount num-field form-control disabledInput"
                                                style="margin-top: -5%;
                                                font-family: Arial, Helvetica; font-weight: bloder; color: rgb(80, 82, 83);">
                          </kendo-numerictextbox>
                        </span>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <footer class="app-footer" style="margin-left: 0;">
      <div class="w-100">
        <div class="d-flex justify-content-end p-3 footer-content">

          <span style="margin-right: 4px;" *ngIf='hasListPermission && !isFromSearchItemInterfce'>
            <span class="btn btn-sm btn-back-to-list btn-primary" (click)='onClickGoToList()'>
              <i class="fa fa-chevron-circle-left"></i> {{'BACK_TO_LIST'|translate}}
            </span>
          </span>

          <span *ngIf='isDisabledForm() && isSubmited' [ngStyle]="{'margin-left': '4px'}">

            <kendo-dropdownbutton [data]="dataReportTemplate" (itemClick)="onJasperPrintClick($event)" [primary]="true"
                                  *ngIf='isMultiReportTemplate && printDeliveryPermission_SA && documentForm.value.IdDocumentStatus != statusCode.Provisional'>
              <i class="fa fa-print"></i> &nbsp;{{'PRINT'|translate}}
              <ng-template kendoDropDownButtonItemTemplate let-dataItem>
                <span>{{ dataItem.TemplateCode |translate}}</span>
              </ng-template>
            </kendo-dropdownbutton>
            <button (click)='onJasperPrintClick()' type="button" class="btn btn-primary btn-sm"
                    *ngIf='!isMultiReportTemplate && printDeliveryPermission_SA && documentForm.value.IdDocumentStatus != statusCode.Provisional'>
              <i class="fa fa-print"></i> &nbsp;{{'PRINT'|translate}}
            </button>
          </span>

          <span *ngIf='!isDisabledForm() && isGridEmpty() && validateDeliveryPermission_SA'>

            <span *ngIf='!isDisabledForm() && isSubmitBtnDisplay && isGridEmpty()'>
              <button type="button" (click)="onClickGetOverview($event)" class="btn btn-primary btn-sm"
                      style="margin-right: 4px;">
                <span>
                  <i class="fa fa-eye"></i> {{'OVERVIEW'|translate}}
                </span>
              </button>
            </span>
            <button data-toggle="modal" data-target="#printModal" data-backdrop="static" data-keyboard='false'
                    (click)='onClickValidate()' type="button" class="btn btn-sm btn-save mx-1"
                    *ngIf='validateDeliveryPermission_SA && documentForm.controls["isAllLinesAreAvailbles"].value==false && documentForm.controls["IsForPos"].value == false'>
              <i class="fa fa-floppy-o"></i>
              &nbsp;{{'VALIDATE'|translate}}
            </button>
            <button (click)='onJasperPrintClick()' type="button" class="btn btn-primary btn-sm"
                    *ngIf='!isMultiReportTemplate && printDeliveryPermission_SA && documentForm.value.IdDocumentStatus != statusCode.Provisional'>
              <i class="fa fa-print"></i> &nbsp;{{'PRINT'|translate}}
            </button>
          </span>

        </div>
      </div>
    </footer>
  </div>
</div>
