<div class="card-body">
  <p-accordion [multiple]="true">

    <p-accordionTab  [header]="('CONTACTS'| translate) + ' (' + contactElementsCount + ')'"  *ngIf="authService.hasAuthorities([CRMPermissions.VIEW_CONTACT_LEAD]) || authService.hasAuthorities([CRMPermissions.VIEW_CONTACT_CLIENT])  "
                    style="color: #4c9aae;" [selected]=false>
      <app-contact-list  [related]="true" [source]='source' [sourceId]="sourceId" [isProspect]="isProspect"
                         (countContacts)='showCountContacts($event)' [fromRelatedArchiving]="isArchivingMode"
                         [isFromOrgInsideOppDetails]="organisationIsFromOpportunity"></app-contact-list>
    </p-accordionTab>
    <br/>
    <p-accordionTab [header]="('OPPORTUNITY'| translate)  + ' (' + opportunityElementsCount + ')'"  *ngIf="authService.hasAuthorities([CRMPermissions.VIEW_OPPORTUNITY]) "
                    style="color: #4c9aae;">
      <app-list-opportunity [related]="true" [source]='source'
                            [sourceId]="sourceId"
                            (countOpportunites)='showCountOpportunities($event)'
                            [fromRelatedArchiving]="isArchivingMode"
                            [isProspect]="isProspect"></app-list-opportunity>
    </p-accordionTab>
    <br/>
    <p-accordionTab [header]="('NOTES'| translate) + ' (' + noteElementsCount + ')'"
                    style="color: #4c9aae;">
      <app-list-note [organisationId]="data" [source]='source' [entityType]="entityType"
                     [sourceId]="sourceId" [related]="true" [isProspect]="isProspect"
                     [fromRelatedArchiving]="isArchivingMode"
                     (nbrNoteEvent)="nbrNoteEvent($event)"></app-list-note>
    </p-accordionTab>
    <br/>
    <p-accordionTab [header]="('CLAIMS'| translate) + ' (' + claimElementsCount + ')'"  *ngIf="authService.hasAuthorities([CRMPermissions.VIEW_CLAIM_LEAD]) || authService.hasAuthorities([CRMPermissions.VIEW_CLAIM_CLIENT])  "
                    style="color: #4c9aae;">
      <app-claims-list [related]="true" [source]="source" [sourceId]="sourceId"
                       [fromRelatedArchiving]="isArchivingMode"
                       (countclaim)='showCountClaim($event)' [isProspect]="isProspect"></app-claims-list>
    </p-accordionTab>
    <br/>
    <p-accordionTab [header]="('FILES'| translate) + ' (' + fileElementsCount + ')'"
                    style="color: #4c9aae;">
      <app-file-list [sourceId]="sourceId" [entityType]="entityType"
                     [source]="source"
                     [isProspect]="isProspect"
                     [fromRelatedArchiving]="isArchivingMode"
                     [contactCrm]="contactCrm"
                     (recount)="recount($event)"></app-file-list>
    </p-accordionTab>
  </p-accordion>
</div>
