<!--Begin card body-->
<div class="card-body">
  <app-advanced-search [filtreFieldsColumns]="filtreFieldsColumns" [filtreFieldsInputs]="filtreFieldsInputs"
                       (filtrePredicateToSend)="getFiltrePredicate($event)"
                       (predicateOperator)="getOperatorPredicate($event)"
                       (resetClickEvent)="resetClickEvent()" (searchClickEvent)="searchClick()">
  </app-advanced-search>

 
  <!-- Settlements grid -->
  <kendo-grid [data]="gridSettings.gridData" [pageSize]="gridSettings.state.take" [skip]="gridSettings.state.skip"
              [pageable]="pagerSettings" (dataStateChange)="dataStateChange($event)" [filterable]="false" 
              [filter]="gridState.filter">
    <!-- Code -->
    <kendo-grid-column [field]="gridSettings.columnsConfig[0].field"
                       [title]="gridSettings.columnsConfig[0].title | translate"  [filterable]="true"
                       [format]="gridSettings.columnsConfig[0].format">
      <ng-template kendoGridHeaderTemplate>
        <span tooltip="{{gridSettings.columnsConfig[0].tooltip|translate}}"
              theme="light">{{gridSettings.columnsConfig[0].title|translate}}</span>
      </ng-template>

      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <span class="pointer doc-code" style="font-size: 0.9em;"
          *ngIf="hasShowCustomerPaymentHistoryPermission"
          (click)="openDetailsForm(dataItem)">&nbsp;{{dataItem.Code}}</span>
        <span *ngIf="!hasShowCustomerPaymentHistoryPermission"
          style="font-size: 0.9em;">&nbsp;{{dataItem.Code}}</span>
        <span *ngIf="!dataItem.Code" style="font-size: 0.9em;">&nbsp; - </span>
      </ng-template>
    </kendo-grid-column>
    <!-- Client -->
    <kendo-grid-column [field]="gridSettings.columnsConfig[1].field" [title]="gridSettings.columnsConfig[1].title | translate"
                       [filterable]="true" [format]="gridSettings.columnsConfig[1].format">
      <ng-template kendoGridHeaderTemplate>
        <span tooltip="{{gridSettings.columnsConfig[1].tooltip|translate}}"
              theme="light">{{gridSettings.columnsConfig[1].title|translate}}</span>
      </ng-template>
    </kendo-grid-column>
    <!-- Settlement date -->
    <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
                       [title]="gridSettings.columnsConfig[2].title | translate"  [filterable]="true"
                       [format]="gridSettings.columnsConfig[2].format" filter="date">
      <ng-template kendoGridHeaderTemplate>
        <span tooltip="{{gridSettings.columnsConfig[2].tooltip|translate}}"
              theme="light">{{gridSettings.columnsConfig[2].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        {{dataItem.SettlementDate | date: gridSettings.columnsConfig[2].format}}
      </ng-template>
    </kendo-grid-column>
    <!-- Method name -->
    <kendo-grid-column [field]="gridSettings.columnsConfig[3].field"
                       [title]="gridSettings.columnsConfig[3].title | translate"  [filterable]="true"
                       [format]="gridSettings.columnsConfig[3].format">
      <ng-template kendoGridHeaderTemplate>
        <span tooltip="{{gridSettings.columnsConfig[3].tooltip|translate}}"
              theme="light">{{gridSettings.columnsConfig[3].title|translate}}</span>
      </ng-template>
    </kendo-grid-column>
    <!-- Amount -->
    <kendo-grid-column [field]="gridSettings.columnsConfig[4].field"
                       [title]="gridSettings.columnsConfig[4].title | translate"  filter="numeric"
                       [filterable]="true"
                       [format]="gridSettings.columnsConfig[4].format" [style]='{"font-family": "Arial, Helvetica, serif",
                "color": "#505253",
                "text-align":"right",
                "padding-right": "3%"}'>
      <ng-template kendoGridHeaderTemplate>
                  <span tooltip="{{gridSettings.columnsConfig[4].tooltip|translate}}"
                        theme="light">{{gridSettings.columnsConfig[4].title|translate}}</span>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem" *ngIf="tiersType === tiersTypeEnum.Customer">
        <span *ngIf="dataItem.AmountWithCurrency && !dataItem.IdUsedCurrencyNavigation">
          {{
dataItem.AmountWithCurrency.toLocaleString(language, {
        minimumFractionDigits: dataItem.Precision,
        style: 'currency', currency: dataItem.CurrencyCode, currencyDisplay: 'code'
      })
          }}
          </span>
          <span *ngIf="dataItem.AmountWithCurrency && dataItem.IdUsedCurrencyNavigation">
            {{
  dataItem.AmountWithCurrency.toLocaleString(language, {
          minimumFractionDigits: dataItem.IdUsedCurrencyNavigation.Precision,
          style: 'currency', currency: dataItem.IdUsedCurrencyNavigation.Code, currencyDisplay: 'code'
        })
            }}
            </span>
      </ng-template>
      
    </kendo-grid-column>

  </kendo-grid>
</div>
<!--End card body-->
