.primary-color {
  color: #4b9aad;
}
.showGrid-style {
  opacity: 0;
}
.hideGrid-style {
  opacity: 1;
}
.disabledInput {
  background: transparent;
  border: none;
}

.mail-button {
  background-color: #20a8d8 !important;
  color: white;
}
