.ui-picklist-source-controls{
    display: none !important;
}

.ui-picklist-target-controls{
    display: none !important;
  }

  .level-class{
    padding: 20px;
    max-height: 178px;
    overflow-x: hidden;
    border-style: solid;
    margin: 18px 0px 10px 0px;
    border-color: #a9a9a969;
    border-width: 1px;
    height: 100%;
}
.titleColumnMin {
  display:none;
}
@media screen and (max-width: 990px) {
  .search {
    width: 100%;
  }
  .titleColumnMax {
    display: none;
  }

  .titleColumnMin {
    display:block;
  }
}
label {
  white-space: nowrap;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  margin-top: 0.25rem;
}

.k-grid-header .k-header {
  padding-left: 0%!important;
}

