.interview_menu {
  font-size: smaller;
}

.up_space {
  margin-top: 10px;
}

.bottom_space {
  margin-bottom: 10px;
}

.refuse_button {
  margin-left: -4px !important;
}

.right_side {
  float: right !important;
}

.lang_drop_btn {
  float: right !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
  margin-bottom: 10px !important;
}

.toolbar_template {
  float: right;
  margin-right: 5px;
  margin-top: -10px;
}

.header_template {
  background-color: white;
  border: none
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.noInterview {
  color: red;
}

.edit-review {
  color: #fff !important;
  background-color: #20a8d8 !important;
}

.plan-interview {
  color: #fff !important;
  background-color: #4dbd74 !important;
}

.add-review {
  color: #23282c !important;
  background-color: #c8ced3 !important;
}
