.margin {
    margin-bottom: 15px;
   }
.labelStyle{
    color: #4c9aae;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
}
.pointer {
    cursor: pointer;
  }

  .doc-code {
    color: rgb(76, 154, 174);
    text-decoration: underline;
  }