<app-current-fiscal-year-header [currentFiscalYearId]="this.currentFiscalYearId"></app-current-fiscal-year-header>
<nav class="navbar navbar-expand-lg" style="background-color: white !important; height: 50px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class=" las la-chevron-down fa-lg suitable-color-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <ng-container>
    <div class="dropdown">
      <a *ngIf="this.authService.hasAuthority(this.AccountingPermissions.VIEW_RECONCILIATION_BANK) ||
        this.authService.hasAuthority(this.AccountingPermissions.PRINT_RECONCILIATION_BANK) ||
        this.authService.hasAuthority(this.AccountingPermissions.RECONCILE_ENTRY) ||
        this.authService.hasAuthority(this.AccountingPermissions.UNRECONCILE_ENTRY)"
        class="nav-link nav-style dropbtn" [routerLink]="['/main/accounting/reconciliationBankMenu/reconciliationBank']"
        routerLinkActive="active-link">{{'RECONCILIATION_BANK'|translate}}</a>
    </div>
  </ng-container>

  <ng-container>
    <div class="dropdown">
      <a *ngIf="this.authService.hasAuthority(this.AccountingPermissions.VIEW_RECONCILIATION_BANK_STATEMENT) ||
        this.authService.hasAuthority(this.AccountingPermissions.PRINT_RECONCILIATION_BANK_STATEMENT)"
        class="nav-link nav-style dropbtn" [routerLink]="['/main/accounting/reconciliationBankMenu/reconciliationBankStatement']"
        routerLinkActive="active-link">{{'RECONCILIATION_BANK_STATEMENT'|translate}}</a>
    </div>
  </ng-container>
  </div>
</nav>
