<div [formGroup]="group" class="form-group row" style="margin-bottom:-15px!important;">

  <div class="col-lg-4 col-md-12 col-sm-12">
    <label *ngIf="!IsPermanent.value" class="col-lg-12 col-md-12 col-sm-12">{{TypeName}}
      : {{group.controls.Label.value}}</label>
    <label *ngIf="IsPermanent.value" class="col-lg-12 col-md-12 col-sm-12">{{TraductedLabel}}</label>
    <input class="form-control" formControlName="Value" name="Value" pattern="^[1-9]\d*$" type="text">
    <app-control-messages [control]="group.controls.Value"
                          class="error-msg messages text-left text-danger"></app-control-messages>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12">
    <label class="col-lg-12 col-md-12 col-sm-12"> {{'EXPIRATION_DATE'|translate}}</label>
    <kendo-datepicker [format]="formatDate" formControlName="ExpirationDate" class="form-control">
        <kendo-datepicker-messages today="{{ 'TODAY' | translate}}" toggle="Cambiar calendario">
          </kendo-datepicker-messages>
    </kendo-datepicker>
    <app-control-messages [control]="group.controls.ExpirationDate"
                          class="error-msg messages text-left text-danger"></app-control-messages>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12">

    <div class="row" style="margin-top: 32px!important;">
      <div class="col-12">
        <app-upload-file (selectedFiles)="onFileChange($event)" [canUpdateFile]="!canUpdateFile"
                         [fileToUpload]="fileDocumentToUpload"
                         [service]="service">
        </app-upload-file>
      </div>
    </div>
  </div>
</div>

