<div class="card">
  <div class="card-content">
    <div class="card-body">
      <div class="row d-flex justify-content-between mt-3">
        <!-- search div-->
        <div class="d-flex justify-content-center">
          <div class="col-12">
            <div class="form-group row">
              <div class="col-10" >
                <input type="text" class="form-control" placeholder="{{'SEARCH_CITY'|translate}}" name='reference'
                       aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]='city'(keyup)='filter()'>
              </div>
              <div class="col-2 p-1">
                <i class="fa fa-search fa-lg" aria-hidden="true" (click)='filter()'></i>
              </div>
            </div>
          </div>
        </div>
        <!-- End search div-->
        <app-btn-grid class="col" [advencedAdd]='hasAddCityPermission' [addLink]='"add"'
                      [model]='true' [relativeStyle]='true'
                      [fileName]="'LIST_CITY'|translate"
                      [gridSettings]="gridSettings"
                      [service]="cityService"
                      [predicate]="predicate"
                      [isExportExcel]="true">
        </app-btn-grid>
      </div>
      <kendo-grid
                    [data]="gridSettings.gridData"
                    [pageSize]="gridSettings.state.take"
                    [skip]="gridSettings.state.skip"
                    [groupable]='false'
                    [sortable]="true"
                    [pageable]="pagerSettings"
                    [reorderable]="true"
                    [columnMenu]="false"
                    [filterable]="false"
                    [sort]="gridSettings.state.sort"
                    [filter]="gridSettings.state.filter"
                    [navigable]="true"
                    (dataStateChange)="dataStateChange($event)">
        <!--Name-->
        <kendo-grid-column [field]="gridSettings.columnsConfig[1].field" [title]="gridSettings.columnsConfig[1].title | translate"
                           [width]="gridSettings.columnsConfig[1]._width" [filter]="gridSettings.columnsConfig[1].filter"
                           [filterable]="gridSettings.columnsConfig[1].filterable" [format]="gridSettings.columnsConfig[1].format">
        </kendo-grid-column>

        <!--Description-->
        <kendo-grid-column [field]="gridSettings.columnsConfig[2].field" [title]="gridSettings.columnsConfig[2].title | translate"
                           [width]="gridSettings.columnsConfig[2]._width" [filter]="gridSettings.columnsConfig[2].filter"
                           [filterable]="gridSettings.columnsConfig[2].filterable" [format]="gridSettings.columnsConfig[2].format">
        </kendo-grid-column>

        <!--Country-->
        <kendo-grid-column [field]="gridSettings.columnsConfig[3].field" title="{{'COUNTRY'|translate}}" [filterable]="gridSettings.columnsConfig[3].filterable"
                           [width]="gridSettings.columnsConfig[3]._width">
          <ng-template kendoGridEditTemplate let-dataItem="dataItem">
            <app-country-dropdown [group]="formGroup" (Selected)="receiveCountryStatus($event)"></app-country-dropdown>
            <i #anchor></i>
            <app-control-message-grid-cell [group]="formGroup" [anchor]="anchor" controlName="IdCountry"> </app-control-message-grid-cell>
          </ng-template>
        </kendo-grid-column>
        <!-- Command-->
        <kendo-grid-command-column [width]="130" [title]="'ACTIONS'| translate " [columnMenu]="false">
            <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
              <!-- edit command directive, will be visible when not in edit mode -->
              <i class="las la-pen cursor-pointer edit-pencil la-lg mx-3" aria-hidden="true" *ngIf="hasShowCityPermission || hasUpdateCityPermission"
                 (click)="goToAdvancedEdit(dataItem)"></i>
              <!-- remove command directive, will be visible when not in edit mode -->
              <i  class="text-danger cursor-pointer fa fa-trash-o la-lg" aria-hidden="true" *ngIf="hasDeleteCityPermission"
                 (click)="removeHandler(dataItem)"></i>
            </ng-template>
        </kendo-grid-command-column>
        <!--grid pdf & excel-->
           <app-grid-export [gridSettings]="gridSettings"
           fileName="{{'LIST_CITY'|translate}}"
           pdf="true"
           excel="true"
           [service]="cityService"
           [predicate]="predicate">
           </app-grid-export>
        <!--end grid pdf & excel-->
      </kendo-grid>
    </div>
  </div>
</div>
