$colors: #dc3545, #fd7e14, #ffc107, #28a745, #007bff, #6f42c1;
@for $i from 1 through 6 {
  .timeline ul li:nth-child(#{length($colors)}n + #{$i})::before {
    border-color: lighten(nth($colors, ($i * 1)), 20%);
  }
}
h1 {
  font-size: 60px;
  text-align: center;
}
.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
}
.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}
.timeline ul {
  padding: 0;
  margin: 0;
}
.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 11px 40px 20px 40px;
  box-sizing: border-box;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.content {
  padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 19px;
  right: -10px;
  border-radius: 50%;
}
.timeline ul li::before {
  width: 17px;
  height: 17px;
  border: 4px solid;
  background: white;
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;

  top: 19px;
  left: -7px;
  border-radius: 50%;
}
.timeline ul li h3 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}
.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 18px;
  right: -235px;
  margin: 0;
  color: #73818f;
  text-align: left;
  width: 210px;
  font-weight: bold;
}
.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 18px;
  left: -235px;
  margin: 0;
  color: #73818f;
  text-align: right;
  width: 210px;
  font-weight: bold;
}
p.subcontent {
  color: #5986b3;
}
@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .timeline:before {
    left: 20px;
    height: 100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -23px;
    left: 11px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}
.no-data-image {
  width: 100%;
  justify-content: center;
  display: flex;
  opacity: 30%;
}
.no-data-text {
  color: #f86c6b !important;
  text-align: center;
}

.no-data-text h5 {
  font-size: 35px;
  text-align: center;
  padding: 10%;
}
