@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* Chat Buttom Button
/* Use this class for the the right fixed chat button
/* On Click : add class show-box to box-chat
/* TODO : */
.bottom-chat-btn {
  display: block;  
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
  margin-right: 25px;
  z-index: 1020;
}

.bottom-chat-btn:hover {
  color: #fff;
}

.bottom-chat-btn-hide {
  opacity: 0 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index : -999 !important;
}

.bottom-chat-btn .avatar-status {
  position: absolute;
  right: -6px;
  bottom: -5px;
  width: 7px;
  height: 7px;
  display: block;
  border-radius: 100%;
  background: rgb(66, 183, 42);
  border: 2px solid transparent;
}
/* Avatar Status
  /* Use this class to show the state of user (Online,Offline)
  /* TODO :*/
.avatar-status {
  position: absolute;
  bottom: 3px;
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 100%;
  background: rgb(66, 183, 42);
  border: 2px solid transparent;
}

.offline {
  background: gray !important;
}

.red {
  background: #fc3334 !important;
  padding-left: 7px !important;
  width: 25px !important;
  color: white;
  height: 25px !important;
  bottom: -7px !important;
}
/* Box Chat
  /* Use this class for the Box Chat
  /* TODO : */
.box-chat {
  height: 0px;
  width: 0px;
  display: block;
  border-radius: 0%;
  position: fixed;
  bottom: 42px;
  right: 42px;
  opacity: 0.1;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: #7ec6e7;
  margin-right: 25px;
}

.box-chat h1 {
  font-size: 13px;
  color: #fff;
  margin: 10px;
}


/* Show Chat
  /* Add this class to the Box Chat to show the box
  /* TODO : */
.show-box-chat {
  z-index: 9999;
  background: #4c9aae;
  height: 80%;
  display: block;
  width: 336px;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  margin-bottom: 30px;
  opacity: 1 !important;
  border-radius: 10px;
}
/* Box Chat Head
  /* Include Top Buttons of head
  /* TODO :*/
.form-head {
  display: block;
}
/* Box Chat Head
  /* Include Top Buttons of head
  /* TODO :*/
.header-btn,
.footer-btn a {
  font-size: 15px;
  color: #fff;
  float: right;
}

.top-btn {
  position: absolute;
  top: 3px;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 10px;
  border-radius: 50%;
}

#top-btn-minus {
  right: -2px;
}

#top-btn-times {
  right: -2px;
}

.top-btn:hover {
  cursor: pointer;
  color: #fff;
}

.top-btn-show {
  opacity: 1 !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* Box Chat Body
  /* Include The body of chat Includes two side (SideOne:ChatList,SideTwo:ChatMessage)
  /* TODO :*/
.chat-body {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding-bottom: 44%;
}

.chat-body-message-box {
  background-color: #fff;
  height: 120%;
  overflow: hidden;
  margin: 0;
  padding-bottom: 44%;
}
/* Side Bar
  /* Include The Chat List
  /* TODO : Chnage class name to chat-list-items*/
.chat-list-items {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  margin-bottom: 15px;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
  top: 0;
}

.chat-list-items::-webkit-scrollbar-track {
  background: white;
}
/* chat-list-item
  /* Use this to show a  user
  /* TODO : */
.chat-list-item {
  position: relative;
  padding-top: 10px !important;
  padding-right: 0px !important;
  padding-bottom: 10px !important;
  padding-left: 5px !important;
  border-bottom: 1px solid #f7f7f7;
  width: 100%;
  margin: 0 !important;
  cursor: pointer;
}

.chat-list-items
.chat-list-item
.chat-list-item-avatar
.avatar-icon
.avatar-status {
  background: rgb(66, 183, 42);
  position: relative;
  left: -9px;
  top: 20px;
  bottom: 10 px;
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid transparent;
}

.chat-list-item:hover {
  background-color: #f2f2f2;
}

.chat-list-item-avatar {
  padding: 0 !important;
}

.avatar-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
  margin-top: 10px;
}

.green_icon {
  background-color: #4cd137;
  position: absolute;
  right: 13px;
  bottom: 3px;
  width: 13px;
  height: 13px;
  border: 1px solid white;
  border-radius: 50%;
}

.chat-list-item-main {
  padding: 0 !important;
}

.chat-list-item-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.chat-list-item-name {
  padding: 10px !important;
}

.name-meta {
  color: #000;
  display: inline-block;
  width: 12em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.last-message-meta {
  color: gray;
  text-transform: lowercase;
  display: inline-block;
  width: 12em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.section-chat-list-title {
  color: #585858;
  padding: 5px;
  padding-bottom: 0px !important;
  padding-left: 5px !important;
  margin-bottom: 3px !important;
  font-weight: bolder;
}

.section-chat-list-hr {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  border-top: 1px solid rgba(228, 229, 230, 0.58) !important;
}

#section-chat-recent {
  display: block;
}

#section-chat-groupe-search {
  display: block;
}

.chat-list-item-time {
  padding: 10px !important;
}

.gras {
  color: black !important;
  font-weight: bold;
}

.grayBackground {
  background-color: #f2f2f2 !important;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1px solid #d8d0d0;
  display: inline-block;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
}

.status-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, 0.4);
  vertical-align: baseline;
}

/* Side Two
  /* Include The Chat Message
  /* TODO : message-box*/
.message-box {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  top: -100%;
  left: -100%;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
/* Heading Side One
  /* Include The Support Chat And Search Box
  /* TODO :*/
.heading-chat-list-items {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  z-index: 10000;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}
/* Search Box
  /* Include The Support Chat And Search Box
  /* TODO :*/
.searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/* Support Technique
  /* Included in the heading of side One
  /* TODO :*/
.support-technique {
  position: relative;
  padding-top: 10px !important;
  padding-right: 0px !important;
  padding-bottom: 10px !important;
  padding-left: 0px !important;
  border-bottom: 1px solid #f7f7f7;
  height: 60px !important;
  width: 100% !important;
  margin-left: 0 !important;
  cursor: pointer;
}

/* Heading Side Two
  /* Include The MessageBox
  /* TODO :*/
.heading-message-box {
  padding: 0;
  margin: 0;
  display: none;
  background-color: #eee;
  z-index: 10000;
  position: sticky;
  bottom: 0;
  width: 100%;
}
/* New Message
  /* Include the form of message
  /* TODO :*/
.heading-message-box .messageInputBox {
  height: 110px;
}

.messageInputBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.messageInputBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.messageInputBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}
/* Search Box
  /* Include The Support Chat And Search Box
  /* TODO :*/
.messageInputBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
/* New Message
  /* Include the form of message
  /* TODO : Change name to chat-new-message*/
.send-message {
  display: inline-block;
  position: relative;
  width: 100%;
}
/* New Message
  /* Include the form of message
  /* TODO : Change name to chat-message-input*/
#messageText {
  height: 70px;
  padding-right: 30px;
  border-radius: 0px !important;
  resize: none;
}

#messageText::placeholder {
  padding-top: 15px;
}

#messageText:focus::placeholder {
  padding-top: 0px;
}

.search-chat-button {
  border-radius: 25px !important;
}
/* Send Message Button
  /* Include the form of message
  /* TODO : Change name to chat-message-input
  */
.send-message-button {
  position: absolute;
  color: #4c9aae;
  bottom: 25px;
  right: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.send-msg-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}
/* New Message
  /* Included on  The Head of  side Two
  /* TODO :
  */
.message-box-heading {
  margin: 0 !important;
  width: 100%;
  background-color: #56abc1fa;
  z-index: 1001;
  padding-left: 2em;
  padding-right: 1em;
}

.message-box-main {
  margin: 0 !important;
  width: 100%;
  z-index: 1001;
  color: #fff;
}

.message-box-title {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 5px !important;
}

.message-box-back {
  text-align: center;
  padding: 12px 5px !important;
  display: block;
  cursor: pointer;
}

.message-box-add-member {
  padding: 9px 5px !important;
  display: block;
  cursor: pointer;
  width: 33.33333%;
  text-align: right;
}

.message-box-back i {
  margin: auto !important;
}
/* Compose SideBar
  /* Includes the chat message
  /* TODO : */
.message-box-body {
  padding: 0 !important;
  margin: 0 !important;
  height: 85% !important;
  background-color: #eee;
  border: 1px solid #f7f7f7;
  padding-bottom: 10px !important;
}
/* message-previous
  /* for loading  messages
  /* TODO : NOT WORKING !!!!!!*/
.message-previous {
  margin: 0 !important;
  padding: 0 !important;
  height: 0px;
  width: 100%;
}

.previous {
  font-size: 15px;
  text-align: center;
  padding: 10px !important;
  cursor: pointer;
}

.previous a {
  text-decoration: none;
  font-weight: 700;
}
/* Message
  /* Includes the  list  messages
  /* TODO : */
.conversation {
  padding: 0 !important;
  margin: 0 !important;
  background-size: cover;
  height: calc(100% - 70px);
  width: 100%;
  overflow-x: auto;
  position: relative;
  display: block;
  top: 0;
}
/* Message
  /* Include the chat message
  /* TODO :
  */
.message-body {
  position: relative;
  padding-top: 10px !important;
  padding-right: 0px !important;
  padding-bottom: 10px !important;
  padding-left: 10px !important;
  width: 100%;
  margin: 0 !important;
  cursor: pointer;
}

.message-body .avatar-icon img {
  height: 39px !important;
  width: 39px !important;
}

.message-body .avatar-icon {
  height: 5px;
  margin-top: 15px;
}

.message-main-receiver {
  /*padding: 10px 20px;*/
  max-width: 60%;
}

.message-main-sender {
  padding: 3px 20px !important;
  margin-left: 30% !important;
  max-width: 70%;
}

.message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap: break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.message-time {
  margin: 0 !important;
  margin-left: 50px !important;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;
}

.sender {
  width: 200px !important;
  background: #a3d0e447;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  word-wrap: break-word;
}

.receiver {
  width: 200px !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  display: inline-block;
  margin-top: 5px;
}
/*Chat Nav Item
/* REPLACE IN NAVBAR COMPONENT !!!!
*/
#nav-item-chat {
  display: block;
}

.chat-group {
  padding-left: 0px;
  background-color: #fbfbfb;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}
// fix the html page
.cdk-global-scrollblock {
  position: initial;
  width: initial;
  overflow: hidden;
}

.draggable {
  cursor: pointer;
}

.draggably {
  width: 140px;
  height: 140px;
  background: #f90;
  margin: 0 10px 10px 0;
  float: left;
}

.seen-by {
  margin-left: 50% !important;
  padding: 0px;
  font-size: 10px;
  display: inline-flex;
}

.receiver-name .seen-by {
  color: gray;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.bottom-chat-btn.is-dragging {
  opacity: 0.7;
  cursor: grabbing !important;
}

.discussion-name {
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 27px;
  width: 160px;
  background: #59adc2;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.edit-discussion-name {
  cursor: pointer;
}

.editing-discussion-name {
  background: #4c9aae;
}

.discussion-name::placeholder {
  color: white;
}
