<div [formGroup]="group">
  <kendo-combobox [data]="currencyFiltredDataSource" class="form-control" name="IdCurrency" formControlName="IdCurrency"
    (valueChange)="onSelect($event)" [textField]="'Code'" [valueField]="'Id'" [valuePrimitive]="true"
    [filterable]="true" [allowCustom]="allowCustom">
    <!--No data template-->
    <ng-template kendoDropDownListNoDataTemplate>
      <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
    </ng-template>
    <kendo-combobox-messages clearTitle="{{'CLEAR'|translate}}"> </kendo-combobox-messages>
    <!--end No data template-->
  </kendo-combobox>
</div>