<div class="col-xs-12 col-lg-12 col-lg-12">
  <kendo-grid [data]="gridSettings.gridData" [pageable]="pagerSettings" (pageChange)="pageChange($event)"
    [pageSize]="pageSize" [skip]="skip" [height]="650" (cellClick)="cellClickHandler($event)" (add)="addHandler()"
    (remove)="removeLine($event)" [selectable]='true'  [sortable]="true" [sort]="gridSettings.state.sort" 
    (dataStateChange)="dataStateChange($event)" [reorderable]="true">
    <ng-template kendoGridToolbarTemplate [position]="'top'">
      <button kendoGridAddCommand class="noPadding btn-Add k-button" dir="ltr" style="border: none" type="button">
        <i class="fa fa-plus-circle fa-lg AddIcon"></i>
        <span>&nbsp; {{'ADD_LINE'|translate}}</span>
      </button>
    </ng-template>
    <kendo-grid-column field="Id" title="Id" hidden="hidden">
    </kendo-grid-column>

    <kendo-grid-column field="IdItem" title="IdItem" hidden="hidden">
    </kendo-grid-column>

    <kendo-grid-column field="IdWarehouse" title="IdWarehouse" hidden="hidden">
    </kendo-grid-column>

    <kendo-grid-column [sortable]="false" field="IdItem" title="{{'ITEM'|translate}}" [width]='240' >
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex" let-dataItem
        let-rowIndex="rowIndex">
       
        <input type="search" class="form-control" [(ngModel)]='itemToSearch' (focusout)='searchValue()'
          placeholder="{{'ITEM'|translate}}" style="border: 1px solid #e4e7ea !important;   margin-bottom: 2px;"
          (keydown.enter)='searchValue()'  (search)="searchValue()" />
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <app-item-dropdown [parentViewContainerRef]="viewRef" [itemForm]="formGroup" *ngIf='isNew==true'
          [hideSearch]='false' (SelectedItem)="itemSelectGrid($event)" [showFilter]='true' [activeKeyPress]='true'
          [isFroSerach]='true' [isOnlyStockManaged]="true" >
        </app-item-dropdown>
        <div *ngIf='isNew!=true'>
          {{dataItem.Item}}
        </div>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        {{dataItem.Item}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column [sortable]="false" field="IdWarehouse" title="{{'WAREHOUSE'|translate}}" 
    [style]='{"padding-bottom": "9px !important;"}'>
      <ng-template kendoGridHeaderTemplate>
        
          <span tooltip="{{'WAREHOUSE'|translate}}" theme="light">{{'WAREHOUSE'|translate}}</span>
        
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <app-depot-dropdown [parent]="formGroup" (Selected)="warehouseSelectGrid($event)" [FromComponent]='true'
          *ngIf='isNew==true' [warehouseForInventoryDocument]="true">
        </app-depot-dropdown>
        <app-control-messages [control]="formGroup.controls.IdWarehouse"  class="error-msg messages text-left text-danger">
        </app-control-messages>
        <div *ngIf='isNew!=true'>
          {{dataItem.WarehouseName}}
        </div>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        {{dataItem.WarehouseName}}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="AvailableQuantity" title="{{'AVAILABLEQUANTITY'|translate}}" [width]='138'
    [style]='{"padding-bottom": "9px !important;"}'>
      <ng-template kendoGridHeaderTemplate>
        
          <span tooltip="{{'AVAILABLEQUANTITY'|translate}}" theme="light">{{'AVAILABLEQUANTITY'|translate}}</span>

      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <kendo-numerictextbox [spinners]="false" [format]="FormatNumber" [step]="1" style="border: none !important;"
          class="form-control inputEnabled as-label" [value]="dataItem.AvailableQuantity" [disabled]="true">
        </kendo-numerictextbox>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <kendo-numerictextbox [spinners]="false" [format]="FormatNumber" [step]="1" style="border: none !important;"
          class="form-control inputEnabled as-label" [value]="dataItem.AvailableQuantity" [disabled]="true">
        </kendo-numerictextbox>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="OrderedQuantity" title="{{'ON_ORDER_QUANTITY'|translate}}" [width]='149'
    [style]='{"padding-bottom": "9px !important;"}'>
      <ng-template kendoGridHeaderTemplate>
        
          <span tooltip="{{'ON_ORDER_QUANTITY'|translate}}" theme="light">{{'ON_ORDER_QUANTITY'|translate}}</span>
        
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <kendo-numerictextbox [spinners]="false" [format]="FormatNumber" [step]="1" style="border: none !important;"
          class="form-control inputEnabled as-label" [value]="dataItem.OrderedQuantity" [disabled]="true">
        </kendo-numerictextbox>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        <kendo-numerictextbox [spinners]="false" [format]="FormatNumber" [step]="1" style="border: none !important;"
          class="form-control inputEnabled as-label" [value]="dataItem.OrderedQuantity" [disabled]="true">
        </kendo-numerictextbox>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="Storage" title="{{'SHELF'|translate}}-{{'STORAGE'|translate}}"
    [style]='{"padding-bottom": "9px !important;"}'>
      <ng-template kendoGridHeaderTemplate>
       
          <span tooltip="{{'SHELF'|translate}} - {{'STORAGE'|translate}}"
            theme="light">{{'SHELF'|translate}}-{{'STORAGE'|translate}}</span>
        
      </ng-template>
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        {{dataItem.Shelf}}{{dataItem.Storage}}
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem=" dataItem">
        {{dataItem.Shelf}}{{dataItem.Storage}}
      </ng-template>
    </kendo-grid-column>


    <kendo-grid-column [sortable]="false" field="NewStorage" class="no-padding" editor="text">
      <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex" let-dataItem
        let-rowIndex="rowIndex">
        <kendo-combobox [data]="newStorageData" [placeholder]="'NEWSTORAGE'| translate"
          pattern="^[A-Z|a-z]{1,2}.{3}$" [allowCustom]='true'
          [(ngModel)]='selectNewStorageValue' style="width: 100%" *ngIf='selfStorageForm && selfStorageForm.valid'  [filterable]="true"
          [ngModelOptions]="{standalone: true}" (filterChange)="filterNewStorage($event)" (valueChange)="selectNewStorage()">

          <!--No data template-->
          <ng-template kendoDropDownListNoDataTemplate>
            <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
          </ng-template>
          <!--end No data template-->
        </kendo-combobox>

        <input [placeholder]="'NEWSTORAGE'| translate" pattern="^[A-Z|a-z]{1,2}.{3}$" class="form-control"
          [ngClass]="{'valid-data':!wrongPattern, 'invalid-data':wrongPattern}" type="text"
          (keydown.enter)="selectNewStorage($event)" (focusout)="selectNewStorage()" [(ngModel)]='selectNewStorageValue'
          *ngIf='!selfStorageForm || !selfStorageForm.valid' />
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem="dataItem">
        {{dataItem.NewStorage}}
      </ng-template>

    </kendo-grid-column>


    <kendo-grid-command-column title="" [width]='100'>
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <div style="display: flex;
                      margin-top: 5%;">
          <button kendoGridRemoveCommand class="noPadding btn-Add k-button" dir="ltr"
            style="border: none; color: #E91E63 !important;" type="button">
            <i class="fa fa-times fa-lg"></i>
          </button>

          <button class='noPadding btn-Add' kendoGridSaveCommand type="button" (click)="saveCurrent()"
            [disabled]="isAfterSave" id='btnSave'>
            <i class="fa fa-check fa-lg AddIcon" aria-hidden="true"></i>
          </button>

          <button kendoGridCancelCommand class="noPadding btn-Add k-button" (click)="cancelHandler()" type="button">
            <i class="fa fa-ban fa-lg" style="color: #E91E63;" aria-hidden="true"></i>
          </button>
        </div>
      </ng-template>
    </kendo-grid-command-column>

  </kendo-grid>

</div>
