<div class="card">
  <form class="form-horizontal" [formGroup]="transfertMovementForm">

    <div class="card-header d-flex justify-content-between">
      <h4 class="card-title">
        {{(isUpdateMode ? 'EDIT_TRANSFERT_MOVEMENT' : 'ADD_TRANSFERT_MOVEMENT')|translate}}
      </h4>
      <span *ngIf="isVisibleTransferMovementCode" class="transferMovementCode">
                {{CodeMovmentTransfet.value}}
        <!-- remove command directive, will be visible when not in edit mode -->
            <i *ngIf="checkDeletePossibility() && hasDeletePermission" style="margin-top: 10px;"
               class="las la-trash-alt text-danger cursor-pointer la-lg" aria-hidden="true"
               (click)="removeHandler()"></i>
        </span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label class="col-lg-12 col-md-12 col-sm-12">{{'DOCUMENT_DATE'|translate}}<span
            class="required">*</span></label>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <kendo-datepicker class="form-control" formControlName="DocumentDate" [disabled]='isShowForm'
            (focusout)='changeData()'>
              <kendo-datepicker-messages today="{{ 'TODAY' | translate}}"
                                         toggle="{{ 'CALENDAR.MENU_TITLE' | translate}}">
              </kendo-datepicker-messages>
            </kendo-datepicker>
            <app-control-messages [control]="transfertMovementForm.controls.DocumentDate"
                                  class="error-msg messages text-left text-danger">
            </app-control-messages>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label class="col-lg-12 col-md-12 col-sm-12">{{'WAREHOUSE_SOURCE'|translate}} <span class="required">*</span></label>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <app-depot-dropdown [parent]="transfertMovementForm" [FromComponent]='true'
                                [warehouseForInventoryDocument]='false' [WarehouseName]="'IdWarehouseSource'"
                                [disabled]='isDisabled' (Focused)="warehouseSourceFocused($event)" [onlyWarehouse]="true"
                                (Selected)="warehouseDestinationSelected($event)"></app-depot-dropdown>
            <app-control-messages [control]="transfertMovementForm.controls.IdWarehouseSource"
                                  class="error-msg messages text-left text-danger">
            </app-control-messages>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <label class="col-lg-12 col-md-10 col-sm-10">{{'WAREHOUSE_DESTINATION'|translate}}<span class="required">*</span></label>
          <div class="col-lg-10 col-md-10 col-sm-12">
            <app-depot-dropdown [parent]="transfertMovementForm" [FromComponent]='true'
                                [warehouseForInventoryDocument]='false' [WarehouseName]="'IdWarehouseDestination'"
                                [disabled]='(isDisabled && isUpdateMode) || isShowForm'
                                (Focused)="warehouseDestinationFocused($event)" [onlyWarehouse]="true"
                                (Selected)="changeData()"></app-depot-dropdown>
            <app-control-messages [control]="transfertMovementForm.controls.IdWarehouseDestination"
                                  class="error-msg messages text-left text-danger">
            </app-control-messages>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-end m-3">
        <button class="btn btn-sm" *ngIf='!isShowForm && showButtonAddLine && (hasUpdatePermission || (hasAddPermission && !isUpdateMode))' type="button"
                (click)="addLine()" style="background-color: #20a8d8 !important;">
          <i style="color: white" class="fa fa-plus fa AddIcon"></i>
          <span style="color: white">&nbsp; {{'ADD_LINE'|translate}}</span>
        </button>
      </div>
      <kendo-grid (cellClick)="lineClickHandler($event)" (remove)="removeLine($event)" (add)="addLine()"
                  [data]="view" id="productsGrid" [style.maxHeight.px]="400" [pageSize]="pageSize" [skip]="skip"
                  [pageable]="pagerSettings" (pageChange)="pageChange($event)" #grid>
        <kendo-grid-column field="LabelItem" title="{{'ITEM'|translate}}" [width]='200'
                           [editable]='!isShowForm'>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem" *ngIf='isInEditingMode'>
            <div *ngIf="isNew">
            <app-item-dropdown [itemForm]="formGroup" [warehouseAssociated]="warehouseAssociatedToItems"
                               (Selected)="itemSelect($event)" [showFilter]='true' [hideSearch]='dataItem && dataItem.Id && dataItem.Id > 0'
                               [parentViewContainerRef]="viewRef" [activeKeyPress]='true' #item
                               (keydown.enter)='movementItemFoucusOut()' [isFroSerach]='true' [isForImprovement]="true"
                               [idStockDocument]="id" [isForTransfertMvt]="true">
            </app-item-dropdown>
            <i #anchor></i>
            <app-control-message-grid-cell [group]="formGroup" [anchor]="anchor" controlName="IdItem">
            </app-control-message-grid-cell>
          </div>
          <div *ngIf='!isNew && dataItem'>
              {{dataItem.LabelItem}}-{{dataItem.Designation}}
            </div>
          </ng-template>
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div class="row">
              <div class="col-auto">
                <div class="item-photo d-flex justify-content-center">
                  <img id="ThumbnailItem" class="imgSize" alt="item thumbnail"
                       border="0" [src]="dataItem.image || 'assets/image/placeholder-logo.png'"/>
                </div>
              </div>
              <div class="col mt-2">
                <span>{{dataItem.LabelItem}} - {{dataItem.Designation}}</span>
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="AvailableQuantity" title="{{'DISPONIBILITY'|translate}}" [width]='150'>
          <ng-template  kendoGridEditTemplate>
                      <span class="badge badge-success">
                        {{'AVAILABLE_IN_STOCK'|translate}} &nbsp;
                        <span>{{formGroup.controls['AvailableQuantity'].value}}</span>
                      </span>
          </ng-template>

          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                      <span
                        class="badge badge-success">{{'AVAILABLE_IN_STOCK'|translate}}&nbsp;{{dataItem.AvailableQuantity}}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ActualQuantity" title="{{'QUANTITY'|translate}}" [width]='150'>
          <ng-template kendoGridEditTemplate>
            <app-grid-cell-input-template [group]="formGroup" controlName="ActualQuantity" inputType="number"
                                          [stopInputCounter]='true' (keydown.enter)='movementQtyFoucusOut()'
                                          (setFocused)='setSelectQty()'>
            </app-grid-cell-input-template>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column [title]="'ACTIONS'| translate " [width]='100'
                                   [headerStyle]="{'text-align': 'center'}" [style]="{'text-align': 'center'}">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridRemoveCommand class="btn-Add k-button" dir="ltr"
                    style="border: none;" type="button" *ngIf='!isShowForm && hasUpdatePermission'>
              <i class="fa fa-times fa-lg mx-3 text-danger"></i>
            </button>
            <button class='btn-Add p-2' *ngIf="isInEditingMode && !isShowForm" kendoGridSaveCommand
                    id='btnSave' type="button" [disabled]="!isSavedDocument" (click)="saveCurrent()">
              <i class="fa fa-check fa-lg AddIcon" aria-hidden="true"></i>
            </button>

            <button kendoGridCancelCommand *ngIf="isInEditingMode && !isShowForm"
                    class="btn-Add k-button p-2" (click)="cancelHandler($event)" type="button">
              <i class="fa fa-times fa-lg text-danger"  aria-hidden="true"></i>
            </button>
          </ng-template>
        </kendo-grid-command-column>
        <div>
          <kendo-grid-messages noRecords="">
          </kendo-grid-messages>
        </div>
      </kendo-grid>
    </div>
  </form>

  <!--Begin Card footer-->
  <div class="fixed-card-footer">
    <div class="footerStyle">
      <footer class="app-footer">
        <div class="w-100">
          <div class="d-flex justify-content-end p-3 footer-content">
            <a routerLink="/main/inventory/transfertMovement">
                      <span class="btn btn-sm btn-back-to-list btn-primary">
                        <i class="fa fa-chevron-circle-left"></i> {{'BACK_TO_LIST'|translate}}
                      </span>
            </a>
            <span>
                      <button type="button" class="btn btn-sm btn-save"
                              *ngIf='isUpdateMode && !isShowForm && hasValidatePermission'
                              [disabled]='isInEditingMode || !isDisabled' (click)="validateTransfertMovement()">
                        <span>
                          <i class="fa fa-check-square-o"></i> {{'VALIDATE'|translate}}
                        </span>
                      </button>
                      <button class="btn btn-sm btn-primary" type="button" *ngIf='isTransfertForm && hasTransferPermission'
                              (click)="transfertValidateStockDocument()">
                        <i class="fa fa-floppy-o"></i> {{'TRANSFERT'|translate}}
                      </button>
                      <button class="btn btn-sm btn-primary" type="button" *ngIf='isReceiveForm && hasReceivePermission'
                              (click)="receiveValidateStockDocument()">
                        <i class="fa fa-floppy-o"></i> {{'RECEIVE'|translate}}
                      </button>
                      <button (click)='onJasperPrintClick()' type="button" class="btn btn-primary btn-sm"
                          *ngIf = "showPrintButton() && hasPrintPermission">
                    <i class="fa fa-print"></i> &nbsp;{{'PRINT'|translate}}
                  </button>
                    </span>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--End Card footer-->
</div>

