<div class="d-flex justify-content-center">
  <div class="col-12">
    <div class="form-group row">
      <div class="col-10">
        <input (afterValueChanged)="filter()" type="text" class="form-control"
               placeholder="{{'DOCUMENT_SEARCH'|translate}}" aria-describedby="addon-wrapping"
               [(ngModel)]='documentSearch'/>
      </div>
      <div class="col-2 p-1">
        <i class="fa fa-search fa-lg" aria-hidden="true" (click)='filter()'></i>
      </div>
    </div>
  </div>
</div>
