<app-spinner *ngIf="spinner" class="spinner"></app-spinner>
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="row">
    <div class="card card full-screen-card">
      <div class="card-content">
        <!--Begin card header-->
        <div class="card-header">
          <div class="col-sm-5 mt-1">
            <h3 class="card-title mb-0">{{'CALCULATION_COST_PRICE'|translate}}</h3>
          </div>
        </div>
        <!-- end card header -->
        <!-- begin card body -->
        <div class="card-body">
          <app-advanced-search [filtreFieldsColumns]="filterFieldsColumns" [filtreFieldsInputs]="filterFieldsInputs"
                               (filtrePredicateToSend)="prepareFiltreFromAdvancedSearch($event)"
                               (predicateOperator)="getOperatorPredicate($event)"
                               (searchClickEvent)="searchClick()" (resetClickEvent)="resetClickEvent()">
          </app-advanced-search>
          <div class="row col-sm-12 col-md-12 col-lg-12 mt-2 k-justify-content-end" id="addButton1">
            <a id="addButton2" class="btn-Add k-button btn btn-add" (click)="onBtnCalculateClick()" data-toggle="modal"
               data-target="#exampleModalCenter" style=" border: 2px double #4c9aae!important; margin-bottom: 0.7%">
              <span>&nbsp; {{'CALCULATE'|translate}}</span>
            </a>
          </div>
          <div class="row  d-flex justify-content-between mt-3">
            <div class="col">
              <div class="card  mt-2">
                <div class="card-content">
                  <div class="card-body p-3" style="min-height: fit-content;">
                    <kendo-grid [data]="gridSettings.gridData" [pageSize]="gridSettings.state.take"
                                [skip]="gridSettings.state.skip" [sortable]="true"
                                [sort]="gridSettings.state.sort" [filter]="gridSettings.state.filter"
                                [pageable]="pagerSettings" (pageChange)="onPageChange($event)"
                                [filterable]="false" [reorderable]="false"
                                [columnMenu]="false"
                                (dataStateChange)="dataStateChange($event)"
                                (sortChange)="sortChange()"
                                (filterChange)="filterChange()">
                      <!--Columns-->
                      <!--Grid Toolbar-->
                      <ng-template kendoGridToolbarTemplate>
                        <div class="row" style="float :right; margin-right: 40px;">
                         <span>{{'SELECT_ALL' | translate}}
                           <input type="checkbox" name="options"
                                  style="text-align: center !important; padding: 0 !important;"
                                  (change)="selectAllGammes($event)"></span>
                        </div>
                      </ng-template>
                      <!--End Grid toolbar-->
                      <kendo-grid-column 
                [field]="gridSettings.columnsConfig[0].field" [title]="gridSettings.columnsConfig[0].title | translate "
                [filter]="gridSettings.columnsConfig[0].filter" [filterable]="gridSettings.columnsConfig[0].filterable"
                [format]="gridSettings.columnsConfig[0].format">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                  {{dataItem.article}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column 
              [field]="gridSettings.columnsConfig[1].field" [title]="gridSettings.columnsConfig[1].title | translate "
              [filter]="gridSettings.columnsConfig[1].filter" [filterable]="gridSettings.columnsConfig[1].filterable"
              [format]="gridSettings.columnsConfig[1].format">
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                {{dataItem.reference}}
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column  
            [field]="gridSettings.columnsConfig[2].field" [title]="gridSettings.columnsConfig[2].title | translate "
            [filter]="gridSettings.columnsConfig[2].filter" [filterable]="gridSettings.columnsConfig[2].filterable"
            [format]="gridSettings.columnsConfig[2].format">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
              {{dataItem.unitOfMeasure}}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column 
          [field]="gridSettings.columnsConfig[3].field" [title]="gridSettings.columnsConfig[3].title | translate"
          [filter]="gridSettings.columnsConfig[3].filter" [filterable]="gridSettings.columnsConfig[3].filterable"
          [format]="gridSettings.columnsConfig[3].format">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <kendo-numerictextbox style="padding-right:0rem !important" class="text-right" [readonly]="true"
                                  [format]="formatNumberOptions" value="{{dataItem.chargeRate}}">
            </kendo-numerictextbox>
          </ng-template>
        </kendo-grid-column>
        
        
        <kendo-grid-column 
              [field]="gridSettings.columnsConfig[4].field" [title]="gridSettings.columnsConfig[4].title | translate"
              [filter]="gridSettings.columnsConfig[4].filter" [filterable]="gridSettings.columnsConfig[4].filterable">
            
              <ng-template kendoGridCellTemplate let-dataItem>
                <kendo-numerictextbox style="padding-right:0rem !important" class="text-right" [readonly]="true"
                  [format]="formatNumberOptions" value="{{dataItem.costPrice}}">
                </kendo-numerictextbox>
              </ng-template>
            </kendo-grid-column>
        <kendo-grid-column
              [field]="gridSettings.columnsConfig[5].field" [title]="gridSettings.columnsConfig[5].title | translate"
              [filter]="gridSettings.columnsConfig[5].filter" [filterable]="gridSettings.columnsConfig[5].filterable">
            
              <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                <span class="pl-5">{{dataItem.costPriceCalculatedDate |date: gridSettings.columnsConfig[5].format}}</span>
              </ng-template>
            </kendo-grid-column>

                      <!--End Columns-->
                      <kendo-grid-command-column title="{{'ACTION' | translate}}">
                        <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                          <button type="button" class="btn btn-sm btn-back-to-list mr-2" content-type="template"
                                  (click)="goToNeedsPerOperation(dataItem)">
                            <i class="fa fa-eye zoom"></i>
                          </button>
                          <input type="checkbox" name="options"
                                 style=" text-align: center !important; padding: 0 !important;"
                                 value="{{dataItem}}"
                                 [checked]="checkedGammes"
                                 (change)="addOrRemoveSelectedGammeForCalculateCostPrice($event ,dataItem)">
                        </ng-template>
                      </kendo-grid-command-column>
                    </kendo-grid>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card body -->
      </div>
    </div>
  </div>
</div>

