

.favourite {
     border-radius: 100px;
    width: 20px;
    overflow: hidden;
    height: 20px;
    cursor: pointer;
    padding: 18px;
    -webkit-box-shadow: 0px 0px 0px 2px #4b9aad;
    box-shadow: 0px 0px 0px 2px #4b9aad;
    color: #4b9aad;
}


.favourite_heart {
    margin-top: -10px;
    margin-left: -5px;
}