<div class="animated fadeIn" style="width:100% !important">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
      <form class="form-horizontal" [formGroup]="reminderFormGroup">

        <div class="card">
          <div class="card-body">

            <div class="row form-group">
              <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">
                <label>{{'REMINDER.TOPIC'|translate}}</label>
              </div>
              <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                <input class="form-control" type="text" name="title">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">
                <label > {{'REMINDER.DATE_REMINDER'|translate}}</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                      <kendo-datepicker
                        [format]="formatDate"
                        class="form-control">
                        <kendo-datepicker-messages today="{{'TODAY' | translate}}"
                                                   toggle="Cambiar calendario"></kendo-datepicker-messages>
                      </kendo-datepicker>
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                      <!--<app-control-messages [control]="addFormGroup.controls.reminderDate"-->
                      <!--class="error-msg messages text-danger">-->
                      <!--</app-control-messages>-->
                    </div>


              </div>
              <div class="col-lg-3 col-md-6 col-sm-12">
                  <kendo-timepicker>

                  </kendo-timepicker>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">
              </div>
              <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12">
                <label class="k-form-field right">
                  <input
                    type="checkbox"
                    id="enableCheck"
                    class="k-checkbox"
                  />
                  <label class="k-checkbox-label" for="enableCheck">{{'REMINDER.ACTIVE_REMINDER' | translate}}</label>
                </label>

              </div>
            </div>
            <div class="row form-group">
              <div class="col-lg-3 col-sm-12 col-md-12 col-xs-12">
                <label class="col-lg-12 col-md-12 col-sm-12"> {{'DESCRIPTION'|translate}}</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 input-group">
                        <textarea class="form-control" type="text">
                        </textarea>
                  </div>
                  <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <!--<app-control-messages [control]="addFormGroup.controls.description"-->
                    <!--class="error-msg messages text-danger">-->
                    <!--</app-control-messages>-->
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

