input[type="file"] {
  display: none;
}
.picture-details > .p-grid {
  // border: 1px solid #b3c2ca;
  border-radius: 3px;
  margin: 0.3em;
  text-align: center;
  padding: 2em 0 2.25em 0;
}
.picture-data .picture-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
}
.picture-data .picture-subtitle {
  margin: 0.25em 0 2em 0;
}
 .picture-data button {
  margin-left: 0.5em;
}
 .picture-data button:first-child {
  margin-left: 0;
}
  .picture-details
  > .p-grid {
  margin-left: 0.6em;
}

  .picture-details
  > .p-grid {
  margin-right: 0.6em;
}

.modal {
  display: block !important;
}

.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  height: 250px;
  overflow-y: auto;
}

.codeTiers {
  background: transparent !important;
  border: none !important;
  font-size: 1.3125rem !important;
  color: #4c9aae !important;
}

.img-border {
  position: relative;
  display: inline-block;
  border: 3px dotted #dfe9e2;
  height: 105px;
  margin: 32px 0 0 0;
  overflow: hidden;
}

i.fa.fa-camera.fa-lg {
  bottom: 5px;
  left: 5px;
  position: absolute;
  color: #cecece;
}

.imgSize {
  height: 100%;
}
textarea{
  overflow: scroll;
  overflow-x: hidden;
  resize: none;

}
hr{
  color: #d9d9d9;
}  
.card-header{
  background-color: #f0f3f5;
  }
