<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
      <rule name="AngularjavaCrmITG" stopProcessing="true">
          <match url="itg/crm/(.*)" />
          <action type="Rewrite" url="http://192.168.1.203:8835/api/crm/{R:1}" logRewrittenUrl="true" />
          <conditions>
          </conditions>
        </rule>
  <rule name="AngularjavaCrmRC" stopProcessing="true">
  <match url="rc/crm/(.*)" />
  <action type="Rewrite" url="http://192.168.1.203:8835/api/crm/{R:1}" logRewrittenUrl="true" />
  <conditions>
  </conditions>
  </rule>
  <rule name="AngularjavaCrmPreProd" stopProcessing="true">
  <match url="api/crm/(.*)" />
  <action type="Rewrite" url="http://192.168.1.203:8835/api/crm/{R:1}" logRewrittenUrl="true" />
  <conditions>
  </conditions>
  </rule>
        <rule name="AngularjavaCrmWsITG" stopProcessing="true">
  <match url="itg/crmWs/(.*)" />
  <action type="Rewrite" url="http://192.168.1.203:8835/{R:1}" logRewrittenUrl="true" />
  <conditions>
  </conditions>
  </rule>
  <rule name="AngularjavaCrmWsITG" stopProcessing="true">
  <match url="api/crmWs/(.*)" />
  <action type="Rewrite" url="http://192.168.1.203:8835/{R:1}" logRewrittenUrl="true" />
  <conditions>
  </conditions>
  </rule>
        <rule name="AngularjavaMailingITG" stopProcessing="true">
            <match url="itg/mailing/(.*)" />
            <action type="Rewrite" url="http://192.168.1.203:8895/api/mailing/{R:1}" logRewrittenUrl="true" />
            <conditions>
            </conditions>
        </rule>

      <rule name="AngularjavaComptaITG" stopProcessing="true">
          <match url="itg/accounting/(.*)" />
          <action type="Rewrite" url="http://192.168.1.203:8833/api/accounting/{R:1}" logRewrittenUrl="true" />
          <conditions>
          </conditions>
        </rule>
        <rule name="AngularjavaComptaRC" stopProcessing="true">
          <match url="rc/accounting/(.*)" />
          <action type="Rewrite" url="http://192.168.1.133:8837/api/accounting/{R:1}" logRewrittenUrl="true" />
          <conditions>
          </conditions>
        </rule>
        <rule name="AngularjavaComptaPreProd" stopProcessing="true">
          <match url="api/accounting/(.*)" />
          <action type="Rewrite" url="http://192.168.1.230:8080/api/accounting/{R:1}" logRewrittenUrl="true" />
          <conditions>
          </conditions>
        </rule>
        <rule name="AngularjavaProductionITG" stopProcessing="true">
          <match url="itg/manufacturing/(.*)" />
           <action type="Rewrite" url="http://192.168.1.133:8834/api/manufacturing/{R:1}" logRewrittenUrl="true" />
           <conditions>
           </conditions>
         </rule>
         <rule name="AngularjavaProductionRC" stopProcessing="true">
          <match url="rc/manufacturing/(.*)" />
           <action type="Rewrite" url="http://192.168.1.133:8834/api/manufacturing/{R:1}" logRewrittenUrl="true" />
           <conditions>
           </conditions>
         </rule>
        <rule name="AngularITG" stopProcessing="true">
          <match url="itg/(.*)" />
          <action type="Rewrite" url="http://192.168.1.153:5400/api/{R:1}" logRewrittenUrl="true" />
          <conditions>
          </conditions>
        </rule>
        <rule name="AngularRC" stopProcessing="true">
          <match url="rc/(.*)" />
          <action type="Rewrite" url="http://192.168.1.230:2555/api/{R:1}" logRewrittenUrl="true" />
          <conditions>
          </conditions>
        </rule>
        <rule name="AngularProd" stopProcessing="true">
          <match url="api/(.*)" />
          <action type="Rewrite" url="http://192.168.1.230:4000/api/{R:1}" logRewrittenUrl="true" />
          <conditions>
          </conditions>
        </rule>
        <rule name="AngularIndex" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

</configuration>
