<div class="card">
  <div class="card-header fixheaderdetail" >
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-9">
        <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i>
          {{userData ? userData.FullName : ''}}</h3>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <div>
      <div *ngIf="showOldPwd">
        <label class="col-lg-12 col-md-12 col-sm-12"> {{'OLD_PASSWORD'|translate}}<span
          class="required">*</span></label>
        <br class="col-lg-12 col-sm-12 col-md-12 col-xs-12 input-group">
        <mat-form-field appearance="fill">
          <input matInput [type]="hide ? 'password' : 'text'" #oldpwd [formControl]="oldPasswordFormControl" [errorStateMatcher]="matcher">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide" >
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="oldPasswordFormControl.hasError('required')">
            {{'FORM_VALIDATION_REQUIRED'|translate}}
          </mat-error>
          <mat-error *ngIf="oldPasswordFormControl.hasError('pattern')">
            {{'FORM_VALIDATION_FORMAT'|translate}}
        </mat-error>
        </mat-form-field>
        <br/>
        <mat-error *ngIf="!pwdValid">
          {{'PASSWORD_INVALID'|translate}}
        </mat-error>
        <mat-error *ngIf="oldNewPwdMatches">
          {{'OLD_NEW_PASSWORD_MATCH'|translate}}
        </mat-error>
        <br/>
      </div>
      <div *ngIf="!showOldPwd ||showNewPwd">
        <label class="col-lg-12 col-md-12 col-sm-12"> {{'PASSWORD'|translate}}<span
          class="required">*</span></label>
        <br class="col-lg-12 col-sm-12 col-md-12 col-xs-12 input-group">
        <mat-form-field appearance="fill">
          <input matInput [type]="hidePwd ? 'password' : 'text'" [formControl]="newPasswordFormControl" [errorStateMatcher]="matcher" #pwd
                 title="{{passwordTooltipTitle|translate}}">
          <button mat-icon-button matSuffix (click)="hidePwd = !hidePwd" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePwd">
            <mat-icon>{{hidePwd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="newPasswordFormControl.hasError('required')">
            {{'FORM_VALIDATION_REQUIRED'|translate}}
          </mat-error>
          <mat-error *ngIf="newPasswordFormControl.hasError('pattern')">
            {{'FORM_VALIDATION_FORMAT'|translate}}
        </mat-error>
        </mat-form-field>
        <br/>
        <br/>
        <label class="col-lg-12 col-md-12 col-sm-12"> {{'CONFIRM_PASSWORD'|translate}}<span
          class="required">*</span></label>
        <br class="col-lg-12 col-sm-12 col-md-12 col-xs-12 input-group">
        <mat-form-field appearance="fill">
          <input matInput [formControl]="newPasswordConfirmationFormControl" [errorStateMatcher]="matcher" [type]="hideConfirmPwd ? 'password' :
          'text'" #confpwd title="{{passwordTooltipTitle|translate}}">
          <button mat-icon-button matSuffix (click)="hideConfirmPwd = !hideConfirmPwd"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPwd">
            <mat-icon>{{hideConfirmPwd ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="newPasswordConfirmationFormControl.hasError('required')">
            {{'FORM_VALIDATION_REQUIRED'|translate}}
          </mat-error> <mat-error *ngIf="newPasswordConfirmationFormControl.hasError('pattern')">
          {{'FORM_VALIDATION_FORMAT'|translate}}
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="!pwdMatches">
          {{'CONFIRM_PASSWORD_DONT_MATCH'|translate}}
        </mat-error>

      </div>
    </div>
  </div>
  <div class="card-footer mt-3" style="left: 0;width: 100%; text-align: center">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <button class="btn btn-sm btn-primary" (click)="returnToParent()">
          <i class="fa fa-chevron-circle-left"></i> {{'CLOSE'|translate}}
        </button>
        <button class="btn btn-sm btn-danger" (click)="verifOldPassword()" type="submit">
          <i class="fa fa-floppy-o"></i> {{'SAVE'|translate}}
        </button>
      </div>
    </div>
  </div>

</div>
