<div [formGroup]="itemForm">
  <kendo-combobox class="form-control" [data]="unitSalesFiltredDataSource" [allowCustom]="allowCustom"
    [textField]="'Label'" [valueField]="'Id'" [valuePrimitive]="true" formControlName="IdUnitSales" [filterable]="true"
    [readonly]="readonly" (filterChange)="handleFilter($event)">
    <!--footer template-->
    <ng-template kendoComboBoxFooterTemplate>
      <app-drop-down-footer [addNew]="addNew.bind(this)" [hideBtn]="hideBtn"></app-drop-down-footer>
    </ng-template>
    <!--end footer template-->
    <!--No data template-->
    <ng-template kendoDropDownListNoDataTemplate>
      <h5><br /> {{'NO_DATA_FOUND'|translate}}</h5>
    </ng-template>
    <kendo-combobox-messages clearTitle="{{'CLEAR'|translate}}"> </kendo-combobox-messages>
    <!--end No data template-->
  </kendo-combobox>
</div>