<div class="card" *ngIf="gridSettings" [ngStyle]="updateStyle()">
  <div *ngIf="!related" class="card-header" style="background-color: white; border:none">
    <div class="col-sm-5 mt-1">
      <h3 class="card-title mb-0">{{'OPPORTUNITY_LIST'|translate}}</h3>
    </div>
  </div>
  <div class="card-body" style="margin-block-end: 1%!important;">
    <div  style="text-align: center;" *ngIf="!related && !isFromArchive">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-align-box">
              <label style="color: white"></label>
            </div>
            <div class="btn-group col-lg-11 col-md-8 col-sm-12">

              <button class="btn btn-primary dropdown-toggle btnColor" type="button" data-toggle="dropdown"
                      (click)="showStaffingCategories = false" aria-haspopup="true" aria-expanded="true">
                {{filterG|translate}}
              </button>

              <div class="dropdown-menu drop-resp-right" style="border: 1px solid rgb(200, 206, 211) !important;">
                <button [ngClass]="{
                    'dropdown-item':choosenFilterNumber!=0,
                    'dropdown-item-active':choosenFilterNumber==0
                    }"
                        (click)="global_Filter('all')">
                  {{'ALL_OPPORTUNITY'|translate}}
                </button>
                <button [ngClass]="{
                    'dropdown-item':choosenFilterNumber!=1,
                    'dropdown-item-active':choosenFilterNumber==1
                    }"
                        (click)="global_Filter('org')">
                  {{'ORGANISATIONS'|translate}}
                </button>
                <button [ngClass]="{
                    'dropdown-item':choosenFilterNumber!=2,
                    'dropdown-item-active':choosenFilterNumber==2
                    }"
                        (click)="global_Filter('obj')">
                  {{'OBJECTIVES'|translate}}
                </button>

              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-2 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-align-box" style="text-align: left;margin-left: 1%;">
              <label *ngIf="isOrganisationFilter">{{'ORGANIZATION_TYPE' | translate}}</label>
              <label *ngIf="isCategoryFilter">{{'OBJECTIVE_TYPE' | translate}}</label>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <kendo-dropdownlist *ngIf="isOrganisationFilter" [data]="opportunityTypes"
                                  valueField="enumValue" textField="enumText" (selectionChange)="filterByOrganizationType($event)"
                                  style="float: left;min-width: 150% !important;" [(ngModel)]="selectOrganizationType" style="float: left;width: 100%;">
              </kendo-dropdownlist>

              <kendo-dropdownlist *ngIf="isCategoryFilter" [data]="categoriesList"
                                  (valueChange)="filterByObjectif($event)"
                                  [(ngModel)]="selectCategoryType"
                                  style="float: left;width: 100%;">
                <ng-template kendoDropDownListValueTemplate let-dataItem="dataItem">
                  <span *ngIf="!dataItem"> {{BY_TYPE_AFFAIRE| translate}}</span>
                  <span *ngIf="dataItem"> {{dataItem| translate}}</span>
                </ng-template>
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span> {{dataItem | translate}}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-align-box" style="text-align: left;margin-left: 1%;">
              <label *ngIf=" isCategoryFilter && categoryList">{{'category' | translate}}</label>
              <label *ngIf=" isOrganisationFilter && organisationList">{{'BY_ORGANISATION' | translate}}</label>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <kendo-dropdownlist style="margin-left: 1%;width: 100%;float: left;"
                                  *ngIf=" isCategoryFilter && categoryList"
                                  [data]="categoryList"
                                  valueField="id" textField="title"
                                  (selectionChange)="filterByCategory($event)"
                                  [(ngModel)]="categorySelected">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                  <span class="template">{{BY_GATEGORY | translate}}</span>
                </ng-template>
              </kendo-dropdownlist>
              <kendo-dropdownlist *ngIf="isOrganisationFilter && categoryList"
                                  [data]="organisationList" [(value)]="selectedValue"
                                  valueField="id" textField="name" (selectionChange)="filterByOrganization($event)"
                                  style="margin-left: 1%;width: 100%;float: left;">
              </kendo-dropdownlist>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-align-box" style="text-align: left;margin-left: 1%;">
              <label *ngIf="!kanban" style="color: white">a</label>
              <label
                *ngIf="concerned&& isCategoryFilter && categoryList && selectedCategoryType === STAFFING_TYPE">{{'CONCERNED_USER_TITLE' |
                translate}}</label>
              <label *ngIf="getConditionArticle()">{{'CONCERNED_USER_TITLE' | translate}}</label>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <kendo-dropdownlist style="margin-left: 1%; width: 30%;float: left"
                                  *ngIf="getConditionArticle()" [data]="listP"
                                  textField="Description"
                                  valueField="Id"
                                  (valueChange)="filterByArticle($event)"
                                  [(ngModel)]="selectedProduct">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                  <span class="template">{{BY_ARTICLE | translate}}</span>
                </ng-template>
              </kendo-dropdownlist>
              <kendo-dropdownlist style="margin-left: 1%; float: left;width: 30%;"
                                  *ngIf="concerned && isCategoryFilter && categoryList && selectedCategoryType === STAFFING_TYPE"
                                  [data]="employee" valueField="Id" textField="FullName"
                                  (valueChange)="filterByEmployee($event)"
                                  [(ngModel)]="selectedEmployee">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                  <span class="template">{{BY_EMPLOYEE | translate}}</span>
                </ng-template>

              </kendo-dropdownlist>

              <div *ngIf="!kanban && !isArchivingMode" style="float: left; margin-left: 2%; width: 50%">
                <label style="margin-right: 1%">List</label>
                <kendo-switch style=" background-color: #5bb3bb " [onLabel]="' '" [offLabel]="' '"
                              [checked]="kanbanIsCheck"
                              (valueChange)="getSwitchValue($event)"></kendo-switch>
                <label style="margin-left: 1%">Kanban</label>
              </div>
            </div>
          </div>
        </div>

      </div>


      <input *ngIf="isSearch" class="form-control" type="text" placeholder="Search" aria-label="Search">


    </div>


    <div *ngIf="!showKanban" >

      <kendo-grid [data]="gridSettings.gridData"
                  [pageSize]="gridSettings.state.take"
                  [skip]="gridSettings.state.skip"
                  [sortable]="{allowUnsort: true && !related, mode: 'single'}"
                  [pageable]="pagerSettings"
                  [reorderable]="true"
                  [columnMenu]="false"
                  (pageChange)="onPageChange($event)"
                  (sortChange)="sortChange($event)"
                  [sort]="gridSettings.state.sort"
                  (dataStateChange)="dataStateChange($event)"
                  (remove)="removeHandler($event)"
                  [selectedKeys]="opportunitiesSelected"
                  [kendoGridSelectBy]="selectKey">
        <ng-template *ngIf="!related" kendoGridToolbarTemplate>
          <div class="row" style="float :right; margin-right: 0px;">
            <!-- nav categories -->
            <div style="position: relative;float: right; width: 150px;">
              <div style="position: absolute;float: right;">
                <nav id="navProductSaleCategories" *ngIf="showProductSaleCategories"
                     class="responsiveToggle" style=" margin-top: 25%;">
                  <div id="divProductSaleCategories" *ngFor="let cat of productSaleCategories">
                    <button style="margin-bottom: 5%; margin-left: 10%;" style="background: transparent"
                            (click)="quickFilterByCategory(cat,false, true)">
                      <div *ngIf="cat" style="background: transparent">
                        <label style="text-align: center">{{cat.title}}</label>
                      </div>
                    </button>
                  </div>
                </nav>
                <nav id="navStaffCategories" *ngIf="showStaffingCategories" class="responsiveToggle"
                     style="margin-top: 2%;">
                  <div id="divStaffCategories" *ngFor="let cat of staffCategories" style="text-align: center;">
                    <button style="margin-bottom: 5%; margin-left: 10%;" style="background: transparent"
                            (click)="quickFilterByCategory(cat,false, true)">
                      <div *ngIf="cat" style="background: transparent">
                        <label style="text-align: center">{{cat.title}}</label>
                      </div>
                    </button>
                  </div>
                </nav>
              </div>
            </div>
            <div style="position: relative;float: right;">
              <nav style="position: relative !important;" class="nav" #toggle
                   [ngClass]="{show: showCategoriesTypesNav, hide: !showCategoriesTypesNav}"
                   [ngStyle]="{'margin-top':  isThereStaffingTypeOpportunities ? '0px' : '0px' + ';'}"
                   *ngIf="isThereStaffingTypeOpportunities() || isThereProductSaleTypeOpportunities()">
                <button [ngStyle]="{'margin-bottom':  !isThereProductSaleTypeOpportunities ? '10%' : '0%' + ';'}"
                        style="margin-top: 10%;  margin-left: 7%"
                        *ngIf="isThereStaffingTypeOpportunities()">
                  <div class="row">
                    <div>
                      <div class="chevron"><i class="fa fa-chevron-left"></i></div>
                    </div>
                    <div (mouseenter)="getStaffingCategories()" style="margin-left: 5px">
                      <label>{{STAFFING_TYPE | translate}}</label>
                    </div>
                  </div>
                </button>
                <br *ngIf="isThereProductSaleTypeOpportunities()"/>
                <button style="margin-left: 7%;" *ngIf="isThereProductSaleTypeOpportunities()">
                  <div class="row">
                    <div>
                      <div class="chevron"><i class="fa fa-chevron-left"></i></div>
                    </div>
                    <div style="margin-left: 5px"><label
                      (mouseenter)="getProductSaleCategories()">{{PRODUCT_SALE_TYPE | translate}}</label></div>
                  </div>
                </button>
              </nav>
            </div>
            <div *ngIf="!isArchivingMode" style="position: relative;z-index: 10;margin-right: 48px;" >
              <input type="checkbox" id="toggle" (click)="hideCategoriesNav()"/>
              <label class="button" for="toggle"><i class="fa fa-th" aria-hidden="true" style="
              color: #4b9aad; font-size: 25px; margin-left: 7px; margin-top: 7px;"></i></label>
            </div>
            <app-btn-grid [advencedAdd]='!isArchivingMode && !fromRelatedArchiving' [add]='false' [export]='false' *ngIf="authService.hasAuthorities([CRMPermissions.ADD_TIERS])"
                          [addLink]='"addOpportunity"'
                          style="margin-top: -1%; position: relative;   display: inline-flex;"></app-btn-grid>
          </div>


        </ng-template>
        <kendo-grid-column [field]="gridSettings.columnsConfig[0].field"
                           [title]="gridSettings.columnsConfig[0].title | translate"
                           [width]="gridSettings.columnsConfig[0]._width"
                           [filter]="gridSettings.columnsConfig[0].filter"
                           [filterable]="gridSettings.columnsConfig[0].filterable"
                           [format]="gridSettings.columnsConfig[0].format">
        </kendo-grid-column>
        <kendo-grid-column *ngIf="showOrganisationColumn&&!related"
                           [field]="gridSettings.columnsConfig[1].field "
                           [title]="gridSettings.columnsConfig[1].title | translate"
                           [width]="gridSettings.columnsConfig[1]._width"
                           [filter]="gridSettings.columnsConfig[1].filter"
                           [filterable]="gridSettings.columnsConfig[1].filterable"
                           [format]="gridSettings.columnsConfig[1]">

        </kendo-grid-column>
        <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
                           [title]="gridSettings.columnsConfig[2].title | translate"
                           [width]="gridSettings.columnsConfig[2]._width"
                           [filter]="gridSettings.columnsConfig[2].filter"
                           [filterable]="gridSettings.columnsConfig[2].filterable"
                           [format]="gridSettings.columnsConfig[2]">
        </kendo-grid-column>
        <kendo-grid-column [field]="gridSettings.columnsConfig[3].field"
                           [title]="gridSettings.columnsConfig[3].title | translate"
                           [width]="gridSettings.columnsConfig[3]._width"
                           [filter]="gridSettings.columnsConfig[3].filter"
                           [filterable]="gridSettings.columnsConfig[3].filterable"
                           [format]="gridSettings.columnsConfig[3]">
        </kendo-grid-column>
        <kendo-grid-column *ngIf="!isCategoryFilter&&!related" [field]="gridSettings.columnsConfig[4].field"
                           [title]="gridSettings.columnsConfig[4].title | translate"
                           [width]="gridSettings.columnsConfig[4]._width"
                           [filter]="gridSettings.columnsConfig[4].filter"
                           [filterable]="gridSettings.columnsConfig[4].filterable"
                           [format]="gridSettings.columnsConfig[4]">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <span >{{dataItem.category.type | translate}}</span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column
          [field]="gridSettings.columnsConfig[6].field"
          [title]="gridSettings.columnsConfig[6].title | translate"
          [width]="gridSettings.columnsConfig[6]._width"
          [filter]="gridSettings.columnsConfig[6].filter"
          [filterable]="gridSettings.columnsConfig[6].filterable"
          [format]="gridSettings.columnsConfig[6]">

        </kendo-grid-column>

        <kendo-grid-column *ngIf="!related"
                           [field]="gridSettings.columnsConfig[5].field"
                           [title]="gridSettings.columnsConfig[5].title | translate"
                           [width]="gridSettings.columnsConfig[5]._width"
                           [filter]="gridSettings.columnsConfig[5].filter"
                           [filterable]="gridSettings.columnsConfig[5].filterable"
                           [format]="gridSettings.columnsConfig[5]">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" attr.aria-valuenow="{{pageSize}}"
                   aria-valuemin="0"
                   (click)="setItemValue(dataItem)"
                   attr.aria-valuemax="{{(dataItem.positionPipe.statusNumber)}}}"
                   [style.width.%]="dataItem.positionPipe.percent"> {{(dataItem.positionPipe.currentValue)}}
              </div>
            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          [field]="gridSettings.columnsConfig[7].field"
          [title]="gridSettings.columnsConfig[7].title | translate"
          [width]="gridSettings.columnsConfig[7]._width"
          [filter]="gridSettings.columnsConfig[7].filter"
          [filterable]="gridSettings.columnsConfig[7].filterable"
          [format]="gridSettings.columnsConfig[7]">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.opportunityType == 'PROSPECT'"><span
              class="badge badge-warning">{{'PROSPECTS.PROSPECT'|translate}}</span></div>
            <div *ngIf="dataItem.opportunityType == 'CLIENT'"><span
              class="badge badge-success">{{'CLIENT'|translate}}</span></div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column [title]="'ACTION' | translate" [width]="COMMAND_COLUMN_WIDTH">

          <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">

            <!-- edit command directive-->
            <i class="las la-pen cursor-pointer edit-pencil la-lg" tooltip="{{'SHOW' | translate}}" *ngIf="authService.hasAuthorities([CRMPermissions.OWN_OPPORTUNITY, CRMPermissions.EDIT_OPPORTUNITY])&& !isArchivingMode"
               (click)="showDetails(dataItem)"></i>
            <!-- remove command directive -->
            <i *ngIf="!fromRelatedArchiving && !isFromArchive && !related  && authService.hasAuthorities([CRMPermissions.DELETE_OPPORTUNITY])&& !isArchivingMode"
              class="fa fa-trash-o la-lg mx-3 cursor-pointer text-danger" aria-hidden="true"
              (click)="removeHandler(dataItem)" tooltip="{{'DELETE' | translate}}"></i>
            <!--archive -->
            <button class="k-button btnKendoGrid archiveBtn"
                    *ngIf="!isArchivingMode &&(dataItem.opportunityType == 'PROSPECT') && (!fromRelatedArchiving) && !isFromArchive && authService.hasAuthorities([CRMPermissions.ARCHIVE_OPPORTUNITY])"
                    (click)="archiveAction(dataItem.id)" tooltip="{{'ARCHIVE' | translate}}">
              <i class="fa fa-archive"></i>
            </button>
            <!--restore-->
            <button  *ngIf="isArchivingMode && !fromRelatedArchiving && !isFromArchive && authService.hasAuthorities([CRMPermissions.RESTORE_ARCHIVED_OPPORTUNITY]) "
                    class="btnKendoGrid"
                     (click)="restoreAction(dataItem.id)" style="background: none;">
              <i class="fa fa-refresh"></i>
            </button>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </div>
   <app-kanban-view *ngIf="showKanban && !related"
                     [isArchivingMode]="isArchivingMode"
                     [opportunityFilter]="oppFilter" [source]="source"
                     (closeKanban)="closeKanban($event)"></app-kanban-view>

  </div>
</div>
<app-side-nav-opportunity-details *ngIf="showSidNav && !showKanban  && authService.hasAuthorities([CRMPermissions.OWN_OPPORTUNITY])" (closeSidNav)="hideSidNav()"
                                  [isArchivingMode]="isArchivingMode"
                                  (componentUpdated)="detailUpdatedSucess($event)"
                                  (sideNavUpdateMode)="setSideNavUpdateMode($event)"
                                  [data]="valueSelectedToSidNav" [source]="source">
</app-side-nav-opportunity-details>
