<form class="form-horizontal" [formGroup]="form">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <div class="col-lg-12 col-sm-12 col-md-12 margin">
      <label class="col-lg-12 col-md-12 col-sm-12 ">{{'Véhicule' | translate}}<span class="required">*</span></label>
      <app-loan-vehicle-dropdown 
              [group]="form"
              [isAvailable]='true'
              [idVehicle]="idVehicle">
      </app-loan-vehicle-dropdown>
      <app-control-messages [control]="form.controls.IdVehicle" class="error-msg messages text-left text-danger">
      </app-control-messages>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 margin" >
      <label class="col-lg-12 col-md-12 col-sm-12">Date du prêt <span class="required">*</span></label>
      <kendo-datepicker [format]="formatDate" formControlName="LoanDate" class="form-control">
        <kendo-datepicker-messages today="{{ 'TODAY' | translate}}" toggle="Cambiar calendario">
        </kendo-datepicker-messages>
      </kendo-datepicker>
      <app-control-messages [control]="form.controls.LoanDate" class="error-msg messages text-left text-danger">
      </app-control-messages>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 margin">
      <label class="col-lg-12 col-md-12 col-sm-12">Date Prévue de retour <span class="required">*</span></label>
      <kendo-datepicker [format]="formatDate" formControlName="ExpectedReturnDate" class="form-control">
        <kendo-datepicker-messages today="{{ 'TODAY' | translate}}" toggle="Cambiar calendario">
        </kendo-datepicker-messages>
      </kendo-datepicker>
      <app-control-messages [control]="form.controls.ExpectedReturnDate" class="error-msg messages text-left text-danger">
      </app-control-messages>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12" style="margin-top: 15px" align="right">
      <button style="margin-left: 20px; margin-right: 10px;" class="btn btn-sm btn-danger" (click)="save()"
              type="button">
        <i class="fa fa-floppy-o"></i> {{'SAVE'|translate}}
      </button>
    </div>
  </div>
</form>

