<div class="card-body">
  <form [formGroup]="emailFormGroup" class="form-horizontal">
    <div *ngIf="options.data.length > 0" formArrayName="emails">
      <div *ngFor="let item of emails.controls; let i=index">
        <div *ngIf="item.value.Id != 0">
          <div [formGroupName]="i">
            <p-accordion>
              <p-accordionTab [selected]="false"
                              header="{{'MAIL_DETAIL'|translate}}  {{item.value.CreationDate | date: formatDate }}" style="color: #4c9aae;">
                <!-- Begin principal menu  part-->
                <div class="form-group row">
                  <div class="col-lg-12 col-sm-12 col-md-12">
                    <br/>
                    <div class="col-lg-12 col-md-12 col-sm-12 row">
                      <div class="col-lg-1 col-md-2 col-sm-2">
                        <label>{{'SENDER'| translate }}</label>
                      </div>
                      <div class="col-lg-11 col-md-10 col-sm-10">
                        <input class="form-control" formControlName="From" placeholder="{{'SENDER'| translate }}"
                               readonly type="email">
                        <app-control-messages [control]="item.controls.From"></app-control-messages>
                      </div>
                    </div>
                    <br/>
                    <div class="col-lg-12 col-md-12 col-sm-12 row">
                      <div class="col-lg-1 col-md-2 col-sm-2">
                        <label>{{'RECEPIENT'| translate }}</label>
                      </div>
                      <div class="col-lg-11 col-md-10 col-sm-10">
                        <input class="form-control" formControlName="Receivers" placeholder="{{'RECEPIENT'| translate }}"
                               type="email">
                        <app-control-messages [control]="item.controls.Receivers"
                                              class="error-msg messages text-left text-danger"></app-control-messages>
                      </div>
                    </div>
                    <br/>
                    <div class="col-lg-12 col-md-12 col-sm-12 row">
                      <div class="col-lg-1 col-md-2 col-sm-2">
                        <label>{{'SUBJECT'| translate }}</label>
                      </div>
                      <div class="col-lg-11 col-md-10 col-sm-10">
                        <input class="form-control" formControlName="Subject" placeholder="{{'SUBJECT' | translate}}"
                               type="text">
                        <app-control-messages [control]="item.controls.Subject"
                                              class="error-msg messages text-left text-danger"></app-control-messages>
                      </div>
                    </div>
                    <br/>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <p-editor [readonly]="item.controls.Body.disabled"
                                [style]="{'height':'240px', 'overflow-y': 'auto', 'overflow-x': 'auto'}"
                                formControlName="Body">
                      </p-editor>
                      <app-control-messages [control]="item.controls.Body"
                                            class="error-msg messages text-left text-danger"></app-control-messages>
                    </div>
                    <br/>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
        <div *ngIf="item.value.Id == 0" style="text-align: center">
          <p><b>{{'NO_EMAIL_SENT'| translate}}</b></p>
        </div>
      </div>
    </div>
    <div *ngIf="options.data.length == 0" style="text-align: center">
      <p><b>{{'NO_EMAIL_SENT'| translate}}</b></p>
    </div>
  </form>

</div>
