.totaux {
  font-weight: bolder;
  fontsize: 17;
}
.padding-lg {
  padding: 0.5em;
}

:host ::ng-deep td {
  padding: 0.5rem 0.25rem;
}

.card-body {
}

.k-numeric-wrap .k-input {
  padding: 0em;
}

input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "\a0";
  display: inline-block;
  margin: 0.2em 0.5em;
  width: 0.8em;
  height: 0.8em;
  line-height: 0.75em;
  transition: all 0.5s;
  border: 1px solid silver;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  content: "\a0";
  background: #5bb3bb;
  border: 1px solid white;
  box-shadow: inset 0 0 0 1px white, 0 0 0 1px #5bb3bb;
}

:host ::ng-deep .k-grid-filter {
  padding: 0 !important;
  width: 1px !important;
}
.k-numerictextbox {
  width: auto !important;
  transform: translateX(2rem);
}
.hideBlock {
  display: none;
}

.transparent {
  background-color: transparent;
}
