<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <div class="card-header">
          <div class="col-sm-5 mt-1">
            <h3 class="card-title mb-0">{{'MACHINE_LIST'|translate}}</h3>
          </div>
        </div>
        <!--End card header-->

        <!--Begin card body-->
        <div class="card-body">
          <div class="row d-flex justify-content-between mt-3">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center">
              <div class="col-12">
                <div class="form-group row">
                  <div class="col-10">
                    <input type="text" class="form-control" placeholder="{{'SEARCH'|translate}}"
                      aria-describedby="addon-wrapping" [(ngModel)]='value' (afterValueChanged)='onSearch()'>
                  </div>
                  <div class="col-2 p-1">
                    <i class="fa fa-search fa-lg" aria-hidden="true" (click)='onSearch()'></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card  mt-2">
            <div class="card-content">
              <div class="card-body p-3" style="min-height: fit-content;">
                <kendo-grid [data]="gridSettings.gridData" [pageSize]="gridSettings.state.take"
                  [skip]="gridSettings.state.skip" [sortable]="false" [pageable]="pagerSettings" [filterable]="false"
                  [columnMenu]="false" (remove)="removeHandler($event)" (pageChange)="onPageChange($event)"
                  (dataStateChange)="dataStateChange($event)" [sort]="gridSettings.state.sort"
                  [filter]="gridSettings.state.filter" [groupable]='false' [reorderable]="true">
                  <ng-template kendoGridToolbarTemplate>
                    <div class="btn-group col-lg-3 col-md-8 col-sm-12">
                    </div>
                    <div class="row" style="float :right; margin-right: 40px;">
                      <app-btn-grid [advencedAdd]='true' [add]='false' [addLink]='"add"' [exportReport]='true'
                        (exportReportEvent)="exportListMachine()" style="margin-top: -5%;    display: inline-flex;">
                      </app-btn-grid>
                    </div>
                  </ng-template>

                  <kendo-grid-column [field]="gridSettings.columnsConfig[0].field"
                    [title]="gridSettings.columnsConfig[0].title | translate">

                  </kendo-grid-column>
                  <kendo-grid-column [field]="gridSettings.columnsConfig[1].field"
                    [title]="gridSettings.columnsConfig[1].title | translate">
                  </kendo-grid-column>

                  <kendo-grid-column [field]="gridSettings.columnsConfig[2].field"
                    [title]="gridSettings.columnsConfig[2].title | translate">
                  </kendo-grid-column>

                  <kendo-grid-column [field]="gridSettings.columnsConfig[3].field"
                    [title]="gridSettings.columnsConfig[3].title | translate">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.stateMachine == 'AVAILABLE'"><span
                          class="badge badge-success">{{'AVAILABLE'|translate}}</span></div>
                      <div *ngIf="dataItem.stateMachine == 'NOT_AVAILABLE'"><span
                          class="badge badge-warning">{{'NOT_AVAILABLE'|translate}}</span></div>
                      <div *ngIf="dataItem.stateMachine == 'BROKEN'"><span
                          class="badge badge-danger">{{'OUT_OF_ORDER'|translate}}</span></div>
                    </ng-template>
                  </kendo-grid-column>


                  <kendo-grid-command-column title="{{'ACTION' | translate}}" [width]="150">
                    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
                      <i class="las la-pen cursor-pointer edit-pencil la-lg mx-3" (click)="goToAdvancedEdit(dataItem)"
                        aria-hidden="true"></i>
                      <!-- remove command directive, will be visible when not in edit mode -->
                      <i class="text-danger cursor-pointer fa fa-trash-o la-lg" aria-hidden="true"
                        (click)="removeHandler(dataItem)"></i>
                    </ng-template>
                  </kendo-grid-command-column>

                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>