<div class="card h-100" style="border: 1px solid #c0c0c0 !important;">
  <!--Begin Card eader-->
  <div class="card-header ng-star-inserted" style="background-color: white">
    <div class="row" style="float: right">
      <div class="col-lg-auto col-md-1 col-sm-12 primaryColor" style="float: right">
        <div class="row pl-3">
          <i class=" fa fa-line-chart fa-3x"></i>
          <div class="col-auto d-flex align-items-end" style="width: 240px">
            <input class="form-control InvoiceNumber pb-0" [value]="Code.value">
          </div>
        </div>
      </div>
      <app-document-header [documentForm]="documentForm" style="float: right"
        class="col-lg-auto col-md-3 col-sm-12 d-flex align-items-center">
      </app-document-header>
    </div>
  </div>
  <!--End Card header-->
  <!--Begin add form-->
  <div class="card-body">
    <form class="form-horizontal" [formGroup]="documentForm">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="form-group row">
          <div class="col-lg-12 col-sm-12 col-md-12 ">
            <div class="form-group row">

              <div class="col-sm-12 col-md-6 col-lg-4">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'TIERS'|translate}} <span
                    class="required">*</span></label>
                <app-supplier-dropdown [itemForm]="documentForm" (Selected)="receiveSupplier($event)"
                  [hideAddBtn]="true" class="error-msg messages text-left text-danger"
                  [showDetails]='showCustomerDetails' [hideAddBtn]='!hideCustomerAddBtn'
                  [placeholder]="'CHOOSE_TIER_PLACEHOLDER' | translate" #tiersDropDown>
                </app-supplier-dropdown>
                <app-control-messages [control]="documentForm.controls.IdTiers"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'DATE'|translate}}<span class="required">*</span></label>
                <kendo-datepicker [format]="formatDate()" formatPlaceholder="narrow" class="form-control"
                  formControlName="DocumentDate" (focusout)='changeData()'>
                  <kendo-datepicker-messages today="{{ 'TODAY' | translate}}"
                    toggle="{{ 'CALENDAR.MENU_TITLE' | translate}}">
                  </kendo-datepicker-messages>
                </kendo-datepicker>
                <app-control-messages [control]="documentForm.controls.DocumentDate"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>

              <div class="col-sm-12 col-md-6 col-lg-4">
                <label class="col-lg-12 col-md-12 col-sm-12">{{'REASON'|translate}}</label>
                <textarea class="form-control" formControlName="Reference" type="text" name="Reference" rows="4"
                  (change)="changeMotif()"></textarea>
                <app-control-messages [control]="documentForm.controls.Reference"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Hidden Div-->
      <div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12" hidden>
            <div class="row">
              <label class="col-lg-3 col-md-12 col-sm-12">
                {{'CURRENCY'|translate}}<span class="required">*</span>
              </label>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <app-currency-dropdown class="error-msg messages text-left text-danger" [group]="documentForm">
                </app-currency-dropdown>
                <app-control-messages [control]="documentForm.controls.IdCurrency"
                  class="error-msg messages text-left text-danger">
                </app-control-messages>
              </div>
            </div>

          </div>
        </div>
        <br>
        <div class="row" hidden>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
              <label class="col-lg-3 col-md-12 col-sm-12">{{'CONTACT'|translate}} </label>
              <div class="col-lg-6 col-md-12 col-sm-12 margin-style">
                <app-contact-dropdown class="error-msg messages text-left text-danger" [itemForm]="documentForm"
                  (selectedContact)='selectedContact($event)'>
                </app-contact-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#home3" role="tab" aria-controls="home"
                aria-selected="true">
                {{'DOCUMENT_LINE'|translate}}
              </a>
            </li>

          </ul>
          <div class="tab-content">
            <div class="tab-pane active show" id="home3" role="tabpanel">
              <app-grid-bs [itemForm]='documentForm'
                [isEditedGrid]='isDisabledForm() || (isUpdateMode && !hasUpdatePermission)'
                [documentType]="documentType" [formatOption]="formatOptions"
                [hasAddLignePermission]="(!isUpdateMode && hasAddPermission) || (isUpdateMode && hasUpdatePermission)"
                [updateValidDocumentRole]="updateValidDocumentRole" (reloadSignal)='ngOnInit()'
                [documentTaxeResume]="documentTaxeResume" [tierType]="selectedTierType">
              </app-grid-bs>


              <div class="row">

                <div class="col-6 px-0">
                  <hr style="margin-bottom: 0rem;">
                  <div class="col-12 table-responsive" style="margin-bottom: -1rem;" *ngIf="documentTaxeResume.length">
                    <table class="table table-sm" style="width: 60%;">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">{{'TAXE'|translate}}</th>
                          <th scope="col" style="text-align: center">{{'BASE_TVA'|translate}}</th>
                          <th scope="col" style="text-align: center">{{'AMOUNT'|translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let taxeResume of documentTaxeResume">
                          <td style="width: 10%;">

                            <span tooltip="{{taxeResume.IdTaxNavigation.Label}}" theme="light">
                              {{taxeResume.IdTaxNavigation.Label}}
                            </span>

                          </td>
                          <td style="width: 33%;">

                            <span
                              tooltip="{{taxeResume.HtAmountWithCurrency.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                              theme="light">

                              <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                [value]="taxeResume.HtAmountWithCurrency" class="form-control inputEnabled"
                                style="float: right; font-family: Arial,
                                                                    Helvetica; color: rgb(80, 82, 83); font-weight: bolder" [disabled]="true">
                              </kendo-numerictextbox>

                            </span>


                          </td>
                          <td style="width: 33%;">

                            <span
                              tooltip="{{taxeResume.TaxAmountWithCurrency.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                              theme="light">
                              <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                                [value]="taxeResume.TaxAmountWithCurrency" class="form-control inputEnabled"
                                style="float: right; font-family: Arial,
                                                                    Helvetica; color: rgb(80, 82, 83);font-weight: bolder " [disabled]="true">
                              </kendo-numerictextbox>
                            </span>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-6 px-0">
                  <hr style="margin-bottom: 0rem;">
                  <div class="col-12" style="margin-bottom: -1rem;">



                    <div class="row">
                      <div class="col-9  num-key">
                        <div style="font-weight: bold; font-size:0.8rem;float: right;">
                          {{'DISCOUNT'|translate}} </div>
                      </div>
                      <div class="col-3 num-value">
                        <span
                          tooltip="{{documentForm.controls['DocumentTotalDiscountWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                          theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                            formControlName="DocumentTotalDiscountWithCurrency"
                            class="num-field form-control disabledInput">
                          </kendo-numerictextbox>
                        </span>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-9 num-key">
                        <div style=" font-weight: bolder;
                                                    font-size: 15px;
                                                    font-style: normal;
                                                    color: black;float: right;">
                          {{'AMOUNT'|translate}} HT </div>
                      </div>
                      <div class="col-3 num-value-large num-value">
                        <span
                          tooltip="{{documentForm.controls['DocumentHtpriceWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                          theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                            formControlName="DocumentHtpriceWithCurrency"
                            class="num-field important-amount form-control disabledInput" style="margin-top: -5%; font-family:
                                                                Roboto, serif;font-weight: bloder;
                                                                    color: black"></kendo-numerictextbox>
                        </span>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-9 num-key">
                        <div style="font-weight: bold; font-size:0.8rem;float: right;">
                          {{'EXCLUDING_TVA'|translate}} </div>
                      </div>
                      <div class="col-3 num-value">
                        <span
                          tooltip="{{documentForm.controls['DocumentTotalExcVatTaxesWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                          theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                            formControlName="DocumentTotalExcVatTaxesWithCurrency"
                            class="num-field form-control disabledInput" style="margin-top: -5%; font-family: Arial, Helvetica;
                                                                 color: rgb(80, 82, 83); border-bottom: black;">
                          </kendo-numerictextbox>
                        </span>
                      </div>
                    </div>



                    <div class="row">
                      <div class="col-9 num-key">
                        <div style="font-weight: bold; font-size:0.8rem;float: right;">
                          {{'TVA'|translate}} </div>
                      </div>
                      <div class="col-3 num-value">
                        <span
                          tooltip="{{documentForm.controls['DocumentTotalVatTaxesWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                          theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                            formControlName="DocumentTotalVatTaxesWithCurrency"
                            class="num-field form-control disabledInput" style="margin-top: -5%; font-family: Arial,
                                                                Helvetica; color: rgb(80, 82, 83); ">
                          </kendo-numerictextbox>
                        </span>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-9 num-key">
                        <div style="font-weight: bold; font-size:0.8rem;float: right;">
                          {{'TAX_STAMP'|translate}} </div>
                      </div>
                      <div class=" col-3 num-value">
                        <app-sales-setting-combo [itemForm]=documentForm class="num-field"
                          (otherTaxeValueChange)='changeOtherTaxValue($event)' [formatOptions]='formatOptions'
                          [type]='documentForm.value.IdDocumentStatus === statusCode.Provisional'
                          [documentType]="documentType">
                        </app-sales-setting-combo>
                      </div>
                    </div>

                    <hr style="border-color: black;
                              border-bottom: 1px solid;width: 39%;float: right;
                              margin-bottom: 0rem;margin-top: 0rem;">
                    <br />

                    <div class="row" style="margin-top: -15px">
                      <div class="col-9 num-key">
                        <div style="font-weight: bolder;
                                                    font-size: 15px;
                                                    font-style: normal;
                                                    color: black;float: right;">
                          {{'AMOUNT'|translate}} TTC </div>
                      </div>
                      <div class="col-3 num-value-large num-value">
                        <span
                          tooltip="{{documentForm.controls['DocumentTtcpriceWithCurrency'].value.toLocaleString('fr-FR',{minimumFractionDigits: 3})}} {{formatOptions? formatOptions.currency : ''}}"
                          theme="light">
                          <kendo-numerictextbox [spinners]="false" [format]="formatOptions" [step]="1"
                            formControlName="DocumentTtcpriceWithCurrency"
                            class="important-amount num-field form-control disabledInput"
                            style="margin-top: -5%;
                                             font-family: Arial, Helvetica; font-weight: bloder; color: rgb(80, 82, 83);">
                          </kendo-numerictextbox>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="fixed-card-footer">
    <div class="footerStyle">

      <footer class="app-footer" style="margin-left: 0;">
        <div class="w-100">
          <div class="d-flex justify-content-end p-3 footer-content"> <span style="margin-right: 4px;">
              <a class="btn btn-sm btn-back-to-list btn-primary" (click)='onClickGoToList()'>
                <i class="fa fa-chevron-circle-left"></i> {{'BACK_TO_LIST'|translate}}
              </a>
            </span>
            <span *ngIf='!isDisabledForm() && isSubmited && validateDocumentPermission && 
            ((isUpdateMode && hasUpdatePermission) || !isUpdateMode)'>
              <button type="button" (click)="onClickValidate()" class="btn btn-sm btn-save mx-1">
                <span><i class="fa fa-floppy-o"></i>&nbsp;{{'VALIDATE'|translate}}
                </span>
              </button>
            </span>
            <span *ngIf='((!isUpdateMode && hasAddPermission) || (isUpdateMode && hasUpdatePermission)) && 
            !isDisabledForm()  && isSubmitBtnDisplay() && isGridEmpty()' style="margin-right: 4px;">
              <button type="button" (click)="saveDocumentMessageNotification()" class="btn btn-sm badge-warning">
                <span>
                  <i class="fa fa-paper-plane-o"></i> {{'SUBMIT'|translate}}
                </span>
              </button>
            </span>

            <span *ngIf='isDisabledForm() && isSubmited' [ngStyle]="{'margin-left': '4px'}">

              <kendo-dropdownbutton [data]="dataReportTemplate" (itemClick)="onJasperPrintClick($event)"
                [primary]="true" *ngIf='isMultiReportTemplate && printDocumentPermission '>
                <i class="fa fa-print"></i> &nbsp;{{'PRINT'|translate}}
              </kendo-dropdownbutton>
              <button (click)='onJasperPrintClick()' type="button" class="btn btn-primary btn-sm"
                *ngIf='!isMultiReportTemplate && printDocumentPermission '>
                <i class="fa fa-print"></i> &nbsp;{{'PRINT'|translate}}
              </button>
            </span>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>