input[type="file"] {
    display: none;
  }
  
  .carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .picture-details > .p-grid {
    // border: 1px solid #b3c2ca;
    border-radius: 3px;
    margin: 0.3em;
    text-align: center;
    padding: 2em 0 2.25em 0;
  }
  
  .carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .picture-data .picture-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 24px;
  }
  
  .carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .picture-data .picture-subtitle {
    margin: 0.25em 0 2em 0;
  }
  
  .carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .picture-data button {
    margin-left: 0.5em;
  }
  
  .carousel-demo .ui-carousel .ui-carousel-content .ui-carousel-item .picture-data button:first-child {
    margin-left: 0;
  }
  
  .carousel-demo .ui-carousel.custom-carousel .ui-carousel-dot-icon {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50%;
    display: none !important;
  }
    .ui-carousel.ui-carousel-horizontal
    .ui-carousel-content
    .ui-carousel-item.ui-carousel-item-start
    .picture-details
    > .p-grid {
    margin-left: 0.6em;
  }
  
  .carousel-demo
    .ui-carousel.ui-carousel-horizontal
    .ui-carousel-content
    .ui-carousel-item.ui-carousel-item-end
    .picture-details
    > .p-grid {
    margin-right: 0.6em;
  }
  
  .modal {
    display: block !important;
  }
  
  .modal-dialog {
    overflow-y: initial !important;
  }
  
  .modal-body {
    height: 250px;
    overflow-y: auto;
  }
  
  .codeTiers {
    background: transparent !important;
    border: none !important;
    font-size: 1.3125rem !important;
    color: #4c9aae !important;
  }
  textarea{
    overflow: scroll;
    overflow-x: hidden;
    resize: none;
  }
  