<div [formGroup]="group">
  <kendo-combobox (filterChange)="handleFilter($event)"
                  [allowCustom]="allowCustom"
                  [data]="qualificationTypeFiltredDataSource"
                  [disabled]="disabled"
                  [filterable]="true"
                  [valuePrimitive]="true"
                  class="form-control HistoryCommandMargin"
                  formControlName="IdQualificationType"
                  name="IdQualificationType"
                  textField="Label"
                  valueField="Id">
    <!--footer template-->
    <ng-template *ngIf="hasAddPermission" kendoDropDownListFooterTemplate>
      <app-drop-down-footer [addNew]="addNew.bind(this)"></app-drop-down-footer>
    </ng-template>
    <!--end footer template-->
  </kendo-combobox>
</div>
